{% extends 'kairozu.html' %}
{% block title %}Kairozu FAQ{% endblock %}
{% load static %}

{% block content %}

<div class="headsquish"></div>
<div class="fc-basic">

    <h1>Frequently Asked Questions</h1>
    <div class="s-20"></div>
    <div class="table-responsive">
        <div class="toc-summary">
            <table class="generaltable">
                {% for faq in object_list %}
                    <tr><td><a href="#{{ forloop.counter }}">{{ faq.question }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="s-30"></div>
    {% for faq in object_list %}
        <h3><div class="qa_question"><a name="{{ forloop.counter }}">{{ faq.question }}</a></div></h3>
        <div class="qa_answer">{{ faq.answer|safe }}</div>
        <div class="s-20"></div>
    {% endfor %}

</div>
<div class="s-200"></div>

{% include 'footer.html' %}

{% endblock %}
