{% extends 'kairozu.html' %}
{% block title %}Kairozu News{% endblock %}
{% load static %}

{% block content %}

<div class="container container-kairozu">
<div class="headsquish"></div>
    <h1><a href="{% url 'news:main' %}">News</a>&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.title }}</h1>
    <p class="smaller">Posted on <time datetime="{{ post.published_date|date:"c" }}"> {{ post.published_date|date }}</time></p>
    <p>{{ post.text|safe }}</p>
</div>  <!--/.container .container-kairozu-->

{% endblock %}