html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

body {
    margin: 0 20px 0 20px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    overflow: scroll !important; }
body, p, ol, ul, td, h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
    word-break: keep-all; }

main { margin-top: 50px; }
body, p, ol, ul, td { font-family: 'Roboto', sans-serif; }
h1, h2, h3, h4, h5, h6, .ls5, .ls5g, .ls5r, .ls5y {
    font-weight: normal;
    font-family: 'Raleway', sans-serif; }

h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; line-height: 1.1em; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; line-height: 1.3em; }
p { margin: 0 0 10px; }

a, a:link, a:visited  {
    text-decoration: none;
    color: #d92425;
    -webkit-transition: 200ms color ease-in-out;
    -moz-transition: 200ms color ease-in-out;
    -o-transition: 200ms color ease-in-out;
    transition: 200ms color ease-in-out; }
a, a:focus, a:hover { color: #FF9729; }

/* fade in/out animation for hovers, etc */
.trans, .close {
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out; }

.transbg, .shadowfish  {
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }

h1.lessonhead { white-space: pre-line; }

pre {
    display: block;
    font-size: 0.9em;
    padding: 20px;
    overflow: auto;
    margin: 10px 0 20px 0;
    background: #f5f5f5;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
pre::-webkit-scrollbar { -webkit-appearance: none; }
pre::-webkit-scrollbar:vertical { width: 10px; }
pre::-webkit-scrollbar:horizontal { height: 8px; }
pre::-webkit-scrollbar-thumb { border-radius: 5px; background: #bcbcbc; }
pre::-webkit-scrollbar-track { border-radius: 5px; }

.img-responsive, img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
img {
    border: 0;
    image-rendering: -webkit-optimize-contrast; }
.blog-image {
    width: 70%;
    margin: 0 auto; }

button, input, select, textarea {
    line-height: inherit;
    margin: 0;
    outline: none;
    font: inherit;
    color: inherit; }
input.btn { -webkit-appearance: none; }
input[type=email],
input[type=password],
input[type=text] {
    border: 1px solid #bcbcbc;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-transition: border 200ms ease-in-out;
    -moz-transition: border 200ms ease-in-out;
    -o-transition: border 200ms ease-in-out;
    transition: border 200ms ease-in-out; }
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus { border: 1px solid #2b2b2b; }

table {
    border-spacing: 0;
    border-collapse: collapse; }

ul, ol {
  margin-top: 0;
  margin-bottom: 10px; }

.chartable > tbody tr,
.vocablist > tbody tr,
.exprlist > tbody tr,
.rlist > tbody tr,
.groupdt > tbody tr { border-bottom: 1px solid #bcbcbc66; }
.chartable > tbody tr:last-child,
.vocablist > tbody tr:last-child,
.vocablist > tbody tr.nobottom,
.rlist > tbody tr.nobottom,
.exprlist > tbody tr:last-child,
.groupdt > tbody tr:last-child { border-bottom: none; }

.fc-general { display: flex; }
.fc-general-col {
    display: flex;
    flex-direction: column; }

.fc-general-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
.fc-general-row-fs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }

.fc-general-row-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around; }

.fc {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center; }
.fc-spaceb {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between; }

.fc-basic {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-direction: column; }
.fc-basic-center {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.fc-wrap {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center; }
.fc-wrap-space {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around; }

.fc-center {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.fc-red-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background: #d92425;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.fc-red-button:hover { background: #FF9729; }

.fishimg {
    height: 200px;
    min-width: 140px;
    margin-left: 0; }

.fc-flex-20 { flex: 0 1 20%; }
.fc-flex-30 { flex: 0 1 30%; }
.fc-flex-40 { flex: 0 1 40%; }
.fc-flex-50 { flex: 0 1 50%; }
.fc-flex-60 { flex: 0 1 60%; }
.fc-flex-70 { flex: 0 1 70%; }
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }

.fc-about {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-around;
    flex-flow: row wrap; }
.fc-about > div {
    width: 200px;
    margin: 20px; }
.fc-about > div > table tr td {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif; }
.fc-about > div > table tr td div {
    padding-top: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #8a8a8a; }

.front-bigleft, .front-bigright {
    background: #1c1c1c;
    color: #fff;
    position: relative;
    z-index: 1;
    max-width: unset;
    margin-right: -20px;
    margin-left: -20px; }
.front-bigleft:after, .front-bigleft:before, .front-bigright:after, .front-bigright:before {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1; }
.front-bigleft:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0; }
.front-bigleft:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
.front-bigright:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }
.front-bigright:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 100%; }

.front-smalltext { display: none; }
.front-smalltext-title {
    font-size: 25vw;
    line-height: 1.1em;
    font-family: serif;
    font-weight: bold; }

.front-text {
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    line-height: 1.1em; }
.fish-text-sm {
    display: block;
    line-height: 1.3em;
    padding-bottom: 10px;
    font-size: small; }
.fish-text-lg {
    display: block;
    font-variant: all-small-caps;
    line-height: 1.1em;
    font-size: x-large; }
.rc-red-b-tiny {
    font-family: 'Open Sans', sans-serif;
    font-variant: all-small-caps;
    color: white;
    line-height: 0.6em; }
.shadowfish {
    margin: 0 auto;
    border: 0;
    padding: 20px;
    width: 375px;
    border-radius: 5px;
    background: white;
    color: #2b2b2b;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.shadowfish:hover { background: #f7f7f7; }
.shadowfish-box {
    position: relative;
    min-width: 140px;
    height: 200px;
}
.shadowfish table tr td div img.fishimg {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
.shadowfish:hover table tr td div img.fishimg.top { opacity: 0; }
.shadowfish:hover span.red-words-bold, .shadowfish:hover i.fa { color: #FF9729; }
.fronticons { padding: 0 10px; }

footer {
    position: absolute;
	background: #1c1c1c;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	box-sizing: border-box;
	padding: 25px 0;
	left: 0;
	right: 0;
    margin-bottom: 100px; }
.footer-nav h3 {
    color: white;
	margin: 0 0 5px 0;
	font-size: 36px; }
.footer-nav p a {
    color: #bcbcbc;
    font-variant: all-small-caps;
    font-size: 1.3em; }
.footer-nav p a:hover { color: white; }
.footer-nav span.company-name {
	color: #606060;
	font-size: 14px; }
.footer-contacts p, .footer-contacts a {
    display: inline-block;
    font-family: 'Raleway', sans-serif; }
.footer-contacts p {
    vertical-align: bottom;
	margin-bottom: 2px; }
.footer-contacts a {
    vertical-align: middle;
	color: #bcbcbc; }
.footer-contacts a:hover { color: white; }
span.footer-sm-text {
	display: block;
	font-size: 0.8em;
	line-height: 1; }
.footer-about p {
	line-height: 1.5em;
	font-size: 0.8em;
	margin:0; }
.fc-footer {
    display: flex;
    max-width: 1170px;
    margin: 0 auto; }
.fc-footer-1 {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 60%; }
.footer-nav, .footer-contacts, .footer-about { margin: 20px; }
.footer-nav {
    flex: 0 1 60%;
    min-width: 280px; }
.footer-contacts {
    flex: 0 1 40%;
    min-width: 190px; }
.footer-about {
    flex: 0 1 40%;
    min-width: 280px; }

#welcomekoi { margin-top: 30px; max-height: 45vmin; margin-bottom: 35px; } /* kai koi on error and info pages */

.chartable {
    text-align: center;
    min-width: 400px;
    white-space: nowrap;
    margin: 10px auto; }
.chartable > tbody tr td { padding: 2px 14px; }
.blogtable > tbody tr td { padding: 0 5px; }

.interface-fg {						/* tips on the interface page */
    border-radius: 5px;
	display: table; }
#katakana, #finished-quiz, #example, .visible-block, .reference-link { display: table; }
.interface-fg, .interface-fg li, .interface-fg ul, #katakana, #finished-quiz, .reference-link, #example, .quiz-tips, .quiz-tips li, .quiz-tips ul { font-family: 'Raleway', sans-serif; margin: 0; }
.quiz-tips, #katakana, #finished-quiz, #example { margin-top: 30px; }

.info-table { display: table; margin: 25px 0 15px 0; }
.spot-table { display: table; margin: 20px 30px 0 30px; }
.spot-tablei { display: table; margin: 25px 10px 15px 0; }
.spot-image, .info-image { display: table-cell; }
.spot-text {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	padding-left: 10px; }
.spot-texti {
    display: table-cell;
	vertical-align: middle;
	font-size: 22px;
	padding-left: 10px; }
table.lessonlist { margin-left: 75px; }
.lessonlist tr td {
    font-size: 14px;
    padding-right: 10px; }
.info-text {
    display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

#nav-toggle { display: none; }
#menu-toggle {
    display: inline-block;
    width: 100%;
    line-height: 50px; }
#navmenu-toggle {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    text-align: right; }
#kaihead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
    background: #1c1c1c; }
#kaihead-contain {
    max-width: 1170px;
    margin: 0 auto; }
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
.topnav a, .topnav div, #sidecollapse a {
    color: #d5d5d5;
    text-decoration: none; }
.topnav a:hover, .topnav div:hover, #sidecollapse a:hover { color: white; }
#sitename {
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 1.5em; }
#header-links > div {
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 4px;
    float: left;
    padding-left: 15px;
    padding-right: 20px; }
#header-links > div.dropdown-kai {
    padding-right: 15px;
    margin-bottom: 0 }
a.headlink {
    font-variant: all-small-caps;
    font-size: 1.3em; }
.dropdown {
    position: relative;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }
.dropdown .dropbtn, .dropdown-sub .dropbtn-sub {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-variant: all-small-caps;
    font-size: 1.3em;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out; }
.dropdown .dropbtn > i, .dropdown-content a > i, .dropdown-sub .dropbtn-sub > i, .dropdown-sub-content a > i {
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out; }
.dropdown .dropbtn:hover > i, .dropdown-content a:hover > i, .dropbtn-sub:hover > i, .dropbtn-sub a:hover > i { color: #FF9729; }
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #2b2b2b;
    width: -moz-max-content;
    width: max-content;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    z-index: 1; }
.dropdown-content a, .dropdown-content span {
    padding: 16px 20px;
    display: block;
    font-size: 0.95em; }
.dropdown-content a:last-child, .dropdown-content span:last-child, .dropdown-content div:last-child {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
.dropbtn-sub {
    display: block;
    line-height: 1em;
    padding: 16px 20px; }
.dropdown-content a:hover, .dropdown-sub:hover { background: #080808; }
.dropdown-content span, .dropdown-sub-content span { color: #585858; }
.dropdown-sub-content { background: #2b2b2b; }
.dropdown.active, .dropdown-sub.active {
    background: #080808;
    border-radius: 0; }
.dropdown.active .dropbtn > i, .dropdown-sub.active .dropbtn-sub > i { color: #FF9729; }
.dropdown.active .dropdown-content, .dropdown-sub.active .dropdown-sub-content { display: block; }
#sidecollapse {				/* collapse-sidebar button in upper left corner on pages w/sidebar */
    font-size: 20px;
    position: relative;
    margin-right: 35px;
    cursor: pointer;
	float: left;
    width: 80px;
    height: 50px;
    z-index: 1050; }

.shadowbox {
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    background: white;
    color: #2b2b2b;
    padding: 5px 20px 20px 20px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }

.is-small {
	padding-top: 10px;
	font-size: 12px;
	line-height: 18px; }

.jp-resources {                             /* used in demodialog/demostory for info box */
	padding: 0 15px 15px 20px;
	margin-top: 15px;
	margin-bottom: 15px; }					/* containers for resource lists on about page */
.jp-resources h3 { margin-top: 15px; }		/* titles for resource lists */

table.kaitable > tbody > tr > td {
	padding: 5px 20px 5px 20px;
    font-family: 'Roboto', sans-serif;
	text-align: left;
	border: none; }
table.kaitable, table.lessonlist { white-space:nowrap; width: initial; padding: 10px 0; }
table.kaitable-left-30 { margin-left: 30px; }
table.kaitable td, table.kaitable th {
	padding: 5px 20px 5px 20px;
	text-align: left;
	border: none; }
table.kaitable thead th, table.kaitable thead td {
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    vertical-align: middle; }
table.kaitable tbody td.blankline { line-height: 5px; }

div.table-container { display: inline-block; }

#gex { margin-top: 28px; }
#gex p, #gnote p {
	font-family: 'Open Sans', sans-serif; 
	margin-bottom: 0;
	padding-bottom: 15px; }

.dashed-grey-2 { 
	border: 2px dashed #8a8a8a; 
	border-radius: 5px; }
.hi-texts {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 20px; }

.gexample {
    font-family: monospace;
    min-width: 280px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center; }

.table-responsive {
    min-height: .01%;
    overflow-y: hidden;
    overflow-x: auto;
	border-radius: 5px;
    margin-bottom: 20px;
    border: 0; }

.center-table {                         /* freq arrow lesson18 */
    margin: 0 auto;
    display: table; }

.gpt { margin: 0 auto; white-space: nowrap; }       /* grammar point table at end of lessons */
.gpt > tbody > tr > td, .gpt th {
	padding-bottom: 10px;
	text-align: left; 
	border: none; }
.gpt > tbody > tr > td, .gpt th { font-size: 26px; line-height: 30px; font-family: 'Ubuntu Condensed', sans-serif; }
.gpt > tbody > tr > td { padding: 0 10px 10px 10px; }
table.gpt > tbody > tr > td.blankline { line-height: 5px; }

.ht, .ht-summary {
	border: 2px solid #242424;
	border-radius: 5px;
	display: table;
	margin: 0 auto; }
.ht { padding: 20px 15px 10px 15px; }
.ht-summary, .toc-summary { padding: 20px 15px 20px 15px; }
.toc-summary {
	border: 2px solid #242424;
	border-radius: 5px;
	display: table; }
.ht-noborder {
    padding: 20px 15px 10px 15px;
	border-radius: 5px;
	display: table; }

.grammar_rule {									/* mini note text in grammar points, e.g. how to make verb stems */
	font-family: 'Roboto', sans-serif;
	font-size: x-small;
	line-height: 50%;
	text-align: right; }

#more-info {
    margin: 20px;
    min-width: 280px; }                /* more info blocks at end of lessons */
#more-info li {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif; }

#quizbg {
    position:relative;
    margin: 20px;
    width: 280px;
    min-height: 200px; }
#practbg {
    position:relative;
    margin: 20px;
    width: 190px;
    min-height: 200px; }
#quizbg img, #practbg img {
  position:absolute;
  left: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }
#qlink:hover div img.top { opacity: 0; }

.chapterbox, .chapterbox-dim {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    color: #2b2b2b; }		/* active (red) ch on MAIN */
.chapterbox img, .chapterbox-dim img {
    position:absolute;
    left: 0;
    width: 90px;
    z-index: -1;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
.chlink:hover div img.top { opacity: 0; }
.dashtitle, .dashtitle-dim {
    font-size: 30px;
    margin: 35px 0 0 45px;
    padding-top: 45px; }						/* MAIN PAGE chapter title (kanji+#) */
.dashtitle-dim, .dashsubtitle-dim { color: #8a8a8a; }
.dashtitle span.betatag, .dashtitle-dim span.betatag {
    font-size: x-small;
    line-height: 5px; }
.dashsubtitle, .dashsubtitle-dim {				/* MAIN PAGE chapter name (english) */
	margin: 5px 0 5px 45px;
	font-weight: bold; }
.dashprogress {									/* MAIN PAGE list of completed elements per active chapter */
	margin-left: 80px;
	text-align: left; }

#vocabholder, #sentenceholder, #practiceholder { margin-top: 20px; }
.vocablist, .exprlist { width: 100%; max-width: 1400px; margin-bottom: 10px; }
.vocablist > thead th, .vocablist > tbody th {
    padding: 10px 10px 5px 10px;
    white-space: nowrap;
    text-align: left; }
.vocablist > tbody th { padding: 0px 10px 5px 10px; }
.exprlist > thead th {
    padding: 10px 10px 0 10px;
    white-space: nowrap;
    text-align: left; }
.vocablist > thead th:first-child { padding: 10px 10px 5px 0; }
.vocablist > tbody th:first-child { padding: 0px 10px 5px 0; }
.exprlist > thead th:first-child { padding: 10px 10px 0 0; }

.vocablist > tbody td { padding: 5px 10px; }
.exprlist > tbody td { padding: 10px; }
.vocablist > tbody td:first-child { padding: 5px 10px 5px 0; }
.exprlist > tbody td:first-child { padding: 10px 10px 0 0; }

.rlist { width: 100%; }                         /* resources for learning Japanese sandbox */
.rlist > tbody td { padding: 5px; }
.rlist > tbody td.resourceheader { padding: 5px 0; }

.freq_arrow { width: 100%; }
.freq_line {
    margin-top: 14px;
    width: 98%;
    height: 10px;
	border-radius: 5px;
    float:left;
	background: #8a8a8a; /* Old browsers */
	background: -moz-linear-gradient(left, #8a8a8a 0%,#89AE13 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #8a8a8a 0%,#89AE13 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #8a8a8a 0%,#89AE13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#89AE13',GradientType=1 ); /* IE6-9 */ }
.freq_point {
    width: 0;
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #89AE13;
	border-radius: 5px;
	margin-left: -15px;
    float: right; }

.groupdt {                              /* data tables in lessons, e.g. ch2,lesson10 */
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    white-space: nowrap;
    margin: 0 auto; }
.groupdt > thead th { padding: 10px 5px; }
.groupdt > tbody td { padding: 8px 10px 8px 10px; }

.generaltable { white-space: nowrap; }      /* freq arrow lesson18 */
.generaltable > tbody > tr > td {
	padding: 5px 20px 5px 20px;
	border: none; 
    text-align: left; }

.promptc, .vocab-promptc {
	font-size: 45px;
	margin-bottom: 10px;
    white-space: nowrap;
    position: relative; }
.promptc { padding-left: 5px; } 	/* when missed ? on challenge/quizzes, the help text that pops up */

#report-issue {
    position: absolute;
    word-spacing: normal;
    bottom: 0;
    right: 5px;
    font-size: 10px; }

.litcontextbox {                                        /* literal content grey tag on quizzes */
    font-family: 'Ubuntu Condensed', sans-serif;
    background: #bcbcbc;
    padding: 0 0 1px 0;
    border-radius: 5px;
    margin-right: 5px;
    width: 60px;
    display: inline-block;
    text-align: center; }
.lit-c, .vocab-note, .context-container {
	color: #bcbcbc;
	font-family: 'Raleway', sans-serif; }
.lit-c { margin-bottom: 10px; clear: both; }
.context-container { padding-top: 20px; }
.vocab-note { padding-top: 100px; }

.bigbold {
	font-weight: bold;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px; }

.dialogue-holder { margin: 20px auto; width: 100%; max-width: 1170px; }
#dialogue-table tr td {
    font-size: 30px;
	line-height: 40px; }
.dialogue-green { padding: 15px 15px 0 20px; }
.dialogue-orange { padding: 5px 10px 0 15px; }

.ls5 { letter-spacing: 4px; }
.ls5r { letter-spacing: 4px; color: #d92425; }
.ls5g { letter-spacing: 4px; color: #89AE13; }
.ls5y { letter-spacing: 4px; color: #bcbcbc; }

.passage-holder {
	width: 100%;
	margin: 20px auto;
	display: inline-block; }

.tinyred {
	font-weight: bold;
	color: #d92425;
	font-size: 16px;
	padding-top: 15px;
	padding-left: 5px;
	float: left; }

.selectfile {
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    padding: 6px 12px;
    margin-right: 10px;
    font-size: smaller;
}
#desiredSet, #desiredChapter, #desiredLesson {
    background: white;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    font-size: larger;
}
.inlineSelect {
    display: inline;
}

.importTable td {
    padding: 10px 15px;
    max-width: 150px;
}
.flashcardTable {
    width: 100%;
    max-width: 800px;
    min-width: 280px; }
.flashcardTable label {
    width: 110px;
    display: inline-block; }
.flashcardTable input { width:80%; }
.flashcardTable input.btn {
    width: unset;
    margin-top: 20px; }
.flashcardTable .helptext {
    display: block;
    font-size: smaller;
    color: #8a8a8a; }

.pass-j, .pass-e {
	width: 49%;
	display: inline-block;
	padding: 15px 15px 15px 25px;
	font-size: 20px;
	vertical-align: top;
	word-break: keep-all; }
.pass-e { line-height: 34px; }
.pass-j { line-height: 30px; }

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes correctA { from { background:#89AE13; } to { background:#FFF; } }
@-moz-keyframes correctA { from { background:#89AE13; } to { background:#FFF; } }
@keyframes correctA { from { background:#89AE13; } to { background:#FFF; } }
@-webkit-keyframes incorrectA { from { background:#d92425; } to { background:#FFF; } }
@-moz-keyframes incorrectA { from { background:#d92425; } to { background:#FFF; } }
@keyframes incorrectA { from { background:#d92425; } to { background:#FFF; } }

/* kbox1 and kbox2 are the practice quiz boxes */
/* abox is vocab, expression, sentence, dialogue, passage, all reviews */
.abox_g fieldset input[type=text],
input[type=text].kbox1_g,
input[type=text].kbox2_g,
button.ksub_g {
	-webkit-animation:correctA;				/* call keyframe correctA, ease-in and repeat it only 1 time */
	-moz-animation:correctA;
	animation:correctA; }

.abox_r fieldset input[type=text],
input[type=text].kbox1_r,
input[type=text].kbox2_r,
button.ksub_r {
	-webkit-animation:incorrectA;  			/* call keyframe correctA, ease-in and repeat it only 1 time */
	-moz-animation:incorrectA;
	animation:incorrectA; }

.abox_g fieldset input[type=text],
.abox_r fieldset input[type=text],
input[type=text].kbox1_g,
input[type=text].kbox2_g,
input[type=text].kbox1_r,
input[type=text].kbox2_r,
input[type=text].kbox2_red,
button.ksub_g,
button.ksub_r {
	-webkit-animation-fill-mode:forwards;	/* makes sure that after animation is done we remain @ last keyframe value (white bg) */
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s; }

.abox fieldset input[type=text]:disabled,
input[type=text].kbox1:disabled,
input[type=text].kbox2:disabled {
    color: #89AE13;
	background: #fff;
    opacity: 1;
    -webkit-text-fill-color: #89AE13; }

#answer fieldset {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    border: none; }

#answer input[type=text] {
    -webkit-appearance: none;
    border-radius: 5px;
    padding-right: 1.4em;
    display: block;
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }

#answer button {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    height: 1em;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5em;
    line-height: 1em;
    border: none; }

#answer .abox_red fieldset input[type=text] { box-shadow: 0 2px 6px 0 hsla(360, 72%, 50%, 1); }
#answer .abox_red fieldset button { color: #d92425; }

#answer fieldset input[type=text][class*="_red"] { box-shadow: 0 2px 6px 0 hsla(360, 72%, 50%, 1); }
#answer fieldset button[class*="_red"] { color: #d92425; }

.challenge-grammar, .practice-grammar {
	padding-left: 5px;
	font-size: 50px;
	padding-top: 5px; }
.vocab-challenge {
	font-size: 70px;
	padding-top: 10px;
	padding-bottom: 30px; }

.progress-status {				/* sidebar progresss */
	float: right;
	padding-right: 30px;
	font-size: 16px; }

.practicebutton {
    margin: 20px;
    min-width: 200px; } 	/* practice & quiz buttons in lesson view */

span.step {
  background: #89AE13;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; }

.sbox {
    width: 280px;
    height: 260px;
	text-align: center;
    margin: 20px;
	padding: 20px;
	background: #fff;
    border-radius: 5px;
	margin-bottom: 30px; 
	border: 0;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }
.sbox .icon {
    color: #d92425;
	font-size: 60px;
	margin-top: 20px;
	margin-bottom: 35px;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out; }
.sbox:hover { background: #f7f7f7; }
.sbox:hover .icon { color: #FF9729; }
.sbox .name { margin-bottom: 8px; margin-top: 0; }
.sbox .description { margin-top: 15px; margin-bottom: 20px; }

.grey-help-text ul li {     /* on account page for password change */
    color: #8a8a8a;
    font-size: 0.8em; }

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 5px; }
.alert-dismissible { padding-right: 35px; }
.alert-dismissible .close {
    position: relative;
    top: -6px;
    right: -21px;
    color: inherit; }
.alert-success {
    color: #4E6600;
    background: #C3E457; }
.alert-info {
    color: #075684;
    background: #83BCDE; }
.alert-warning {
    color: #AE5900;
    background: #FFBE7A; }
.alert-danger {
    color: #860000;
    background: #FF7D7D; }
.alert > p {
    color: inherit;
    margin-bottom: 0; }
.alert > p + p { margin-top: 5px; }

#show-message {
	position: fixed;
	margin-top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
	width: 80%;
	z-index: 9999;
	border-radius: 5px; }

.modal {                        /* modal background (bug report form) */
    display: none;
    position: fixed;
    z-index: 1220;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4); }
.modal-content {                            /* modal itself (bug report form) */
    background: #fefefe;
    margin: 10% auto;
    border-radius: 5px;
    border: 0;
    width: 600px; }
.modal-header { border-bottom: none; padding: 20px; }
.modal-header .close { margin-top: -10px; margin-right: -3px; }
.modal-body { padding: 0 20px 20px 20px; }
.modal-title { font-size: 25px; }
.modal-open { padding-right: 0 !important; }
#id_report_type, #id_report_comment {
    width: 100%;
    max-width: 560px;
    max-height: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #bcbcbc66; }

.lh0-7 { line-height: 0.7em; }
.lh0-9 { line-height: 0.9em; }
.lh1-0 { line-height: 1em; }
.fs0-8 { font-size: 0.8em; }
.fs0-9 { font-size: 0.9em; }
.fs1-0 { font-size: 1em; }
.fs1-2 { font-size: 1.2em; }
.fs1-5 { font-size: 1.5em; }
.fs2-0 { font-size: 2em; }
.s-5 { width: 100%; height: 5px; }
.s-10 { width: 100%; height: 10px; }
.s-15 { width: 100%; height: 15px; }
.s-20 { width: 100%; height: 20px; }
.s-30 { width: 100%; height: 30px; }
.s-40 { width: 100%; height: 40px; }
.s-50 { width: 100%; height: 50px; }
.s-60 { width: 100%; height: 60px; }
.s-100 { width: 100%; height: 100px; }
.s-200 { width: 100%; height: 200px; }
.s-300 { width: 100%; height: 300px; }
.s-400 { width: 100%; height: 400px; }
.s-500 { width: 100%; height: 500px; }
.s-600 { width: 100%; height: 600px; }
.min300 { min-width: 300px; }
.margin-0 { margin: 0; }
.margin-20 { margin: 20px; }
.margin-top-0 { margin-top: 0; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-lr-20 { margin: 0 20px 0 20px; }
.pad-left-15 { padding-left: 15px; }
.pad-left-40 { padding-left: 40px; }
.pad-left-80 { padding-left: 80px; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }
.max-width-1400 { max-width: 1400px; }
.inline-block { display: inline-block; }
.width-60 { width: 60%; }
.width-75 { width: 75%; }
.width-100, .reg-user-input input[type=email] { width: 100%; }
.divt { display: table; }
.divtc { display: table-cell; }
.nowrap { white-space: nowrap; }

.btn {
    outline: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }
.btn-default {
    background: #bcbcbc;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.btn-default:hover { background: #8a8a8a; }
.btn-success {
    background: #b4d44e;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.btn-success:hover { background: #89ae13; }
.btn-danger {
    background: #e47857;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.btn-danger:hover { background: #d1552e; }
.btn-warning {
    background: #ff9729;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }
.btn-warning:hover { background: #c7741c; }
.btn-flashcard {
    font-size: 16px;
    min-width: 170px;
    margin-bottom: 10px; }
.btn-fa { font-family: FontAwesome, 'Raleway', sans-serif; }

.close {
    -webkit-appearance: none;
    padding: 0;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-shadow: 0 1px 0 white;
    filter: alpha(opacity=20);
    opacity: 0.2; }
.close:focus, .close:hover {
    color: black;
    text-decoration: none;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.lineheight-n { line-height: normal; }
.lineheight-20, .thin-list { line-height: 20px; }
.spottext-line { font-size: 20px; line-height: 24px; }

.raleway { font-family: 'Raleway', sans-serif; }
.opensans { font-family: 'Open Sans', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.mono { font-family: monospace; }

.wordsp0-5 { word-spacing: 0.5em; }
.underline { text-decoration: underline; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.larger { font-size: larger; }
.smaller { font-size: smaller; }
.xsmall { font-size: x-small; }
.italics { font-style: italic; }
.upper {
    font-variant: small-caps;
    font-variant: all-small-caps; }

.variabletext {
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    vertical-align: text-bottom; }
.partofspeech {
    font-size: 14px;
    font-weight: bold; }

.border-bottom-grey-dashed { width: 50vw; border-bottom: 2px dashed #8a8a8a; margin: 0 auto; }

.white-words { color: white; }
.dkgrey-words { color: #2b2b2b; }
.mdgrey-words { color: #585858; }
.ltgrey-words { color: #bcbcbc; }
.red-words { color: #d92425; }
.purple-words { color: #564DBC; }
.green-words { color: #89AE13; }
.grey-words { color: #8a8a8a; }
.orange-words { color: #FF9729; }
.blue-words { color: #3587B7; }
.red-words-bold, .r-w-b { font-weight: bold; color: #d92425; }
.green-words-bold, .g-w-b { font-weight: bold; color: #89AE13; }
.b-w-b { font-weight: bold; color: #3587B7; }
.p-w-b { font-weight: bold; color: #564DBC; }
.o-w-b { font-weight: bold; color: #FF9729; }
.y-w-b { font-weight: bold; color: #8a8a8a; }

.red_uw { background: #d92425; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.ora_uw { background: #FF9729; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.gre_uw { background: #89AE13; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.bla_uw { background: #2b2b2b; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.gra_uw { background: #8a8a8a; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.blu_uw { background: #3587B7; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.pur_uw { background: #564DBC; color: #fff; padding: 2px 4px; margin: 2px 2px; font-family: 'Ubuntu Condensed', sans-serif; }

.red_c { background: #d92425; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.ora_c { background: #FF9729; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.gre_c { background: #89AE13; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.bla_c { background: #2b2b2b; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.gra_c { background: #8a8a8a; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.blu_c { background: #3587B7; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }
.pur_c { background: #564DBC; color: #fff; padding: 2px 2px 3px 2px; font-family: 'Ubuntu Condensed', sans-serif; }

.bla_c_short { background: #2b2b2b; color: #fff; padding: 4px 3px 3px 3px; }
.red_c_short { background: #d92425; color: #fff; padding: 4px 3px 3px 3px; }
.pur_c_short { background: #564DBC; color: #fff; padding: 4px 3px 3px 3px; }
.ora_c_short { background: #FF9729; color: #fff; padding: 4px 3px 3px 3px; }

.user-hello > li { padding: 5px 0; }

.table-responsive::-webkit-scrollbar { -webkit-appearance: none; }
.table-responsive::-webkit-scrollbar:vertical { width: 10px; }
.table-responsive::-webkit-scrollbar:horizontal { height: 8px; }
.table-responsive::-webkit-scrollbar-thumb { border-radius: 5px; background: #bcbcbc; }
.table-responsive::-webkit-scrollbar-track { border-radius: 5px; }

.kairozu-authform { min-width: 260px; padding-top: 0; margin-bottom: 100px; margin-top: 25px; }
.kairozu-authform form { 
	padding: 0 25px 0 25px;
	background: #fff;
	border-radius: 5px;
	border: 2px dashed #8a8a8a; }
.kairozu-authform fieldset {
	padding: 20px;
	background: #fff;
	box-shadow: none;
	border: 2px dashed #8a8a8a; }
.kairozu-authform > form > h3 { padding-bottom: 10px; }
.kairozu-authform > form > .form-group > input { width: 100%; }

.accordion-group {
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border: 0; }
.accordion-toggle {
    padding: 20px;
    cursor: pointer; }
.accordion-content {
    padding: 0 20px 20px 20px;
    display: none; }
.accordion-content.default { display: block; }
.accordion-toggle:hover { color: #FF9729; }

#wrapper {              /* used with sidebar */
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 50px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #151515;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
#wrapper.toggled #sidebar-wrapper { width: 250px; }
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
.sidebar-nav li {
    color: #585858;
    text-indent: 20px;
    line-height: 39px; }
.sidebar-nav li i.fa { text-indent: 0; }
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #bcbcbc;
    -webkit-transition: color 200ms ease-in-out, background 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out, background 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out, background 200ms ease-in-out;
    transition: color 200ms ease-in-out, background 200ms ease-in-out; }
.sidebar-nav li a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.05); }
.sidebar-nav li.hilink { border-top: 1px #2b2b2b solid; }  /* isolated sidebar menu option */
.sidebar-nav li.hilink a { color: #d92425; }
.sidebar-nav li.hilink a:hover { color: #FF9729; }
.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 26px;
    text-indent: -10px;
    text-align: center;
    line-height: 60px; }

@media screen and (min-width: 768px) { /* only show above 768px */
    #wrapper { padding-left: 250px; }       /* sidebar stuff */
    #wrapper.toggled { padding-left: 0; }
    #sidebar-wrapper { width: 250px; }
    #wrapper.toggled #sidebar-wrapper { width: 0; }
}

@media all and (max-width: 1300px) { /* only show below 1300px; all under iphone 8 */
	.vocab-challenge {
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 15px; }

	.promptc, .vocab-promptc { font-size: 35px; }

	.lit-c, .vocab-note, .context-container { font-size: 10px; }
    .context-container, .vocab-note { padding-top: 0; }

	.challenge-grammar, .practice-grammar {
		font-size: 35px;
		padding-bottom: 5px; }

	.interface-fg, .interface-fg li, .interface-fg ul, .quiz-tips, .quiz-tips li, .quiz-tips ul {
		margin: 0;
		font-size: 12px;
		line-height: 16px; }
	.quiz-tips, #katakana, #finished-quiz, #example { margin-top: 30px; }
    .gpt > tbody > tr > td, .gpt th { font-size: 20px; line-height: 24px; }
	.pass-j, .pass-e { font-size: 16px; }
	.pass-e { line-height: 28px; }
	.pass-j { line-height: 22px; }
    .bigbold { font-size: 20px; }
    #dialogue-table tr td {
        font-size: 20px;
        line-height: 24px; }
}

@media all and (max-width: 950px) {
    .fc-footer { flex-wrap: wrap; }
    .footer-about { flex: 0 1 100%; }
}

@media all and (max-width: 768px) {
    .fc, .fc-spaceb { flex-wrap: wrap; }
    .fc div, .fc-spaceb div { flex: 0 1 100%; }
	.vocab-challenge {
		font-size: 25px;
		padding-top: 3px;
		padding-bottom: 5px; }
	.promptc, .vocab-promptc {
		font-size: 20px;
		margin-bottom: 5px; }
	.lit-c, .vocab-note, .context-container { font-size: 8px; }
    .context-container, .vocab-note { padding-top: 0; }
	.challenge-grammar, .practice-grammar {
		font-size: 20px;
		padding-bottom: 5px; }
	.interface-fg, .interface-fg li, .interface-fg ul, .quiz-tips, .quiz-tips li, .quiz-tips ul {
		margin: 0;
		font-size: 12px;
		line-height: 16px; }
	.quiz-tips, #katakana, #finished-quiz, #example {
        margin-top: 20px;
        font-size: 10px; }
    .gpt > tbody > tr > td, .gpt th { font-size: 16px; line-height: 20px; }
    .pass-j, .pass-e { font-size: 16px; }
	.pass-e { line-height: 26px; }
	.pass-j { line-height: 20px; }

    .modal-content {
        width: auto;
        margin: 20% 20px 10px 20px; }

    .table-responsive {
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar; }
}

@media screen and (max-width: 600px) {      /* only show up to 600px */
    #wrapper, #sidebar-wrapper {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none; }
    #sidecollapse {
        position: fixed;
        margin: 0; }
    #sitename {
        position: fixed;
        left: 50%;
        transform: translateX(-50%); }
    a.headlink, #header-links > .dropdown { display: none; }
    #nav-toggle {
        display: block;
        font-size: 20px;
        right: -20px;
        position: relative;
        width: 80px;
        height: 50px;
        text-align: right; }
    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
        position: relative; }
    .topnav.responsive #nav-toggle { position: absolute; }
    .topnav.responsive #header-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 70px;
        width: 100%; }
    .topnav.responsive #header-links > div {
        display: inline-flex;
        flex-direction: column;
        padding-top: 10px;
        width: 100%;
        margin-left: -20px; }
    #header-links > div.dropdown-kai { margin-bottom: 15px; }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        width: 100%; }
    .topnav.responsive .dropbtn-sub { text-align: left; }
    .topnav.responsive .dropdown { float: none; }
    .topnav.responsive .dropdown-content {
        position: static;
        float: none;
        margin-top: 0;
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%; }
    .topnav.responsive .dropdown-sub-content { padding-left: 20px; }
    .mobile-top-margin-10 { margin-top: 10px; }
    .dropdown.active, .dropdown-sub.active { border-radius: 5px; }
    .dropdown-sub-content { background: #080808; }
    .dropdown-content a:last-child, .dropdown-content span:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 5px; }
    .dropdown-content div:last-child { border-radius: 5px; }
    .dropdown.active { background: #2b2b2b; color: white; }
    .dropdown.active .dropbtn { color: white; }
    .dropdown:hover {
        background: #2b2b2b;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px; }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left; }
    .btn-flashcard {
        width: 100%;
        height: 3em; }
}

@media all and (max-width: 550px) {
    .fc-footer-1 { flex-wrap: wrap; }
    .hide550 { display: none; }
    .front-smalltext { display: block; }
}

@media all and (max-width: 400px) {
    .shadowfish { width: 260px; }
    .fc-red-button { width: 260px; }
    .fronticons { padding: 0 5px; }
}