#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 275px;
    top: 50px;
    width: 0;
    height: 100%;
    margin-left: -275px;
    overflow-y: auto;
    background: #1c1c1c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
#wrapper.toggled #sidebar-wrapper { width: 275px; }

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none; }

.sidebar-nav li {
    color: #585858;
    border-bottom: 1px #2b2b2b solid;
    text-indent: 20px;
    line-height: 40px; }

.sidebar-nav li i.fa { text-indent: 0; }
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #bcbcbc;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.05); }
.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }

.sidebar-nav li.hilink { border-top: 1px #2b2b2b solid; }        /* isolated sidebar menu option */
.sidebar-nav li.hilink a { color: #d92425; }
.sidebar-nav li.hilink a:hover { color: #ff9729; }

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 26px;
    text-indent: -10px;
    text-align: center;
    line-height: 60px; }

@media(min-width:768px) {
    #wrapper { padding-left: 275px; }
    #wrapper.toggled { padding-left: 0; }
    #sidebar-wrapper { width: 275px; }
    #wrapper.toggled #sidebar-wrapper { width: 0; }
}