.sentence_container {
	border-radius: 5px;
	background: #f7f7f7;
	width: 100%;
	margin: 15px auto;
	padding: 5vmin 0;
	text-align: center;
	vertical-align: middle;
	font-size: 35px;
	line-height: 100px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	color: #2b2b2b; }

.translation_container {
	border-radius: 5px;
	background: #f7f7f7;
	width: 100%;
	margin: 0 auto;
	padding: 4vmin 0;
	text-align: center;
	vertical-align: middle;
	font-size: 3vmin;
	line-height: 60px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	color: #2b2b2b; }

.game_container {
	background: #fff;
	width: 100%;
	margin: 0 auto;
	text-align: justify; }

.game_container div { display: inline-block; }

#answer1, #answer2, #answer3, #answer4 {
	border-radius: 5px;
	background: #bcbcbc;
	min-width: 200px;
	height: 100px;
	line-height: 90px;
	font-size: 3.5vmin;
	margin: 10px auto;
	text-align: center;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); }

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover { background: #89ae13; }

.game_container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block; }
