{% extends 'kairozu.html' %}
{% block title %}Kairozu Kana{% endblock %}
{% block sidecollapse %}<div id="sidecollapse"><a id="menu-toggle" href="#" class="toggle sb-icon"><span class="fa-stack">                <i class="fa dkgrey-words fa-square fa-stack-2x"></i><i class="fa fa-list fa-stack-1x fa-inverse"></i></span></a></div>{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        {% include 'sandbox/kanaresources.html' %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}
