<div class="s-30"></div>

<h4>Looking for something else?</h4>
<ul>
    <li>Need more work with hiragana and/or katakana? <a href="{% url 'demo:demokana' %}">Japanese Kana</a> has resources to help.</li>
    <li>General information about Kairozu can be found in the <a href="{% url 'demo:demointro' %}">Introduction to Kairozu</a>, on the <a href="{% url 'about' %}">About Kairozu</a> page, or in the <a href="{% url 'news:faq' %}">Kairozu FAQ</a>.</li>
    <li>The <a href="{% url 'news:main' %}">Kairozu Blog</a> has news, site updates, and adventures in Python and natural language processing.</li>
    <li>Lists of <a href="{% url 'demo:demovocablist' %}">Vocabulary</a> and <a href="{% url 'demo:demoexpressionlist' %}">Expressions</a> for this demo, and their respective <a href="{% url 'demo:demovocabquiz' %}">Vocabulary</a> and <a href="{% url 'demo:demoexpressionquiz' %}">Expression</a> quizzes.</li>
    <li>See an overview of the <a href="{% url 'demo:grammarlist' %}">grammar taught in Kairozu Chapters 1-5</a>.</li>
    <li>The <a href="{% url 'demo:demolesson' %}">Example Lesson</a>, <a href="{% url 'demo:demopracticequiz' %}">Practice Sentences</a> and <a href="{% url 'demo:demosentencequiz' %}">Sentence クイズ</a> illustrate the basic underlying structure of Kairozu.</li>
    <li>View the example interfaces for end-of-chapter <a href="{% url 'demo:storydemo' %}"><i class="fa fa-edit" aria-hidden="true"></i> Passage</a> and <a href="{% url 'demo:dialoguedemo' %}"><i class="fa fa-comment-o" aria-hidden="true"></i> Dialogue</a> exercises.</li>
</ul>

<h2>To access more Japanese grammar and keep track of your progress: <a href="{% url 'register' %}">Register for a Kairozu Account</a>!</h2>
