{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Lesson{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">

        <div class="center-block text-align-center">
            <h1 class="lessonhead">The <span class="green-words">dog</span> is <span class="orange-words">cute</span>.</h1>
            <h1 class="lessonhead"><span class="green-words">いぬ</span>&#32;&nbsp;<span class="green-words"><b>は</b></span>&#32;&nbsp;<span class="orange-words">かわいい</span>&#32;&nbsp;です。</h1>
        </div>

        <div id="gex">
            <p>The sentence form ｢<span class="green-words">Ｘ</span> <span class="green-words"><b>は</b></span> <span class="orange-words">Ｙ</span> です｣ means "<span class="green-words">X</span> is <span class="orange-words">Y</span>" or "<span class="green-words"><b>as for</b></span> <span class="green-words">X</span>, (it) is <span class="orange-words">Y</span>." The particle <span class="green-words"><b>は</b></span> marks <span class="green-words">X</span> as the <span class="green-words"><b>topic of the sentence</b></span> and is akin to saying "<span class="green-words"><b>as for</b></span> <span class="green-words">X</span>..."; or in the sentence above, "<span class="green-words"><b>as for</b></span> <span class="green-words">the dog</span>, (it) is <span class="orange-words">cute</span>."</p>

            <p><span class="green-words">X</span> is <span class="green-words">what</span> you are talking about; he, she, the dog, the cat, I, we, Mr. Smith, etc. <span class="orange-words">Y</span> is the <span class="orange-words">information</span> that you are giving about something; occupation, name, description, etc. The copula です at the end of a sentence is equivalent to the English "am," "is," or "are."</p>

            <div class="table-responsive">
                <table class="kaitable kaitable-left-30">
                    <tbody>
                        <tr>
                            <td>The <span class="green-words">dog</span> is <span class="orange-words">cute</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">いぬ</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">かわいい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">cat</span> is <span class="orange-words">cute</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">ねこ</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">かわいい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="blankline" colspan=4>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">bag</span> is <span class="orange-words">small</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">かばん</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">ちいさい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">bag</span> is <span class="orange-words">new</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">かばん</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">あたらしい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="blankline" colspan=4>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">bag</span> is <span class="orange-words">large</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">かばん</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">おおきい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">dog</span> is <span class="orange-words">large</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">いぬ</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">おおきい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">book</span> is <span class="orange-words">large</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">ほん</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">おおきい</span>　です。</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>The <span class="green-words">cat</span> is <span class="orange-words">large</span>.</td>
                            <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                            <td><span class="green-words">ねこ</span>　<span class="green-words"><b>は</b></span>　<span class="orange-words">おおきい</span>　です。</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>The topic is usually omitted if the listener can infer what you're talking about from the context of the conversation. For example, if someone asked "what is that piece of paper?" you might simply say "a letter" instead of "that piece of paper is a letter."</p>

            <p>The form ｢<span class="orange-words">Ｙ</span> です｣ is a complete sentence where the topic is implied or understood, but not directly stated. Both here and in future lessons, if something is in parentheses (or if the context is otherwise described) in the English sentence, it is generally omitted in Japanese.</p>

            <div class="table-responsive">
                <table class="kaitable kaitable-left-30">
                    <tbody>
                            <tr>
                                    <td>(It) is <span class="orange-words">big</span>.</td>
                                    <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                    <td><span class="orange-words">おおきい</span>　です。</td>
                                    <td>Listener understands what "it" is from the context of the conversation.</td>
                            </tr>
                            <tr>
                                    <td>(It) is <span class="orange-words">cute</span>.</td>
                                    <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                    <td><span class="orange-words">かわいい</span>　です。</td>
                                    <td>Listener understands what "it" is from the context of the conversation.</td>
                            </tr>
                            <tr>
                                    <td class="blankline" colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                    <td>(It) is a <span class="orange-words">dog</span>.</td>
                                    <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                    <td><span class="orange-words">いぬ</span>　です。</td>
                                    <td>Listener understands what "it" is from the context of the conversation.</td>
                            </tr>
                            <tr>
                                    <td>(It) is a <span class="orange-words">book</span>.</td>
                                    <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                    <td><span class="orange-words">ほん</span>　です。</td>
                                    <td>Listener understands what "it" is from the context of the conversation.</td>
                            </tr>
                    </tbody>
                </table>
            </div>

            <div class="s-15"></div>
            <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
            <div class="table-responsive">
                <div class="ht">
                    <table class="gpt">
                        <tbody>
                            <tr>
                                <td><span class="gre_uw">X</span>　<span class="green-words"><b>は</b></span>　<span class="ora_uw">Y</span>　です｡</td>
                                <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                <td><span class="gre_uw">X</span> is <span class="ora_uw">Y</span>.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                                <td><span class="green-words"><b>As for</b></span> <span class="gre_uw">X</span>, (it) is <span class="ora_uw">Y</span>.</td>
                            </tr>
                            <tr>
                                <td class="grule" colspan="3"><div class="grammar_rule">Drop ｢X は｣ if topic can be inferred.</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="fc-general-row">
                <div class="fc-flex-30">
                    <div class="gexample dashed-grey-2">
                        The <span class="green-words">cat</span> is <span class="orange-words">small</span>.<br />
                        <span class="green-words">ねこ</span>&#32;&nbsp;<span class="green-words"><b>は</b></span>&#32;&nbsp;<span class="orange-words">ちいさい</span>&#32;&nbsp;です。
                    </div>
                </div>

                <div class="fc-flex-30">
                    <div class="gexample dashed-grey-2">
                        The <span class="green-words">dog</span> is <span class="orange-words">cute</span>.<br />
                        <span class="green-words">いぬ</span>&#32;&nbsp;<span class="green-words"><b>は</b></span>&#32;&nbsp;<span class="orange-words">かわいい</span>&#32;&nbsp;です。
                    </div>
                </div>

                <div class="fc-flex-30">
                    <div class="gexample dashed-grey-2">
                        The <span class="green-words">book</span> is <span class="orange-words">new</span>.<br />
                        <span class="green-words">ほん</span>&#32;&nbsp;<span class="green-words"><b>は</b></span>&#32;&nbsp;<span class="orange-words">あたらしい</span>&#32;&nbsp;です。
                    </div>
                </div>
            </div>

            <div class="fc-general-row-rev">
                <div class="fc-flex-50 order2">
                    <div id="more-info">
                        <ul>
                            <li>The topic denoted by は, usually coming at the beginning of the sentence, establishes what the sentence is about. It must be someone or something that both the speaker and the listener can see or hear, or identify from previous conversation or shared knowledge.</li>
                            <li>です is polite speech; when speaking with family or friends, だ can be used instead.</li>
                        </ul>
                    </div>
                </div>

                <div class="fc-flex-20 practicebutton order1">
                    <a href="{% url 'demo:demosentencequiz' %}"><img id="lessonquiz" alt="クイズ" src="{% static 'img/quiz_button.png' %}" /></a>
                </div>

                <div class="fc-flex-20 practicebutton order1">
                    <a href="{% url 'demo:demopracticequiz' %}"><img id="lessonpractice" alt="Practice" src="{% static 'img/practice_button.png' %}" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<script type='text/javascript'>
    $(document).ready(function() {
        $('#lessonquiz').hover(function() {
            $(this).attr("src", "{% static 'img/quiz_button-hover.png' %}");
        }, function() {
            $(this).attr("src", "{% static 'img/quiz_button.png' %}");
        });
        $('#lessonpractice').hover(function() {
            $(this).attr("src", "{% static 'img/practice_button-hover.png' %}");
        }, function() {
            $(this).attr("src", "{% static 'img/practice_button.png' %}");
        });
    });
</script>

{% endblock %}
