{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Expression Quiz{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div class="fc-basic">
        <div id='vocabholder'>
            <div id='vfield'>
                <div id='literal_one' class='vocab-note text-align-center'>&#8203;</div>
                <div id='expression_english' class='vocab-challenge text-align-center'></div>

                <div class='vocab-promptc text-align-center'>
                    <span id='hint_block' class='ls5'>&#8203;</span>
                </div>

                <form id='expressionquizform' action='' method='post' class='abox'>{% csrf_token %}
                    <input id='id_expressionattempt' type='text' name='expression_attempt' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                    <input id='eactual' type='hidden' name='expression_actual' value='' />
                    <input id='eindex' type='hidden' name='eindex' value='' />
                    <input type='submit' value='&#8680;' />
                </form>
            </div>  <!-- /#vfield -->
        </div>  <!-- /#vocabholder -->
    </div>
    <div class="fc-basic">
        <div class="quiz-tips dashed-grey-2">
            <span class="bold">Tips:</span>
            <ul>
                <li>Type the word in romaji; it should auto-convert into hiragana.</li>
                <li>Hold down shift to auto-convert roman characters into katakana.</li>
                <li>Spaces and punctuation are okay, but not necessary.</li>
            </ul>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var elevel = 2,
        eindex = 0;
    var $expressionquizform = $('#expressionquizform');
    var input = document.getElementById('id_expressionattempt');
    wanakana.bind(input);

    function expressionNext(data) {
        if (data['id'] != null) {
            $('#expression_english').html(data['english']);
            $('#eactual').val(data['kana_clean']);
            switch(elevel) {
                case 2:
                    $('#hint_block').html(data['kana_all_blank']); break;
                case 1:
                    $('#hint_block').html(data['kana_alt_blank']); break;
                default:
                    $('#hint_block').html(data['f_kana']); break;
            }
            $expressionquizform.removeClass('abox_g abox_r');
        } else {
            $.get("{% url 'demo:demoexpressionsuccess' %}").done(function (data) {
                $('#wrapper').html(data);
            });            
        }
    }
    $expressionquizform.submit(function(event) {
        event.preventDefault();
        var clean_attempt = cleanInput($('#id_expressionattempt').val());
        if (clean_attempt == $('#eactual').val()) {
            $expressionquizform.attr('class', 'abox abox_g');
            if (elevel == 2) { eindex++; } else { elevel = 2; }
            $('#hint_block').attr('class', 'ls5');
        } else {
            $expressionquizform.attr('class', 'abox_red abox_r');
            if (elevel > 0) { elevel--; }
            $('#hint_block').attr('class', 'ls5r');
        }
        $('#eindex').val(eindex);
        var form_data = $expressionquizform.serialize();
        $.post("{% url 'demo:demoexpressioncheck' %}", form_data).done(function(data) {
            $expressionquizform[0].reset();
            expressionNext(data);
        });
    });

    $(document).ready(function() {
        var urlstring = "/demo/expressionquiz/grab/0";
        $.get(urlstring).done(function (data) {
            expressionNext(data);
        });
    });
</script>

{% endblock %}
