{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Expressions{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

    <div id="wrapper">
        {% include 'demo/sidebar.html' %}
        <div class="fc-general-col">
            <h1>回路図 Demo Expressions</h1>

            <p class="raleway">This is a list of the expressions used in the Kairozu Demo. Try the <a href="{% url 'demo:demoexpressionquiz' %}">expression quiz demo</a> once you've learned these phrases -- in the regular interface, individual chapter quizzes remain accessible post-completion for review purposes, and a cumulative quiz becomes available to review content across chapters.</p>

            {% include 'main/expressionlist_base.html' %}

        </div>  <!-- /.fc-general-col -->
    </div>  <!-- /#wrapper -->

{% endblock %}
