{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Expressions{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        <h1>回路図 Demo Expressions</h1>
        <p class="raleway">This is a list of the expressions used in the Kairozu Demo. Try the <a href="{% url 'demo:demoexpressionquiz' %}">expression quiz demo</a> once you've learned these phrases -- in the regular interface, individual chapter quizzes remain accessible post-completion for review purposes, and a cumulative quiz becomes available to review content across chapters.</p>
        <div class="s-5"></div>
        <div class="table-responsive">
            <table class="vocablist table">
                <thead>
                    <tr><th>English・英語</th><th>Kana・仮名</th><th>Note</th></tr>
                </thead>
                <tbody>
                    {% for phrase in object_list %}
                        <tr>
                            <td>{{ phrase.english }}</td>
                            <td>{{ phrase.kana }}</td>
                            <td>
                                {{ phrase.note }}
                                <br />
                                {% if phrase.prompt %}
                                    <span class="smaller grey-words raleway">Example: {{ phrase.prompt }}</span>
                                {% endif %}
                                &nbsp;
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}
