{% include 'demo/sidebar.html' %}

<div class="fc-general-col">
    <div id='vocabholder'>
        <div id='vfield'>
            <h1>おめでとう～！　You've finished the expression quiz!</h1>
            <h2>つぎ　は？</h2>
            <h3>Read through the example lesson: "<a href="{% url 'demo:demolesson' %}">The dog is cute</a>." Links to the <a href="{% url 'demo:practicequiz' %}">practice sentences</a> and <a href="{% url 'demo:demosentencequiz' %}">クイズ</a> are at the bottom of the lesson.</h3>
            {% include 'demo/demosuccess.html' %}
        </div>  <!-- /#vfield -->
    </div>  <!-- /#vocabholder -->
</div>
<div class="s-100"></div>
