{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Expression Quiz{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div class="fc-basic">
        <div id='vocabholder'>
            <div id='vfield'>
                <div id='literal_one' class='vocab-note text-align-center'>&#8203;</div>
                <div id='english' class='vocab-challenge text-align-center'></div>

                <div class='vocab-promptc text-align-center'>
                    <span id='hint' class='ls5'>&#8203;</span>
                </div>

                <form id='quiz_form' class='abox' action='' method='post'>{% csrf_token %}
                    <input id='attempt' type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                    <input type='submit' value='&#8680;' />
                </form>
            </div>  <!-- /#vfield -->
        </div>  <!-- /#vocabholder -->
    </div>
    <div class="fc-basic">
        <div class="quiz-tips dashed-grey-2">
            <span class="bold">Tips:</span>
            <ul>
                <li>Type the word in romaji; it should auto-convert into hiragana.</li>
                <li>Hold down shift to auto-convert roman characters into katakana.</li>
                <li>Spaces and punctuation are okay, but not necessary.</li>
            </ul>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    const english = $('#english');
    const hint = $('#hint');
    const qform = $('#quiz_form');
    const attempt = $('#attempt');
    const pagewrap = $('#wrapper');

    var qdata = '',
        q = 0,
        totalq = 0,
        level = 2;

    function vocab() {
        english.html(qdata[q]['english']);
        switch(level) {
            case 2:
                hint.html(qdata[q]['kana_all_blank']); break;
            case 1:
                hint.html(qdata[q]['kana_alt_blank']); break;
            default:
                hint.html(qdata[q]['f_kana']); break;
        }
        if (qform.hasClass('abox_g')) {
            qform.attr('class', 'abox reset_abox_g');
        } else if (qform.hasClass('abox_r')) {
            qform.attr('class', 'abox_red reset_abox_r');
        }
    }

    qform.submit(function(event) {
        event.preventDefault();
        var clean = cleanInput(attempt.val());
        if (clean === qdata[q]['kana_clean']) {
            qform.attr('class', 'abox abox_g');
            hint.attr('class', 'ls5');
            if (level === 2) { q++; } else { level = 2; }
        } else {
            qform.attr('class', 'abox_red abox_r');
            hint.attr('class', 'ls5r');
            if (level > 0) { level--; }
        }
        if (q < totalq) {
            qform[0].reset();
            vocab();
        } else {
            $.get("{% url 'demo:demoexpressionsuccess' %}").done(function (data) {
                pagewrap.html(data);
            });
        }
    });

    $(document).ready(function() {
        var urlstring = "/demo/expressionquiz/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            vocab();
        });
    });
</script>

{% endblock %}
