{% extends 'kairozu.html' %}
{% block title %}Kairozu Grammar Summary{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        <h1>Kairozu Grammar Chapters 1-5</h1>
        <div class="s-15"></div>

        <div class="table-responsive">
            <table class="vocablist">
                {% for grammar in grammar_list %}
                    <tr>
                        <td>{{ grammar.title }}</td>
                        <td>{{ grammar.overview }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}