{% include 'demo/sidebar.html' %}

<div class="fc-general-col">
    <div id='practiceholder'>
        <div id='pfield'>
            <h1>おめでとう～！　You've finished the Practice Sentences!</h1>
            <h2>つぎ　は？</h2>
            <h3>Try the <a href="{% url 'demo:demosentencequiz' %}">Sentence クイズ</a>! In Kairozu proper, sentences from each クイズ will aggregate in a spaced-repetition review system.</h3>
            {% include 'demo/demosuccess.html' %}
        </div>  <!-- /#pfield -->
    </div>  <!-- /#practiceholder -->
</div>
<div class="s-100"></div>
