{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Practice{% endblock %}
{% block sidecollapse %}<div id="sidecollapse"><a id="menu-toggle" href="#" class="toggle sb-icon"><span class="fa fa-th-list trans"></span></a></div>{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div id='page-content-wrapper'>
        <div class="fc-general-col">
            <div id='practiceholder'>

                <div id='pfield'>
                    <div id='practice_eng_one' class='practice-grammar'></div>

                    <div class='promptc'>
                        <span id='hint_one' class='ls5'></span>
                    </div>

                    <form id='practicequizform' action='' method='post'>{% csrf_token %}
                        <input id='id_pone_attempt' type='text' name='pone_attempt' class='kbox1' autocapitalize='none' autocorrect='off' />
                    <div id='literal_one' class='lit-c'></div>

                    <div id='practice_eng_two' class='practice-grammar'></div>

                    <div class='promptc'>
                        <span id='hint_two' class='ls5'></span>
                    </div>

                        <input id='id_ptwo_attempt' type='text' name='ptwo_attempt' class='kbox2' autocapitalize='none' autocorrect='off' />
                        <input id='poneact' type='hidden' name='pone_actual' value='' />
                        <input id='ptwoact' type='hidden' name='ptwo_actual' value='' />
                        <input id='pstrict' type='hidden' name='practice_strict' value='0' />
                        <input id='pindex' type='hidden' name='pindex' value='' />
                        <input id='ksubmit' type='submit' class='ksub' value='&#8680;' />
                    </form>
                    <div id='literal_two' class='lit-c'></div>
                </div>  <!-- /#pfield -->

            </div>  <!-- /#practiceholder -->
        </div>
        <div class="fc-general-col">
            <div class="quiz-tips dashed-grey-2">
                <span class="bold">Tips:</span>
                <ul>
                    <li>Type the word in romaji; it should auto-convert into hiragana.</li>
                    <li>Hold down shift to auto-convert roman characters into katakana.</li>
                    <li>Spaces and punctuation are okay, but not necessary.</li>
                </ul>
            </div>
        </div>
        <div class="s-100"></div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src="{% static 'js/wanakana.js' %}"></script>
<script type='text/javascript'>
    var plevel = 0;
    var pindex = 0;
    var pcode = 'AD';
    var input = document.getElementById('id_pone_attempt');
    var input2 = document.getElementById('id_ptwo_attempt');
    wanakana.bind(input);
    wanakana.bind(input2);

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);       // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));    // Only send token to relative/local URLs
            }
        }
    });

    function practiceNext(data) {
        if (data['vieworder'] != null) {
            $('#practice_eng_one').html(data['pone_english']);
            $('#practice_eng_two').html(data['ptwo_english']);
            $('#practicequizform #poneact').val(data['pone_kana_clean']);
            $('#practicequizform #ptwoact').val(data['ptwo_kana_clean']);
            switch(pcode) {
                case 'BC':
                    $('#hint_one').html(data['pone_kana_all'] + '&nbsp;');
                    $('#hint_two').html(data['ptwo_kana_all'] + '&nbsp;');
                    break;
                case 'OC':
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana_alt'] + '&nbsp;');                        
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana'] + '&nbsp;');         
                    }
                    break;
                case 'TC':
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana_alt'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana'] + '&nbsp;');                        
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana'] + '&nbsp;');         
                    }
                    break;
                default:
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana_alt'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana_alt'] + '&nbsp;');                        
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&nbsp;');
                        $('#hint_two').html(data['ptwo_kana'] + '&nbsp;');         
                    }
                    break;                  
            }
            if (data['pone_literal'].trim()) {
                $('#literal_one').html('<div class="white-words litcontextbox upper">literal</div>' + data['pone_literal'] + '&nbsp;');
            } else {
                $('#literal_one').html('&nbsp;');
            }
            if (data['ptwo_literal'].trim()) {
                $('#literal_two').html('<div class="white-words litcontextbox upper">literal</div>' + data['ptwo_literal'] + '&nbsp;');
            } else {
                $('#literal_two').html('&nbsp;');
            }
            $('#id_pone_attempt').removeClass('kbox1_g kbox1_r');
            $('#id_ptwo_attempt').removeClass('kbox2_g kbox2_r');
            $('#ksubmit').removeClass('ksub_r ksub_g');
        } else {
            $.get("{% url 'demo:demopracticesuccess' %}").done(function (data) {
                $('#wrapper').html(data);
            });      
        }
    }

    $('#practicequizform').submit(function(event) {
        event.preventDefault();
        var pone_clean_att = $('#id_pone_attempt').val().replace(/[　。、？！「」\'\",.?!\s]/g, "");
        var ptwo_clean_att = $('#id_ptwo_attempt').val().replace(/[　。、？！「」\'\",.?!\s]/g, "");
        if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
            pcode = 'BC';
            if (plevel == 2) {
                pindex++;
            } else {
                plevel = 2;
            }
            $('#id_pone_attempt').attr('class', 'kbox1 kbox1_g').prop("disabled", false).val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2 kbox2_g').prop("disabled", false).val('');
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $('#hint_one').attr('class', 'ls5');
            $('#hint_two').attr('class', 'ls5');
        } else if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att != $('#ptwoact').val())) {
            pcode = 'OC';
            if (plevel > 0) {
               plevel --;
           }
            $('#id_pone_attempt').attr('class', 'kbox1 kbox1_g').prop("disabled", true);
            $('#id_ptwo_attempt').attr('class', 'kbox2_red kbox2_r').val('').focus();
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $('#hint_one').attr('class', 'ls5g');
            $('#hint_two').attr('class', 'ls5r');
        } else if ((pone_clean_att != $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
            pcode = 'TC';
           if (plevel > 0) {
               plevel --;
           }
            $('#id_pone_attempt').attr('class', 'kbox1_red kbox1_r').val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2 kbox2_g').prop("disabled", true);
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $('#hint_one').attr('class', 'ls5r');
            $('#hint_two').attr('class', 'ls5g');
        } else {
            pcode = 'NC';
           if (plevel > 0) {
               plevel --;
           }
            $('#id_pone_attempt').attr('class', 'kbox1_red kbox1_r').val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2_red kbox2_r').val('');
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $('#hint_one').attr('class', 'ls5r');
            $('#hint_two').attr('class', 'ls5r');
        }
        $('#practicequizform #pindex').val(pindex);
        var form_data = $('#practicequizform').serialize();
        $.post("{% url 'demo:demopracticecheck' %}", form_data).done(function(data) {
            practiceNext(data);
        });
    });

    $(document).ready(function() {
        var urlstring = "/demo/practicequiz/grab/0";
        $.get(urlstring).done(function (data) {
            practiceNext(data);
            $('#id_pone_attempt').focus();
        });
    });
</script>

{% endblock %}
