{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Practice{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        <div id='practiceholder'>
            <div id='pfield'>
                <div id='english' class='practice-grammar'></div>
                <div class='promptc'>
                    <span id='hint' class='ls5'>&#8203;</span>
                </div>

                <div id="answer">
                    <form id='quiz' action='' method='post'>{% csrf_token %}
                        <fieldset class>
                            <input id='attempt' class='kbox1' type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                        </fieldset>
                        <div id='literal' class='lit-c'>&#8203;</div>

                        <div id='english_b' class='practice-grammar'></div>
                        <div class='promptc'>
                            <span id='hint_b' class='ls5'>&#8203;</span>
                        </div>

                        <fieldset class>
                            <input id='attempt_b' class='kbox2' type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' />
                            <button id='ksubmit'><i class="fa fa-chevron-right"></i></button>
                        </fieldset>
                    </form>
                </div>
                <div id='literal_b' class='lit-c'>&#8203;</div>
            </div>  <!-- /#pfield -->
        </div>  <!-- /#practiceholder -->
    </div>
    <div class="fc-general-col">
        {% include 'demo/demo_hints.html' %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src="{% static 'js/wanakana.js' %}"></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    var input_b = document.getElementById('attempt_b');
    wanakana.bind(input);
    wanakana.bind(input_b);

    var quiz = $('#quiz'),
        english = $('#english'),
        english_b = $('#english_b'),
        hint = $('#hint'),
        hint_b = $('#hint_b'),
        attempt = $('#attempt'),
        attempt_b = $('#attempt_b'),
        pagewrap = $('#wrapper'),
        literal = $('#literal'),
        literal_b = $('#literal_b'),
        submit = $('#ksubmit');

    var qdata = '',
        q = 0,
        pcode = 'AD',
        totalq = 0,
        level = 0;

    function practice() {
        english.html(qdata[q]['pone_english']);
        english_b.html(qdata[q]['ptwo_english']);
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['pone_literal'] + '&#8203;');
        literal_b.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['ptwo_literal'] + '&#8203;');
        switch(pcode) {
            case 'BC':
                hint.html(qdata[q]['pone_kana_all'] + '&#8203;');
                hint_b.html(qdata[q]['ptwo_kana_all'] + '&#8203;');
                break;
            case 'OC':
                if (level === 1) {
                    hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_alt'] + '&#8203;');
                } else {
                    hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                } break;
            case 'TC':
                if (level === 1) {
                    hint.html(qdata[q]['pone_kana_alt'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                } else {
                    hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                } break;
            default:
                if (level === 1) {
                    hint.html(qdata[q]['pone_kana_alt'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_alt'] + '&#8203;');
                } else {
                    hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                } break;
        }
    }

    quiz.submit(function(event) {
        event.preventDefault();
        var clean = cleanInput(attempt.val()),
            clean_b = cleanInput(attempt_b.val()),
            actual = qdata[q]['pone_kana_clean'],
            actual_b = qdata[q]['ptwo_kana_clean'];
        if ((clean === actual) && (clean_b === actual_b)) {
            pcode = 'BC';
            if (level === 2) { q++; } else { level = 2; }

            attempt.removeClass("kbox1_red");
            attempt_b.removeClass("kbox2_red");
            submit.removeClass("ksub_red");

            attempt.addClass("kbox1_g").prop("disabled", false).val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt.removeClass("kbox1_g").focus(); });
            attempt_b.addClass("kbox2_g").prop("disabled", false).val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt_b.removeClass("kbox2_g"); });
            submit.addClass("ksub_g").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { submit.removeClass("ksub_g"); });

            hint.attr('class', 'ls5');
            hint_b.attr('class', 'ls5');
        } else if ((clean === actual) && (clean_b !== actual_b)) {
            pcode = 'OC';
            if (level > 0) { level--; }

            attempt.removeClass("kbox1_red");

            attempt.addClass("kbox1_g").prop("disabled", true).one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt.removeClass("kbox1_g"); });
            attempt_b.addClass("kbox2_red kbox2_r").val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt_b.removeClass("kbox2_r").focus(); });
            submit.addClass("ksub_red ksub_r").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { submit.removeClass("ksub_r"); });

            hint.attr('class', 'ls5g');
            hint_b.attr('class', 'ls5r');
        } else if ((clean !== actual) && (clean_b === actual_b)) {
            pcode = 'TC';
            if (level > 0) { level--; }

            attempt.removeClass("kbox2_red");
            submit.removeClass("ksub_red");

            attempt.addClass("kbox1_red kbox1_r").val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt.removeClass("kbox1_r").focus(); });
            attempt_b.addClass("kbox2_g").prop("disabled", true).one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt_b.removeClass("kbox2_g"); });
            submit.addClass("ksub_g").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { submit.removeClass("ksub_g"); });

            hint.attr('class', 'ls5r');
            hint_b.attr('class', 'ls5g');
        } else {
            pcode = 'NC';
            if (level > 0) { level--; }

            attempt.addClass("kbox1_red kbox1_r").val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt.removeClass("kbox1_r").focus(); });
            attempt_b.addClass("kbox2_red kbox2_r").val('').one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { attempt_b.removeClass("kbox2_r"); });
            submit.addClass("ksub_red ksub_r").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { submit.removeClass("ksub_r"); });

            hint.attr('class', 'ls5r');
            hint_b.attr('class', 'ls5r');
        }
        if (q < totalq) {
            practice();
        } else {
            $.get("{% url 'demo:demopracticesuccess' %}").done(function (data) {
                pagewrap.html(data);
            });
        }
    });

    $(document).ready(function() {
        var urlstring = "/demo/practicequiz/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            if (totalq > 0) {
                practice();
            }
        });
    });
</script>

{% endblock %}
