{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo クイズ{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">

        <div id='sentenceholder'>
            <div id='sfield'>
                <div id='english' class='challenge-grammar'></div>
                <div class='promptc'>
                    <span id='hint' class='ls5r'>&#8203;</span>
                </div>

                {% include 'main/quiz_answer.html' %}
                <div id='literal' class='lit-c'></div>
            </div>  <!-- /#sfield -->
        </div>  <!-- /#sentenceholder -->

    </div>
    <div class="fc-general-col">
        {% include 'demo/demo_hints.html' %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    var english = $('#english'),
        hint = $('#hint'),
        quiz = $('#quiz'),
        attempt = $('#attempt'),
        pagewrap = $('#wrapper'),
        literal = $('#literal');

    var qdata = '',
        q = 0,
        totalq = 0,
        level = 3;

    function sentence() {
        english.html(qdata[q]['english']);
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['literal'] + '&#8203;');
        switch(level) {
            case 3:
                hint.html('&#8203;'); break;
            case 2:
                hint.html(qdata[q]['kana_all_blank']); break;
            case 1:
                hint.html(qdata[q]['kana_alt_blank']); break;
            default:
                hint.html(qdata[q]['f_kana']); break;
        }
    }

    quiz.submit(function(event) {
        event.preventDefault();
        if (attempt.val() !== '') {
            var clean = cleanInput(attempt.val());
            if (clean === qdata[q]['kana_clean']) {
                quiz.removeClass("abox_red");
                quiz.addClass("abox_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_g"); });
                hint.attr('class', 'ls5');
                if (level === 3) { q++; } else { level = 3; }
            } else {
                quiz.addClass("abox_red abox_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_r"); });
                hint.attr('class', 'ls5r');
                if (level > 0) { level--; }
            }
            if (q < totalq) {
                quiz[0].reset();
                sentence();
            } else {
                $.get("{% url 'demo:demosentencesuccess' %}").done(function (data) {
                    pagewrap.html(data);
                });
            }
        }
    });

    $(document).ready(function() {
        $('#savenow').hide();
        var urlstring = "/demo/sentencequiz/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            if (totalq > 0) {
                sentence();
            }
        });
    });
</script>

{% endblock %}
