{% include 'demo/sidebar.html' %}

<div class="fc-general-col">
    <div id='sentenceholder'>
        <div id='sfield'>
            <h1>おめでとう～！　You've finished the sentence クイズ！</h1>
            <h2>つぎ　は？</h2>
            <h3>View example interfaces for the end-of-chapter <a href="{% url 'demo:storydemo' %}"><i class="fa fa-edit" aria-hidden="true"></i> passage</a> and <a href="{% url 'demo:dialoguedemo' %}"><i class="fa fa-comment-o" aria-hidden="true"></i> dialogue</a> exercises.</h3>
            {% include 'demo/demosuccess.html' %}
        </div>  <!-- /#sfield -->
    </div>  <!-- /#sentenceholder -->
</div>
