<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="{% url 'demo:demointerface' %}">回路図 Demo</a>
		</li>

		<li class="primarylinks">
            <a href="{% url 'demo:demointro' %}">Introduction</a>
		</li>

		<li class="primarylinks">
            <a href="{% url 'demo:demokana' %}">Japanese Kana</a>
		</li>

		<li class="primarylinks">
			<a href="{% url 'demo:demovocablist' %}">Demo Vocabulary</a>
		</li>

		<li class="chapterlinks">
            <a href="{% url 'demo:demovocabquiz' %}"><span class="pad-left-15">Vocabulary Quiz</span></a>
		</li>

        <li class="primarylinks">
			<a href="{% url 'demo:demoexpressionlist' %}">Demo Expressions</a>
		</li>

		<li class="chapterlinks">
            <a href="{% url 'demo:demoexpressionquiz' %}"><span class="pad-left-15">Expression Quiz</span></a>
		</li>

		<li class="primarylinks">
            <a href="{% url 'demo:grammarlist' %}">Kairozu Grammar</a>
		</li>

        <li class="chapterlinks">
            <a href="{% url 'demo:demolesson' %}"><span class="pad-left-15">The dog is cute.</span></a>
        </li>

		<li class="primarylinks">	
            <a href="{% url 'demo:storydemo' %}"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>　Those Things</a>
		</li>
        <li class="primarylinks">
            <a href="{% url 'demo:dialoguedemo' %}"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>　Self-Introduction</a>
		</li>

        <li><br /><br /><br /></li>

 		<li class="primarylinks highlightlinks">
            <a href="{% url 'register' %}">New Kairozu Account</a>
		</li>
        <br />
        <br />
        <br /><br /><br /><br />
		
	</ul>	<!-- /.sidebar-nav -->
</div>	<!-- /#sidebar-wrapper -->
