<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="{% url 'demo:demointerface' %}">回路図 Demo</a></li>
		<li class="bold"><a href="{% url 'demo:demointro' %}">INTRODUCTION</a></li>
		<li class="bold"><a href="{% url 'demo:demokana' %}">JAPANESE KANA</a></li>
		<li class="bold"><a href="{% url 'demo:demovocablist' %}">DEMO VOCABULARY</a></li>
		<li><a href="{% url 'demo:demovocabquiz' %}"><span class="pad-left-15">Vocabulary Quiz</span></a></li>
        <li class="bold"><a href="{% url 'demo:demoexpressionlist' %}">DEMO EXPRESSIONS</a></li>
		<li><a href="{% url 'demo:demoexpressionquiz' %}"><span class="pad-left-15">Expression Quiz</span></a></li>
		<li class="bold"><a href="{% url 'demo:grammarlist' %}">KAIROZU GRAMMAR</a></li>
        <li><a href="{% url 'demo:demolesson' %}"><span class="pad-left-15">The dog is cute.</span></a></li>
		<li class="bold"><a href="{% url 'demo:storydemo' %}"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>　THOSE THINGS</a></li>
        <li class="bold"><a href="{% url 'demo:dialoguedemo' %}"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>　SELF-INTRODUCTION</a></li>

        <li><br /><br /></li>

 		<li class="bold hilink"><a href="{% url 'register' %}">NEW KAIROZU ACCOUNT</a></li>
        <br /><br /><br /><br /><br /><br />
	</ul>	<!-- /.sidebar-nav -->
</div>	<!-- /#sidebar-wrapper -->
