{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Passage{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        <div class="dashed-grey-2 jp-resources">
            <div class="s-15"></div>
            This is an example of the Exercise interface for Passages; it is best viewed on a large screen. A full paragraph of English text is shown on the left, with the current sentence highlighted in red and repeated above the input box below. As sentences are entered correctly, they're reflected (in Japanese) in the right column. Completing the passage gives you a side by side comparison of the English text with the accumulated sentences you've entered in Japanese. The first few passages read, at best, like a terrible children's book written by a robot. As more grammar is acquired the passages become more fluid and relevant to everyday life.
        </div>
        <div class="s-10"></div>

        <div class="storyholder">
            <div class="pass-e">
                This is a hat. The hat is black. The hat is small. This hat is mine. That is a bag. That bag is white. That bag is big. That bag is not mine. Is the bag yours? This book is a dictionary.
                <span class="red-words-bold">That book is not a dictionary.</span>
                Both this book and that book are blue. Neither this book nor that book are mine. My name is Tanaka. I am a Japanese language student. His name is Suzuki-san. Suzuki-san is an English language student. This English language dictionary is Suzuki-san's.
            </div>
            <div id='passage_jp' class='pass-j wordsp0-5'>これ は ぼうし です｡ ぼうし は くろい です｡ ぼうし は ちいさい です｡ この ぼうし は わたし の です｡ それ は かばん です｡ その かばん は しろい です｡ その かばん は おおきい です｡ その かばん は おおきい です｡ その かばん は わたし の じゃありません｡ かばん は あなた の です か｡ この ほん は じしょ です｡
            </div>
        </div>  <!-- /#passageholder -->

        <div id="grammarholder">
            <div id='passage_eng' class='challenge-grammar'>That book is not a dictionary.</div>
            <div class='promptc wordsp0-5'>
                <span id='passage_hint' class='ls5'>＿＿ ＿＿ ＿ ＿＿＿ ＿＿＿＿＿＿｡</span>
            </div>
        </div>  <!-- /#grammarholder -->

        <input title='dialogue' disabled type='text' style="width: 100%; border: 2px solid #bcbcbc; height: 9vmin; min-height: 30px; max-height: 120px; border-radius: 5px;">
    </div>
    <div class="fc-general-col">
        <div class="s-30"></div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}