{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Vocabulary{% endblock %}
{% block sidecollapse %}<div id="sidecollapse"><a id="menu-toggle" href="#" class="toggle sb-icon"><span class="fa-stack">                <i class="fa dkgrey-words fa-square fa-stack-2x"></i><i class="fa fa-list fa-stack-1x fa-inverse"></i></span></a></div>{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'demo/sidebar.html' %}
    <div class="fc-general-col">
        <h1>回路図 Demo Vocabulary</h1>
        <p class="raleway">This is a list of the vocabulary used in the Kairozu Demo. Try the <a href="{% url 'demo:demovocabquiz' %}">vocabulary quiz demo</a> once you've learned these words -- in the regular interface, individual chapter quizzes remain accessible post-completion for review purposes, and a cumulative quiz becomes available to review content across chapters.</p>
        <div class="s-5"></div>
        <div class="table-responsive">
            <table class="vocablist">
                <thead>
                    <tr><th>English・英語</th><th>Kana・仮名</th><th>Kanji・漢字</th><th>Note</th></tr>
                </thead>
                <tbody>
                    {% for demovocab in object_list %}
                        <tr>
                            <td>{{ demovocab.english }}</td>
                            <td>{{ demovocab.kana }}</td>
                            <td>{{ demovocab.kanji }}</td>
                            <td>{{ demovocab.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}
