{% extends 'kairozu.html' %}
{% block title %}Kairozu Demo Vocab Quiz{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'demo/sidebar.html' %}
    <div class="fc-basic">
        <div id='vocabholder'>
            <div id='vfield'>
                <div id='literal_one' class='vocab-note text-align-center'>&#8203;</div>
                <div id='vocab_english' class='vocab-challenge text-align-center'></div>

                <div class='vocab-promptc text-align-center'>
                    <span id='hint_block' class='ls5r'>&#8203;</span>
                </div>

                <form id='vocabquizform' action='' method='post' class='abox'>{% csrf_token %}
                    <input id='id_vocabattempt' type='text' name='vocab_attempt' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                    <input id='vactual' type='hidden' name='vocab_actual' value='' />
                    <input id='vindex' type='hidden' name='vindex' value='' />
                    <input type='submit' value='&#8680;' />
                </form>
            </div>  <!-- /#vfield -->
        </div>  <!-- /#vocabholder -->
    </div>
    <div class="fc-basic">
        <div class="quiz-tips dashed-grey-2">
            <span class="bold">Tips:</span>
            <ul>
                <li>Type the word in romaji; it should auto-convert into hiragana.</li>
                <li>Hold down shift to auto-convert roman characters into katakana.</li>
                <li>Spaces and punctuation are okay, but not necessary.</li>
            </ul>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var vlevel = 3;
    var vindex = 0;
    var input = document.getElementById('id_vocabattempt');
    wanakana.bind(input);

    function vocabNext(data) {
        if (data['id'] != null) {
            $('#vocab_english').html(data['english']);
            $('#vocabquizform #vactual').val(data['kana_clean']);
            switch(vlevel) {
                case 3:
                    $('#hint_block').html('&#8203;'); break;
                case 2:
                    $('#hint_block').html(data['kana_all_blank']); break;
                case 1:
                    $('#hint_block').html(data['kana_alt_blank']); break;
                default:
                    $('#hint_block').html(data['f_kana']); break;
            }
            $('#vocabquizform').removeClass('abox_g abox_r');
        } else {
            $.get("{% url 'demo:demovocabsuccess' %}").done(function (data) {
                $('#wrapper').html(data);
            });            
        }
    }
    $('#vocabquizform').submit(function(event) {
        event.preventDefault();
        var clean_attempt = cleanInput($('#id_vocabattempt').val());
        if (clean_attempt == $('#vactual').val()) {
            $('#vocabquizform').attr('class', 'abox abox_g');
            if (vlevel == 3) { vindex++; } else { vlevel = 3; }
        } else {
            $('#vocabquizform').attr('class', 'abox_red abox_r');
            if (vlevel > 0) { vlevel--; }
        }
        $('#vocabquizform #vindex').val(vindex);
        var form_data = $('#vocabquizform').serialize();
        $.post("{% url 'demo:demovocabcheck' %}", form_data).done(function(data) {
            $('#vocabquizform')[0].reset();
            vocabNext(data);
        });
    });

    $(document).ready(function() {
        var urlstring = "/demo/vocabquiz/grab/0";
        $.get(urlstring).done(function (data) {
            vocabNext(data);
            $('#id_vocabattempt').focus();
        });
    });
</script>

{% endblock %}
