{% include 'demo/sidebar.html' %}

<div class="fc-general-col">
    <div id='vocabholder'>
        <div id='vfield'>
            <h1>おめでとう～！　You've finished the vocabulary quiz!</h1>
            <h2>つぎ　は？</h2>
            <h3>In addition to basic vocabulary, each chapter has a set of colloquial expressions to learn; view the demo <a href="{% url 'demo:demoexpressionlist' %}">expression list</a> and try the <a href="{% url 'demo:demoexpressionquiz' %}">expression quiz</a>.</h3>
            {% include 'demo/demosuccess.html' %}
        </div>  <!-- /#vfield -->
    </div>  <!-- /#vocabholder -->
</div>
<div class="s-100"></div>
