{% extends 'kairozu.html' %}
{% block content %}
<style>
body, p, ol, ul, td, h1, h2, h3, h4, h5, h6 {
color: #2b2b2b;
word-break: keep-all; }
</style>
    <div class="fc-general-col">
        <div class="center-block text-align-center">
            <h1 class="lessonhead">The <font color="#89AE13">dog</font> is <font color="#FF9729">black</font>.</h1>
            <h1 class="lessonhead wordsp0-5"><font color="#89AE13">いぬ</font> <font color="#89AE13"><b>は</b></font> <font color="#FF9729">くろい</font> です｡</h1>
        </div>
    </div>
    <br /><br />
    <div class="fc-general-col">
        <div class="center-block text-align-center">
            <h1 class="lessonhead">The <span class="green-words">dog</span> is <span class="orange-words">black</span>.</h1>
            <h1 class="lessonhead wordsp0-5"><span class="green-words">いぬ</span> <span class="g-w-b">は</span> <span class="orange-words">くろい</span> です｡</h1>
        </div>
    </div>
    <br /><br />
    <div class="fc-general-col">
        <div class="center-block text-align-center">
            <h1 class="lessonhead wordsp0-5">いぬ は くろいいいいいいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろいいいいいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろいいいいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろいいいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろいいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろいい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ <span class="g-w-b">は</span> くろい です。</h1>
            <h1 class="lessonhead wordsp0-5">いぬ は くろくて しろくて　ちいさい です。</h1>
        </div>
    </div>
    <br /><br />
    <h1>いぬ は くろいいいいいいい です。</h1>
    <h1>いぬ は くろいいいいいい です。</h1>
    <h1>いぬ は くろいいいいい です。</h1>
    <h1>いぬ は くろいいいい です。</h1>
    <h1>いぬ は くろいいい です。</h1>
    <h1>いぬ は くろいい です。</h1>
    <h1>いぬ は くろい です。</h1>
    <h1>いぬ は くろくて しろくて　ちいさい です。</h1>
{% endblock %}
