{% extends 'kairozu.html' %}
{% block title %}Kairozu Sandbox{% endblock %}
{% load static %}

{% block content %}

<div class="fc-wrap">
    {% for castle in object_list %}
        <a href="{% url 'sandbox:'|add:castle.location %}">
        <div class="sbox">
            <i class="fa {{ castle.iconname }} icon" aria-hidden="true"></i>
            <h3 class="name bold">{{ castle.title }}</h3>
            <p class="grey-words description">{{ castle.description }}</p>
        </div></a>
    {% endfor %}
</div>

{% endblock %}