{% extends 'kairozu.html' %}
{% block title %}Kairozu じょし{% endblock %}
{% load static %}

{% block content %}

<meta name="viewport" content="user-scalable=yes, width=1020, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="{% static 'sandbox/joshi/joshi.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sandbox/sandbox.css' %}" />
<script src="{% static 'sandbox/joshi/joshi.js' %}"></script>
<script src="{% static 'sandbox/joshi/joshiinput.js' %}"></script>
<script src="{% static 'sandbox/joshi/joshistart.js' %}"></script>

<!--#page-content-wrapper-->
<div id="page-content-wrapper">
	<div class="container container-kairozu">
        <div class="white-box">

			<div class="info-container">
				<div class="score">
					<div class="score_title">score</div>
					<div class="score_update">0</div>
				</div>
				<div class="streak">
					<div class="streak_title">streak</div>
					<div class="score_streak">0</div>
				</div>
				<div id="questions">
					<div class="questions_title">guide</div>
					<a href="#popup1"><div class="questions_link">?</div></a>
				</div>
			</div>

            <div class="s-15"></div>

			<div class="sentence_container"></div>

            <div class="s-15"></div>

			<div class="translation_container"></div>

            <div class="s-20"></div>

			<div class="game_container">
				<div id="answer1">1</div>
				<div id="answer2">2</div>
				<div id="answer3">3</div>
				<div id="answer4">4</div>
			</div>

	    </div>  <!--/.white-box-->
    </div>  <!--/.container .container-kairozu-->
</div>  <!--/#page-content-wrapper-->

<div id="popup1" class="overlay">
    <div class="popup">
        <b>particle guide<br />
        If you see an error or have any suggestions: kairozu@kairozu.com (thanks!)<br /><br /></b>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="object_spacer">
                <b>は</b><br />
                明日＿日曜日です。<br />
                鯨＿魚ではありません。
            </div>
            <div class="object_spacer">
                <b>が</b><br />
                あそこに郵便局＿あります。<br />
                雨＿降っている。
            </div>
            <div class="object_spacer">
                <b>も</b><br />
                これは桜です。これ＿桜です。<br />
                私はすし＿てんぷら＿好きです。
            </div>
            <div class="object_spacer">
                <b>と</b><br />
                ポールさん＿リーさんはフランス人です。<br />
                りんご＿みかん＿どちらが好きですか。
            </div>
            <div class="object_spacer">
                <b>か</b><br />
                これはだれの傘です＿。<br />
                明日のパーティに行きます＿。
            </div>
        </div>
    </div>
</div>

{% endblock %}
