{% extends 'kairozu.html' %}
{% block title %}Kairozu かいもの{% endblock %}
{% load static %}

{% block content %}

<meta name="viewport" content="user-scalable=yes, width=1020, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="{% static 'sandbox/kaimono/kaimono.css' %}" />
<script src="{% static 'sandbox/kaimono/kaimono.js' %}"></script>
<script src="{% static 'sandbox/kaimono/kaimonoinput.js' %}"></script>
<script src="{% static 'sandbox/kaimono/kaimonostart.js' %}"></script>

<!--#page-content-wrapper-->
<div id="page-content-wrapper">
	<div class="container container-kairozu">
        <div class="white-box">

			<div class="info-container">
				<div class="score">
					<div class="score_title">score</div>
					<div class="score_update">0</div>
				</div>
				<div class="streak">
					<div class="streak_title">streak</div>
					<div class="score_streak">0</div>
				</div>
				<div id="questions">
					<div class="questions_title">guide</div>
					<a href="#popup1"><div class="questions_link">?</div></a>
				</div>
				<div id="kanjikana">
					<div class="kanjikana_title">input</div>
					<div class="kanji_or_kana">かな</div>
				</div>
        	</div>
            <div class="s-15"></div>

			<div class="objects_container"></div>

            <div class="s-15"></div>

			<div class="description_container"></div>

            <div class="s-30"></div>

			<div class="counter_container">
                <form>
				<input type="text" id="counter_entry" class="kbox1" autocapitalize='none' autocorrect='off' placeholder="助数詞" onfocus="this.placeholder = ''" onblur="this.placeholder = '助数詞'">
                </form>
			</div>

			<div id="popup1" class="overlay">
				<div class="popup">
					If you see an error or have any suggestions: kairozu@kairozu.com (thanks!)<br /><br /></b>
					<a class="close" href="#">&times;</a>
					<div class="content">
						<div class="object_spacer">
							<b>degrees celsius</b><br />
							いちど、にど、さんど、よんど、ごど、ろくど、ななど、はちど、きゅうど、じゅうど<br />
							一度、二度、三度、四度、五度、六度、七度、八度、九度、十度
						</div>
						<div class="object_spacer">
							<b>cups of coffee, pints of beer, cups of miso soup</b><br />
							いっぱい、にはい、さんばい、よんはい、ごはい、ろっぱい、ななはい、はっぱい、きゅうはい、じゅっぱい<br />
							一杯、二杯、三杯、四杯、五杯、六杯、七杯、八杯、九杯、十杯
						</div>
						<div class="object_spacer">
							<b>bento, balloons, burgers, ramen, orders of fries</b><br />
							ひとつ、ふたつ、みっつ、よっつ、いつつ、むっつ、ななつ、やっつ、ここのつ、とお<br />
							一つ、二つ、三つ、四つ、五つ、六つ、七つ、八つ、九つ、十
						</div>
						<div class="object_spacer">
							<b>people</b><br />
							ひとり、ふたり、さんにん、よにん、ごにん、ろくにん、しちにん、はちにん、きゅうにん、じゅうにん<br />
							一人、二人、三人、四人、五人、六人、七人、八人、九人、十人
						</div>
						<div class="object_spacer">
							<b>pills</b><br />
							いちじょう、にじょう、さんじょう、よんじょう、ごじょう、ろくじょう、ななじょう、はちじょう、きゅうじょう、じゅうじょう<br />
							一錠、二錠、三錠、四錠、五錠、六錠、七錠、八錠、九錠、十錠
						</div>
						<div class="object_spacer">
							<b>tomatoes, candies, baseballs, apples, doughnuts, onigiri, cookies, chestnuts, batteries, paperclips</b><br />
							いっこ、にこ、さんこ、よんこ、ごこ、ろっこ、ななこ、はっこ、きゅうこ、じゅっこ<br />
							一個、二個、三個、四個、五個、六個、七個、八個、九個、十個
						</div>
						<div class="object_spacer">
							<b>oden, rulers, dango, paintbrushes, pencils, bananas</b><br />
							いっぽん、にほん、さんぼん、よんほん、ごほん、ろっぽん、ななほん、はっぽん、きゅうほん、じゅっぽん<br />
							一本、二本、三本、四本、五本、六本、七本、八本、九本、十本
						</div>
						<div class="object_spacer">
							<b>papers, photographs, envelopes, shirts, slices of pizza</b><br />
							いちまい、にまい、さんまい、よんまい、ごまい、ろくまい、ななまい、はちまい、きゅうまい、じゅうまい<br />
							一枚、二枚、三枚、四枚、五枚、六枚、七枚、八枚、九枚、十枚
						</div>
						<div class="object_spacer">
							<b>books</b><br />
							いっさつ、にさつ、さんさつ、よんさつ、ごさつ、ろくさつ、ななさつ、はっさつ、きゅうさつ、じゅっさつ<br />
							一冊、二冊、三冊、四冊、五冊、六冊、七冊、八冊、九冊、十冊
						</div>
						<div class="object_spacer">
							<b>bicycles, cars, computers</b><br />
							いちだい、にだい、さんだい、よんだい、ごだい、ろくだい、ななだい、はちだい、きゅうだい、じゅうだい<br />
							一台、二台、三台、四台、五台、六台、七台、八台、九大、十台
						</div>
						<div class="object_spacer">
							<b>cats, mice, dogs, bees, insects, fish</b><br />
							いっぴき、にひき、さんぴき、よんひき、ごひき、ろっぴき、ななひき、はっぴき、きゅうひき、じゅっぴき<br />
							一匹、二匹、三匹、四匹、五匹、六匹、七匹、八匹、九匹、十匹
						</div>
						<div class="object_spacer">
							<b>birds, rabbits</b><br />
							いちわ、にわ、さんわ、よんわ、ごわ、ろくわ、ななわ、はちわ、きゅうわ、じゅうわ<br />
							一羽、二羽、三羽、四羽、五羽、六羽、七羽、八羽、九羽、十羽
						</div>
						<div class="object_spacer">
							<b>boxes</b><br />
							ひとはこ、ふたはこ、さんぱこ、よはこ、ごはこ、ろっぱこ、ななはこ、はっぱこ、きゅうはこ、じゅっぱこ<br />
							一箱、二箱、三箱、四箱、五箱、六箱、七箱、八箱、九箱、十箱
						</div>
						<div class="object_spacer">
							<b>building floors</b><br />
							いっかい、にかい、さんがい、よんかい、ごかい、ろっかい、ななかい、はっかい、きゅうかい、じゅっかい<br />
							一階、二階、三階、四階、五階、六階、七階、八階、九階、十階
						</div>
						<div class="object_spacer">
							<b>customers (people; polite)</b><br />
							いちめい、にめい、さんめい、よんめい、ごめい、ろくめい、ななめい、はちめい、きゅうめい、じゅうめい<br />
							一名、二名、三名、四名、五名、六名、七名、八名、九名、十名
						</div>
						<div class="object_spacer">
							<b>hours (duration)</b><br />
							いちじかん、にじかん、さんじかん、よじかん、ごじかん、ろくじかん、しちじかん、はちじかん、くじかん、じゅうじかん<br />
							一時間、二時間、三時間、四時間、五時間、六時間、七時間、八時間、九時間、十時間
						</div>
					</div>
				</div>
			</div>

	    </div>  <!--/.white-box-->
    </div>  <!--/.container .container-kairozu-->
</div>  <!--/#page-content-wrapper-->

<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript'>
    var input = document.getElementById('counter_entry');
    wanakana.bind(input);
</script>
{% endblock %}
