<h1>Hiragana & Katakana</h1>

<p>The <a href="https://en.wikipedia.org/wiki/Japanese_writing_system">modern Japanese writing system</a> is a combination of kanji (adopted Chinese characters), hiragana, and katakana. Hiragana and katakana are syllabic Japanese characters; each sound in the Japanese language is represented by characters in each system. Because the kana characters do not represent single consonants (except in the case of "n"), the kana are referred to as syllabaries and not alphabets. While kanji are used to write most content words (nouns, stems of verbs and adjectives, personal names, etc) of native Japanese origin, Kairozu sticks to the phonetic spelling of these words (using hiragana) in Chapters 1-8.</p>

<div class="fc">
    <div class="fc-flex-50 margin-20">

        <table class="chartable">
            <caption>Hiragana・ひらがな</caption>
            <tr><td>あ・a</td><td>い・i</td><td>う・u</td><td>え・e</td><td>お・o</td></tr>
            <tr><td>か・ka</td><td>き・ki</td><td>く・ku</td><td>け・ke</td><td>こ・ko</td></tr>
            <tr><td>さ・sa</td><td>し・shi</td><td>す・su</td><td>せ・se</td><td>そ・so</td></tr>
            <tr><td>た・ta</td><td>ち・chi</td><td>つ・tsu</td><td>て・te</td><td>と・to</td></tr>
            <tr><td>な・na</td><td>に・ni</td><td>ぬ・nu</td><td>ね・ne</td><td>の・no</td></tr>
            <tr><td>は・ha</td><td>ひ・hi</td><td>ふ・hu</td><td>へ・he</td><td>ほ・ho</td></tr>
            <tr><td>ま・ma</td><td>み・mi</td><td>む・mu</td><td>め・me</td><td>も・mo</td></tr>
            <tr><td>や・ya</td><td></td><td>ゆ・yu</td><td></td><td>よ・yo</td></tr>
            <tr><td>ら・ra</td><td>り・ri</td><td>る・ru</td><td>れ・re</td><td>ろ・ro</td></tr>
            <tr><td>わ・wa</td><td></td><td></td><td></td><td>を・wo</td></tr>
            <tr><td colspan=5>ん・n</td></tr>
        </table>
    </div>

    <div class="fc-flex-50 margin-20">
        <table class="chartable">
            <caption>Katakana・カタカナ</caption>
            <tr><td>ア・a</td><td>イ・i</td><td>ウ・u</td><td>エ・e</td><td>オ・o</td></tr>
            <tr><td>カ・ka</td><td>キ・ki</td><td>ク・ku</td><td>ケ・ke</td><td>コ・ko</td></tr>
            <tr><td>サ・sa</td><td>シ・shi</td><td>ス・su</td><td>セ・se</td><td>ソ・so</td></tr>
            <tr><td>タ・ta</td><td>チ・chi</td><td>ツ・tsu</td><td>テ・te</td><td>ト・to</td></tr>
            <tr><td>ナ・na</td><td>ニ・ni</td><td>ヌ・nu</td><td>ネ・ne</td><td>ノ・no</td></tr>
            <tr><td>ハ・ha</td><td>ヒ・hi</td><td>フ・hu</td><td>ヘ・he</td><td>ホ・ho</td></tr>
            <tr><td>マ・ma</td><td>ミ・mi</td><td>ム・mu</td><td>メ・me</td><td>モ・mo</td></tr>
            <tr><td>ヤ・ya</td><td></td><td>ユ・yu</td><td></td><td>ヨ・yo</td></tr>
            <tr><td>ラ・ra</td><td>リ・ri</td><td>ル・ru</td><td>レ・re</td><td>ロ・ro</td></tr>
            <tr><td>ワ・wa</td><td></td><td></td><td></td><td>ヲ・wo</td></tr>
            <tr><td colspan=5>ン・n</td></tr>
        </table>
    </div>
</div>

<p><a href="https://en.wikipedia.org/wiki/Hiragana">Hiragana</a> is used to write the inflected verb and adjective endings which follow a kanji root, various grammatical and function words including particles, as well as miscellaneous other native words for which there are no kanji or whose kanji form is obscure or too formal for the writing purpose. Hiragana can also be used for the phonetic representation of words usually written with kanji.</p>

<p><a href="https://en.wikipedia.org/wiki/Katakana">Katakana</a> is most often used for the transcription of foreign words and names into Japanese, for example "radio" -- a foreign word -- would be written as ラジオ in katakana, not らじお in hiragana. Katakana is also used for onomatopoeia, to indicate emphasis (similar to italics), and for technical and scientific terms.</p>

<p><a href="https://en.wikipedia.org/wiki/Romanization_of_Japanese">Romaji</a> is the application of roman characters to writing Japanese words, for example, the word for dog in Japanese is 犬 in kanji, いぬ in hiragana, and "inu" in romaji.</p>

<p>There are MANY resources on the internet to help you learn hiragana and katakana, but these are fairly comprehensive and will get you started:</p>

<ul>
    <li><a href="https://www.tofugu.com/japanese/learn-hiragana">Tofugu's Ultimate Guide to Learning Hiragana</a></li>
    <li><a href="https://www.tofugu.com/japanese/learn-katakana">Tofugu's Ultimate Guide to Learning Katakana</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/hiragana">Tae Kim's Guide to Learning Japanese Hiragana</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/katakana">Tae Kim's Guide to Learning Japanese Katakana</a></li>
</ul>

<p>Being able to read hiragana and katakana is a necessity for using Kairozu, but it's also a vital first step for learning Japanese as a whole. Time spent mastering the two syllaberies won't be wasted if you plan to continue learning Japanese in any context.</p>