{% extends 'kairozu.html' %}
{% block title %}Kairozu 番号クイズ{% endblock %}
{% load static %}

{% block content %}

<div class="fc-basic">
    <div id='vocabholder'>
        <div id='vfield'>
            <div id='literal' class='vocab-note text-align-center'>&#8203;</div>
            <div id='english' class='vocab-challenge text-align-center'></div>

                <div class='vocab-promptc text-align-center'>
                    <span id='hint' class='ls5r'>&#8203;</span>
                    <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                        <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                    </a>
                </div>
            <div id='answer'>
                <form id='quiz' action='' method='post' class='abox'>{% csrf_token %}
                    <fieldset class>
                        <input id='attempt' type='text' name='vocab_attempt' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                        <input id='vactual' type='hidden' name='vocab_actual' value='' />
                        <input id='max_number' type='hidden' name='max_number' value='' />
                        <button><i class="fa fa-chevron-right"></i></button>
                    </fieldset>
                </form>
            </div>
        </div>  <!-- /#vfield -->
    </div>  <!-- /#vocabholder -->

    <div class="s-15"></div>

    <form class="pad-left-15">
        <label class="radio-inline"><input type="radio" name="optradio" value="99" autocomplete="off" checked>&nbsp;1 - 99</label><br />
        <label class="radio-inline"><input type="radio" name="optradio" value="999" autocomplete="off">&nbsp;1 - 999</label><br />
        <label class="radio-inline"><input type="radio" name="optradio" value="9999" autocomplete="off">&nbsp;1 - 9,999</label><br />
        <label class="radio-inline"><input type="radio" name="optradio" value="99999" autocomplete="off">&nbsp;1 - 99,999</label><br />
        <label class="radio-inline"><input type="radio" name="optradio" value="999999" autocomplete="off">&nbsp;1 - 999,999</label>
    </form>
</div>


<div class="s-100"></div>

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    var english = $('#english'),
        vactual = $('#vactual'),
        quiz = $('#quiz'),
        hint = $('#hint'),
        bug = $('#bug-button'),
        attempt = $('#attempt');

    function numberNext(data) {
        if (data != null) {
            data = JSON.parse(data);
            english.html(data['numd']);
            vactual.val(data['numk']);
        }
    }
    quiz.submit(function(event) {
        event.preventDefault();
        if (attempt.val() !== '') {
            var clean_attempt = cleanInput(attempt.val());
            $('#max_number').val($("input[name=optradio]:checked").val());
            var form_data = quiz.serialize();
            if (clean_attempt === vactual.val()) {
                bug.hide();
                quiz.removeClass("abox_red");
                quiz.addClass("abox_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_g"); });
                hint.html('&#8203;');
                $.post("{% url 'sandbox:numbergrab' %}", form_data).done(function(data) {
                    quiz[0].reset();
                    numberNext(data);
                });
            } else {
                hint.html(vactual.val());
                quiz[0].reset();
                bug.show();
                quiz.addClass("abox_red abox_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_r"); });
            }
        }
    });

    $(document).ready(function() {
        $.get("{% url 'sandbox:numbergrab' %}").done(function (data) {
            numberNext(data);
        });
    });
</script>

{% endblock %}