{% extends 'kairozu.html' %}
{% block title %}Kairozu Resources{% endblock %}
{% load static %}

{% block content %}

<div class="fc-basic">
    <h1>Resources for Learning Japanese</h1>
    <p>These are resources (websites, apps, books) for learning and practicing Japanese. I use (or have used) and love most of the items on this list, but a few (e.g. Duolingo) are included simply because of how popular they are.</p>
    <div class="table-responsive">
        <table class="rlist">
            <tbody>

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><h2>General</h2></td></tr>
                {% for resource in general %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != 'blank' %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != 'blank' %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Dictionaries</h2></td></tr>
                {% for resource in dictionary %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Utilities</h2></td></tr>
                {% for resource in edutility %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Kanji</h2></td></tr>
                {% for resource in kanji %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Hiragana & Katakana</h2></td></tr>
                {% for resource in kana %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Educational Reading</h2></td></tr>
                {% for resource in edureading %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>References</h2></td></tr>
                {% for resource in reference %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Language Exchange & Practice</h2></td></tr>
                {% for resource in exchange %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Audio & Video</h2></td></tr>
                {% for resource in video %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Japan</h2></td></tr>
                {% for resource in japan %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Other</h2></td></tr>
                {% for resource in other %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr style="border-bottom: none;"><td class="resourceheader" colspan="3"><br /><h2>Technical</h2></td></tr>
                {% for resource in technical %}
                    <tr{% if forloop.last %} class='nobottom'{% endif %}>
                        <td width="18%"><a href="{{ resource.url_one }}">{{ resource.name }}</a></td>
                        <td class="smaller raleway">{{ resource.description }}</td>
                        <td width="10%" class="text-align-right">
                            {% if resource.medium_one != "blank" %}
                                <a href="{{ resource.url_one }}"><i class="fa fa-fw fa-{{ resource.medium_one }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_two != "blank" %}
                                <a href="{{ resource.url_two }}"><i class="fa fa-fw fa-{{ resource.medium_two }}" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if resource.medium_three != "blank" %}
                                <a href="{{ resource.url_three }}"><i class="fa fa-fw fa-{{ resource.medium_three }}" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="s-100"></div>

{% endblock %}
