{% extends 'kairozu.html' %}
{% block title %}Kairozu Error{% endblock %}

{% load static %}
{% block content %}



<div class="fc">
    <div class="fc-flex-50">
        <img alt="かい" id="welcomekoi" src="{% static 'img/welcome_koi.png' %}" />
    </div>
    <div class="fc-flex-50">
        <div class="s-10"></div>
        <h1>500</h1>
        <h1>Oh no!</h1>
        <h3>Something isn't working quite right.</h3>
        <div class="s-10">&nbsp;</div>
        <h3 class="opensans">Please let kairozu@kairozu.com know if you've found something broken.</h3>
    </div>
</div>

{% endblock %}