{% extends 'kairozu.html' %}
{% block title %}Kairozu Registration{% endblock %}

{% load static %}
{% block content %}

<div class="fc">
    <div class="fc-flex-50">
        <img alt="かい" id="welcomekoi" src="{% static 'img/welcome_koi.png' %}" />
    </div>
    <div class="fc-flex-50">
        <div class="s-10"></div>
        <h1>〜ゆらゆら〜</h1>
        <h2>ありがとう ございます〜</h2>
        <div class="s-10"></div>
        <h3 class="raleway">Thanks! I'll send you an email if we open registration to the public.</h3>
    </div>
</div>

{% endblock %}