{% extends 'kairozu.html' %}
{% block title %}Kairozu Registration{% endblock %}

{% load static %}
{% block content %}

<!--#page-content-wrapper-->
<div id="page-content-wrapper">
    <div class="container kairozu-container">
        <div class="row">
            <div class="col-md-6">
                <img alt="かい" id="welcomekoi" src="{% static 'img/welcome_koi.png' %}" />
            </div>
            <div class="col-md-6">
                <div class="spacer-10 hidden-xs"></div>
                <h1>〜ゆらゆら〜</h1>
                <h2>ありがとうございます〜</h2>
                <div class="spacer-10"></div>
                <h3 class="raleway">Thanks! I'll send you an email if we open registration to the public.</h3>
            </div>
        </div>
    </div>  <!--/.container .kairozu-container-->
</div>  <!--/#page-content-wrapper-->

{% endblock %}