{% extends 'kairozu.html' %}
{% block title %}Kairozu Registration{% endblock %}

{% load static %}
{% block content %}

<div class="fc">
    <div class="fc-flex-50">
        <img alt="かい" id="welcomekoi" src="{% static 'img/welcome_koi.png' %}" />
    </div>
    <div class="fc-flex-50">
        <div class="s-10"></div>
        <h1>〜ゆらゆら〜</h1>
        <h2>初めまして！ ｢かい｣と呼んで下さい。</h2>
        <div class="s-10"></div>
        <h3 class="raleway">Kairozu is in closed beta, but I can send you an email if we open registration to the public.</h3>
        <div class="s-15"></div>
        <span class="bolder">Enter a valid email address:</span>
        <div class="s-5"></div>
        <form method="post" class="reg-user-input">{% csrf_token %}
            {{ form }}
            <div class="registration-text">I won't use your email for anything else, ever. I won't give, sell, or otherwise provide it to anyone. You will receive one email if registration opens to the public, and I won't keep your email address after that.</div>
            <div class="s-15"></div>
            <button class="btn btn-success trans" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

<div class="s-100"></div>

{% endblock %}