<footer>
    <div class="fc-footer">
        <div class="fc-footer-1 fc-general">
            <div class="footer-nav">
                <div class="s-5"></div>
                <h3>回路図・Kairozu</h3>
                <p class="ltgrey-words">
                    {% if user.is_authenticated %}
                        <a href="{% url 'main:main' %}">Main</a>
                    {% else %}
                        <a href="{% url 'demo:demointerface' %}">Demo</a>
                    {% endif %}
                    <strong>・</strong>
                    <a href="{% url 'about' %}">About</a>
                    <strong>・</strong>
                    <a href="{% url 'news:faq' %}">FAQ</a>
                    <strong>・</strong>
                    <a href="{% url 'news:main' %}">Blog</a>
                    <strong>・</strong>
                    <a href="{% url 'contact' %}">Contact</a>
                </p>
                <div class="s-20"></div>
                <span class="company-name">Kairozu &copy; 2018</span><br />
                <a href="{% url 'privacy' %}">Terms & Privacy Policy</a>
            </div>

            <div class="footer-contacts">
                <div class="margin-bottom-20">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle grey-words fa-stack-2x"></i>
                      <i class="fa fa-globe white-words fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="white-words">
                        <span class="footer-sm-text">Kairozu is made in..</span>
                        Minato-ku, Tokyo
                    </p>
                </div>
                <div class="margin-bottom-20">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle grey-words fa-stack-2x"></i>
                      <i class="fa fa-envelope white-words fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href="{% url 'contact' %}">kai@kairozu.com</a>
                </div>
                <div>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle grey-words fa-stack-2x"></i>
                      <i class="fa fa-search white-words fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href="#">Search Kairozu</a>
                </div>
            </div>
        </div>

        <div class="footer-about">
            <h4 class="white-words bold upper margin-top-0">About Kairozu</h4>
            <p class="ltgrey-words">Socratic and programmed methods of learning are effective ways to acquire and retain knowledge. Explaining something you've learned to someone else is also very effective. Kairozu is my attempt to do the latter while implementing the former in a programmed introduction to basic Japanese grammar.</p>
            <div class="s-20"></div>
            <div class="social-links">
                <a href="https://twitter.com/kairozukigou">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square mdgrey-words fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://instagram.com/kairozu">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square mdgrey-words fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://github.com/kairozu">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square mdgrey-words fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://kairozu.com/news/rss/">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square mdgrey-words fa-stack-2x"></i>
                      <i class="fa fa-rss-square fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>

</footer>