{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116288496-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-116288496-1');
    </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700|Open+Sans:400,700" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src='{% static 'js/kairozu.js' %}'></script>

	<link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/favicon-192x192.png' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/kairozu.css' %}" />
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<header>
        <div id="kaihead">
        {% block sidecollapse %}{% endblock %}
        <div class="margin-lr-20">
            <div id="kaihead-contain">
                <div class="topnav" id="myTopnav">
                    <div id="sitename"><a href="{% url 'index' %}">回路図</a></div>
                    <div id="header-links">
                        {% if user.is_authenticated %}
                            <div><a class="headlink" href="{% url 'main:main' %}">MAIN</a></div>
                            <div id="dropdown1" class="dropdown">
                                {% if user.profile.vrcount == 0 and user.profile.srcount == 0 and user.profile.ercount == 0 %}
                                    <div class="dropbtn">REVIEWS <i class="fa fa-caret-down"></i></div>
                                {% else %}
                                    <div class="dropbtn">REVIEWS <i class="fa red-words fa-caret-down"></i></div>
                                {% endif %}
                                <div class="dropdown-content">
                                    {% if user.profile.vrcount == 0 %}
                                        <span>0&nbsp;VOCABULARY</span>
                                    {% else %}
                                        <a href="{% url 'main:reviewvocab' %}">{{ user.profile.vrcount }}&nbsp;VOCABULARY</a>
                                    {% endif %}
                                    {% if user.profile.ercount == 0 %}
                                        <span>0&nbsp;EXPRESSIONS</span>
                                    {% else %}
                                        <a href="{% url 'main:reviewexpression' %}">{{ user.profile.ercount }}&nbsp;EXPRESSIONS</a>
                                    {% endif %}
                                    {% if user.profile.srcount == 0 %}
                                        <span>0&nbsp;SENTENCES</span>
                                    {% else %}
                                        <a href="{% url 'main:reviewsentence' %}">{{ user.profile.srcount }}&nbsp;SENTENCES</a>
                                    {% endif %}
                                    {% if user.profile.frcount == 0 %}
                                        <span>0&nbsp;FLASHCARDS</span>
                                    {% else %}
                                        <a href="{% url 'main:reviewflashcard' %}">{{ user.profile.frcount }}&nbsp;FLASHCARDS</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div><a class="headlink" href="{% url 'sandbox:main' %}">SANDBOX</a></div>
                            <div id="dropdown2" class="dropdown">
                                <div class="dropbtn">KAIROZU <i class="fa red-words fa-caret-down"></i></div>
                                <div class="dropdown-content">
                                    <a href="{% url 'about' %}">ABOUT</a>
                                    <a href="{% url 'news:main' %}">KAIROZU&nbsp;BLOG</a>
                                    <a href="{% url 'news:faq' %}">FAQ</a>
                                    <a href="{% url 'account' %}">YOUR&nbsp;ACCOUNT</a>
                                    <a href="{% url 'main:progress' %}">YOUR&nbsp;PROGRESS</a>
                                    <a href="{% url 'main:flashcard' %}">FLASHCARDS</a>
                                    <a id="comment-button" href="#"><i class="fa fa-bug red-words" aria-hidden="true"></i>&nbsp;&nbsp;REPORT&nbsp;BUG</a>
                                    <a href="{% url 'logout' %}">LOG&nbsp;OUT</a>
                                </div>
                            </div>
                        {% else %}
                        	<div><a class="headlink" href="{% url 'demo:demointerface' %}">DEMO</a></div>
							<div><a class="headlink" href="{% url 'about' %}">ABOUT</a></div>
                            <div><a class="headlink" href="{% url 'news:main' %}">BLOG</a></div>
                            <div><a class="headlink" href="{% url 'news:faq' %}">FAQ</a></div>
							<div><a class="headlink" href="{% url 'login' %}">SIGN&nbsp;IN</a></div>
							<div><a class="headlink" href="{% url 'register' %}">SIGN&nbsp;UP</a></div>
                        {% endif %}
                    </div>

                    <div id="nav-toggle">
                        <a href="#" id="navmenu-toggle">
                            <i class="fa fa-align-justify margin-lr-20"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        </div>
	</header>

	<main role="main">
        <div id="show-message">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <input id="byealert" type="button" class="close" data-dismiss="alert" aria-hidden="true" value="&times;" />
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block content %}
        {% endblock %}

        {% if user.is_authenticated %}
            <div class="modal fade" id="form-modal" tabindex="-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <input id="byemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                        <span class="modal-title">Report Problems with Kairozu</span>
                    </div>
                    <div id="form-modal-body" class="modal-body"></div>
                </div>
            </div>

            <script type="text/javascript">
                var modal = document.getElementById('form-modal');
                var formAjaxSubmit = function(form) {
                    $(form).submit(function (bugevent) {
                        bugevent.preventDefault();
                        $.ajax({
                            type: $(this).attr('method'),
                            url: $(this).attr('action'),
                            data: $(this).serialize(),
                            success: function (xhr) {
                                modal.style.display = "none";
                                $('#show-message').html(xhr);
                            }
                        });
                    });
                };
                $('#comment-button').click(function() {
                    $('#myTopnav').removeClass('responsive');
                    //$('.dropdown-content').hide();
                    //$('.dropdown').removeClass('active');
                    $('#form-modal-body').load('/news/newissue/', function () {
                        modal.style.display = "block";
                        formAjaxSubmit('#form-modal-body form');
                    });
                });
                $('#byemodal').click(function() { modal.style.display = "none"; });
            </script>
        {% endif %}
	</main>
</body>
</html>
