{% extends 'kairozu.html' %}
{% block title %}Kairozu Login{% endblock %}
{% load static %}

{% block content %}

<div class="fc-basic-center">
    <div class="kairozu-authform width-60">
        {% if form.errors %}
            <p class="red-words">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post">{% csrf_token %}
            <h3>Log in to Kairozu</h3>

            <input type="hidden" name="next" value="{{ next }}" />
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br />
                {{ field }}<br />

                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                {% if field.help_text %}
                    <p><small class="grey-words">{{ field.help_text }}</small></p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="s-20"></div>
            <input class="btn btn-success" type="submit" value="LOG IN" />
        <div class="s-20"></div>
        </form>
    </div>

</div>

<div class="s-100"></div>

{% endblock %}