{% extends 'kairozu.html' %}
{% block title %}Kairozu Privacy Policy{% endblock %}
{% load static %}

{% block content %}


<div class="fc-basic">

    <h1>Kairozu Terms of Service and Privacy Policy</h1>

    <p><span class="red-words is-small">TL;DR: I won't sell your information, please don't steal mine. Learn from me at your own risk; I'm sure there are mistakes on this site.</span></p>

    <h3>1. Terms</h3>

    <p>By accessing Kairozu, you are agreeing to be bound by these terms of service. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>

    <h3>2. Use License</h3>

    <ol type="a">
        <li>
        Permission is granted to temporarily access the materials on Kairozu's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:

        <ol type="i">
            <li>modify or copy the materials;</li>
            <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
            <li>attempt to decompile or reverse engineer any software contained on Kairozu's website;</li>
            <li>remove any copyright or other proprietary notations from the materials; or</li>
            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ol>
        </li>
        <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Kairozu at any time.</li>
    </ol>

    <h3>3. Disclaimer</h3>

    <ol type="a">
        <li>The materials on Kairozu's website are provided on an 'as is' basis. Kairozu makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
        <li>Further, Kairozu does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
    </ol>

    <h3>4. Limitations</h3>

    <p>In no event shall Kairozu or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Kairozu's website, even if Kairozu or a Kairozu authorized representative has been notified orally or in writing of the possibility of such damage.</p>

    <h3>5. Accuracy of materials</h3>

    <p><span class="bold">The materials appearing on Kairozu's website could include technical, typographical, translation, or photographic errors. Kairozu does not warrant that any of the materials on its website are accurate, complete or current. Kairozu may make changes to the materials contained on its website at any time without notice. However Kairozu does not make any commitment to update the materials.</span></p>

    <h3>6. Links</h3>

    <p>Kairozu has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Kairozu of the site. Use of any such linked website is at the user's own risk.</p>

    <h3>7. Modifications</h3>

    <p>Kairozu may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

    <br /><br />
    <h2>Privacy Policy</h2>

    <p>I probably care about your privacy more than you do. I wish more people cared more about the privacy of their data.</p>

    <p>It should be obvious that when you register for an account <span class="italics">your progress when it comes to Kairozu content is tracked</span> -- the site wouldn't work otherwise. I can't say "you need to review word X" if I don't keep track of how well you've recalled word X in the past. That said, let me be clear:</p>

    <ul>
        <li><span class="bold">No</span> information collected (access records, user progress, how many times you've forgotten a verb, email address, etc) will ever be sold, traded, or otherwise disclosed to a third party for marketing purposes.</li>
        <li>I won't send you thinly veiled spam emails informing you of new and amazing opportunities.</li>
        <li>I will attempt to protect such personal information against loss and/or theft to the best of my ability.</li>
    </ul>

    <p>I do use Google Analytics with all of the data-sharing and data collection for marketing options disabled. I do NOT use the User-ID feature.</p>

</div>

<div class="s-100"></div>

{% include 'footer.html' %}

{% endblock %}
