{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Fragment Admin{% endblock %}

{% load static %}
{% block content %}
<!--#page-content-wrapper-->
<div id="page-content-wrapper">
	<div class="container container-kairozu">

        {% for prom in prompts %}
            {% if prom.prompt_kana %}
                <h2 class="green-words">{{ prom.prompt_kana }}</h2>
            {% endif %}
            <table>
                {% for x in prom.responses.values %}
                    <tr style="padding: 5px;">
                        <td style="padding-right: 50px;"><span class="blue-words">{{ x.response_english }}</span>&nbsp;&nbsp;</td><td>{{ x.response_kana }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if not prom.prompt_name %}
            <div class="s-5"></div>
            {% endif %}
        {% endfor %}

        <br /><br />
        <table>
            {% for sent in sentences %}
                <tr style="padding: 5px;">
                    <td style="padding-right: 50px;"><span class="blue-words">{{ sent.english }}</span>&nbsp;&nbsp;</td><td>{{ sent.kana }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->

{% endblock %}