{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Dialogue{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/dialogue.css' %}">

<div id='wrapper'>
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">

        <h3 class="grey-words italics raleway">{{ exercise.description }}</h3>
        <div class="s-10"></div>

        <div class="dialogue-holder">
            <table id="dialogue-table" class="chat">
            </table>
        </div>

        <div id="dialogue-input">
            <div id="grammarholder">
                <div id='context_one' class='context-container'></div>
                <div id='dialogue_english' class='challenge-grammar'></div>
                <div class='promptc'>
                    <span id='dialogue_hint' class='ls5r'>&#8203;</span>
                    <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                        <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                    </a>
                </div>
            </div>  <!-- /#grammarholder -->

            <form id='dialogue_form' action='' class='abox' method='post'>{% csrf_token %}
                <input id='id_dialogue_attempt' type='text' name='dialogue_attempt' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                <input id='dialogue_actual' type='hidden' name='dialogue_actual' value='' />
                <input id='dialogue_index' type='hidden' name='dialogue_index' value='' />
                <input id='dialogue_kana' type='hidden' name='dialogue_kana' value='' />
                <input type='submit' value='&#8680;' />
            </form>
            <div id='literal_one' class='lit-c'></div>
        </div>

    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/kairozu-dlog.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('id_dialogue_attempt');
    wanakana.bind(input);

    $(document).ready(function() {
        var urlstring = "/main/chapter/" + '{{ chapter.id }}' + "/exercise_d" + '{{ exercise.id }}' + "/grab/0";
        $.get(urlstring).done(function (data) {
            dialogueNext(data);
        })
    });
</script>

{% endblock %}