{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Exercises{% endblock %}
{% block sidecollapse %}<div id="sidecollapse"><a id="menu-toggle" href="#" class="btn-menu toggle"><span class="glyphicon glyphicon-list"></span></a></div>{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'main/sidebar.html' %}
    <div id="page-content-wrapper">
        <div class="fc-general-col">

            <h1>{{ chapter.title }} Exercises</h1>
            <div class="s-15"></div>

            <p class="raleway">Exercises summarize the grammar you've learned learned thus far; they mix previously encountered grammar lessons into cohesive passages and dialogues. Complete each exercise with >70% accuracy to unlock the one following. Complete all exercises and <a href="{% url "main:progress" %}">keep up with your reviews</a> to unlock the following chapter.</p>

            <div class="spot-table">
                {% for exer in object_list %}
                    {% if user.profile.currentstory > chapter.id and user.profile.currentexercise >= exer.exercise_order %}
                        {% if exer.exercise_type == 'passage' %}
                            {% if user.profile.currentexercise > exer.exercise_order %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-edit fa-stack-2x"></i><span class="green-words normal"><i class="fa fa-check fa-stack-1x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Passage: <a href="{% url 'main:exercisepassage' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% elif user.profile.attemptexercise == exer.exercise_order %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-edit fa-stack-2x"></i><span class="red-words normal"><i class="fa fa-refresh fa-stack-1x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Passage: <a href="{% url 'main:exercisepassage' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <span class="normal"><i class="fa fa-edit fa-2x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Passage: <a href="{% url 'main:exercisepassage' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if user.profile.currentexercise > exer.exercise_order %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-comment-o fa-stack-2x"></i>
                                            <span class="green-words normal"><i class="fa fa-check fa-stack-1x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Dialogue: <a href="{% url 'main:exercisedialogue' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% elif user.profile.attemptexercise == exer.exercise_order %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-comment-o fa-stack-2x"></i>
                                            <span class="red-words normal"><i class="fa fa-refresh fa-stack-1x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Dialogue: <a href="{% url 'main:exercisedialogue' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="margin-bottom-20">
                                    <div class="spot-image">
                                        <span class="fa-stack fa-lg">
                                            <span class="normal"><i class="fa fa-comment-o fa-2x"></i></span>
                                        </span>
                                    </div>
                                    <div class="spot-text">
                                        Dialogue: <a href="{% url 'main:exercisedialogue' chapter.id exer.id %}">{{ exer.exercise_word }}</a><br />
                                        <span class="smaller">{{ exer.description }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            {% if user.profile.pendingchapter > chapter.id %}
            <p class="raleway"><h4>Congrats, you've finished the material for <a href="{% url 'main:interface' user.profile.currentchapter %}">{{ chapter.title }}</a>! Check your <a href="{% url 'main:progress' %}">progress</a> toward unlocking the next chapter.</h4>
            </p>
            {% endif %}

        </div>
        <div class="s-100"></div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->

{% endblock %}