{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Passage{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id='wrapper'>
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">

        <div id="retain-passage">
            <h3 class="grey-words italics raleway">{{ exercise.description }}</h3>
            <div class="passageholder">
                <div class="pass-e">
                    {% for sentence in object_list %}
                        <span id="s{{sentence.id}}">
                            {{ sentence.english }}
                        </span>
                    {% endfor %}
                </div>
                <div id='passage_jp' class='pass-j'></div>
            </div>  <!-- /#passageholder -->
        </div>

        <div id="dialogue-input">
            <div id="grammarholder">
                <div id='context' class='context-container'></div>
                <div id='english' class='challenge-grammar'></div>
                <div class='promptc'>
                    <span id='hint' class='ls5r'>&#8203;</span>
                    <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                        <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                    </a>
                </div>
            </div>  <!-- /#grammarholder -->

            {% include 'main/quiz_answer.html' %}
            <div id='literal' class='lit-c'></div>
        </div>
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>
<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    var quiz = $('#quiz'),
        context = $('#context'),
        english = $('#english'),
        hint = $('#hint'),
        attempt = $('#attempt'),
        pagewrap = $('#wrapper'),
        literal = $('#literal'),
        bug = $('#bug-button'),
        jpassage = $('#passage_jp');

    var qdata = '',
        q = 0,
        totalq = 0,
        level = 3,
        current_passage = '',
        currentline = '',
        intotal = 0,
        inwrong = 0,
        nextstep = 1,
        wrongnew = 0;

    function passage() {
        english.html(qdata[q]['english']);
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['literal'] + '&#8203;');
        context.html(qdata[q]['context'] + '&#8203;');
        jpassage.html(current_passage);
        {% if user.profile.preferkanji %}
            switch (level) {
                case 3:
                    if (qdata[q]['disamb_location'] != 0) {
                        hint.html(qdata[q]['kanji_all_blank']);
                        hint.addClass('ls5y');
                    } else {
                        hint.html('&#8203;');
                    } break;
                case 2:
                    hint.html(qdata[q]['kanji_all_blank']);
                    hint.removeClass('ls5y');
                    break;
                case 1:
                    hint.html(qdata[q]['kanji_alt_blank']); break;
                default:
                    hint.html(qdata[q]['f_kanji']); break;
            }
        {% else %}
            switch (level) {
                case 3:
                    if (qdata[q]['disamb_location'] != 0) {
                        hint.html(qdata[q]['kana_all_blank']);
                        hint.addClass('ls5y');
                    } else {
                        hint.html('&#8203;');
                    } break;
                case 2:
                    hint.html(qdata[q]['kana_all_blank']);
                    hint.removeClass('ls5y');
                    break;
                case 1:
                    hint.html(qdata[q]['kana_alt_blank']); break;
                default:
                    hint.html(qdata[q]['f_kana']); break;
            }
        {% endif %}
        currentline = '#s' + qdata[q]['id'];
        $(currentline).attr('class', 'green-words-bold');
    }


    quiz.submit(function(event) {
        event.preventDefault();
        if (attempt.val() !== '') {
            var clean = cleanInput(attempt.val());
            if (clean === qdata[q]['kana_clean'] || clean === qdata[q]['kanji_clean']) {
                bug.hide();
                quiz.removeClass("abox_red");
                quiz.addClass("abox_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_g"); });
                english.attr('class', 'challenge-grammar');
                if (level === 3) {
                    intotal++;
                    nextstep = 1;
                    wrongnew = 0;
                    $(currentline).removeClass('green-words-bold');
                    {% if user.profile.preferkanji %}
                        current_passage = current_passage + ' ' + qdata[q]['f_kanji'];
                    {% else %}
                        current_passage = current_passage + ' ' + qdata[q]['f_kana'];
                    {% endif %}
                    q++;
                } else {
                    if (wrongnew === 0) { inwrong++; }
                    wrongnew = 1;
                    nextstep = 0;
                    level = 3;
                }
            } else {
                bug.show();
                quiz.addClass("abox_red abox_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_r"); });
                english.attr('class', 'challenge-grammar red-words');
                if (level > 0) { level--; }
            }

            if (q < totalq) {
                quiz[0].reset();
                passage();
            } else {
                jpassage.html(current_passage);
                var score = (intotal-inwrong)/intotal,
                    total_passage = $('#retain-passage').html();
                literal.hide();
                context.hide();
                quiz.hide();
                hint.hide();
                english.html('<div class=\'text-align-center vocab-challenge\'><i class=\'fa fa-refresh fa-4x fa-spin orange-words\' aria-hidden=\'true\'></i></div>');
                $.ajax({
                    type: "POST",
                    url: "{% url 'main:passagefinish' chapter.id exercise.id %}",
                    data: {q: q, totalq: totalq, score: score},
                    success: function (data) {
                        if (data.error) {
                            location.reload();
                        } else {
                            pagewrap.html(data);
                            $('#retain-passage').html(total_passage);
                        }
                    }
                });
            }
        }
    });

    $(document).ready(function() {
        var urlstring = "/main/chapter/" + '{{ chapter.id }}' + "/exercise_p" + '{{ exercise.id }}' + "/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            if (totalq > 0) {
                passage();
            }
        })
    });
</script>

{% endblock %}
