{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Dialogue{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/dialogue.css' %}">

<div id='wrapper'>
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">

        <h3 class="grey-words italics raleway">{{ exercise.description }}</h3>
        <div class="s-10"></div>

        <div class="dialogue-holder">
            <table id="dialogue-table" class="chat">
            </table>
        </div>

        <div id="dialogue-input">
            <div id="grammarholder">
                <div id='context' class='context-container'></div>
                <div id='english' class='challenge-grammar'></div>
                <div class='promptc'>
                    <span id='hint' class='ls5r'>&#8203;</span>
                    <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                        <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                    </a>
                </div>
            </div>  <!-- /#grammarholder -->

            {% include 'main/quiz_answer.html' %}
            <div id='literal' class='lit-c'></div>
        </div>

    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>
<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    var quiz = $('#quiz'),
        context = $('#context'),
        english = $('#english'),
        hint = $('#hint'),
        attempt = $('#attempt'),
        pagewrap = $('#wrapper'),
        literal = $('#literal'),
        bug = $('#bug-button');

    var level = 3,
        q = 0,
        rindex = 0,
        rlength = 0,
        intotal = 0,
        inwrong = 0,
        next_step = 1,
        wrongnew = 0,
        current_dialogue = '',
        current_prompt = '',
        current_response = '',
        current_name = '';

    var nprompt = '',
        nprompt_a = "<tr><td class='dialogue-green'><i class='fa fa-user fa-lg green-words' aria-hidden='true'></i> <span id='dialoguename",
        nprompt_b = "' class='green-words bigbold'></span></td></tr><tr><td><div class='message'><div><p><span id='dialogueprompt",
        nprompt_c = "'></div></p></span></div></td></tr>",
        nresponse = '',
        nresponse_a ="<tr style='text-align:right;'><td class='dialogue-orange'><i class='fa fa-user fa-lg orange-words' aria-hidden='true'></i> <span class='orange-words bigbold'>You</span></td></tr><tr><td><div class='message me'><div><p><span id='responsekana",
        nresponse_b = "' class='bold'></div></p></span></div></td></tr>",
        nsecond = '',
        nsecond_a = "<tr><td><div class='message me'><div><p><span id='responsekana",
        nsecond_b = "' class='bold'></div></p></span></div></td></tr>";

    function dialogue() {
        if (rindex === 0 && next_step === 1) {
            nprompt = nprompt_a + q + nprompt_b + q + nprompt_c;
            nresponse = nresponse_a + q + '-' + rindex + nresponse_b;
            $('#dialogue-table').append(nprompt, nresponse);
        } else if (next_step === 1) {
            nsecond = nsecond_a + q + '-' + rindex + nsecond_b;
            $('#dialogue-table').append(nsecond);
        }

        rlength = qdata[q]['responses'].length-1;
        current_prompt = '#dialogueprompt' + q;
        current_response = '#responsekana' + q + '-' + rindex;
        current_name = '#dialoguename' + q;
        $(current_name).html(qdata[q]['prompt_name']);
        $(current_prompt).html(qdata[q]['prompt_kana_f']);

        var topelement = document.getElementById("grammarholder");
        topelement.scrollIntoView();

        english.html(qdata[q]['responses'][rindex]['response_english']);
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['responses'][rindex]['response_literal'] + '&#8203;');
        context.html(qdata[q]['responses'][rindex]['response_context'] + '&#8203;');

        switch (level) {
            case 3:
                if (qdata[q]['responses'][rindex]['response_disamb_location'] != 0) {
                    hint.html(qdata[q]['responses'][rindex]['response_kana_all_blank']);
                    hint.addClass('ls5y');
                } else {
                    hint.html('&#8203;');
                } break;
            case 2:
                hint.html(qdata[q]['responses'][rindex]['response_kana_all_blank']);
                hint.removeClass('ls5y');
                break;
            case 1:
                hint.html(qdata[q]['responses'][rindex]['response_kana_alt_blank']); break;
            case 0:
                hint.html(qdata[q]['responses'][rindex]['response_kana_f']); break;
            default:
                hint.html('&#8203;'); break;
        }
    }

    quiz.submit(function(event) {
        event.preventDefault();
        if (attempt.val() !== '') {
            var clean = cleanInput(attempt.val()),
                actual = qdata[q]['responses'][rindex]['response_kana_clean'];
            if (clean === actual) {
                bug.hide();
                quiz.removeClass("abox_red");
                quiz.addClass("abox_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_g"); });
                english.attr('class', 'challenge-grammar');
                if (level === 3) {
                    intotal++;
                    next_step = 1;
                    wrongnew = 0;
                    current_dialogue = qdata[q]['responses'][rindex]['response_kana_f'];
                    $(current_response).html(current_dialogue);
                    if (rindex === rlength) {
                        q++;
                        rindex = 0;
                        current_dialogue = '';
                    } else {
                        rindex++;
                    }
                } else {
                    if (wrongnew === 0) { inwrong++; }
                    wrongnew = 1;
                    next_step = 0;
                    level = 3;
                }
            } else {
                bug.show();
                quiz.addClass("abox_red abox_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { quiz.removeClass("abox_r"); });
                english.attr('class', 'challenge-grammar red-words');
                if (level > 0) {
                    next_step = 0;
                    level--;
                }
            }

            if (q < totalq) {
                quiz[0].reset();
                dialogue();
            } else {
                var score = (intotal-inwrong)/intotal,
                    total_passage = $('#dialogue-table').html();
                $.ajax({
                    type: "POST",
                    url: "{% url 'main:dialoguefinish' chapter.id exercise.id %}",
                    data: {q: q, totalq: totalq, score: score},
                    success: function (data) {
                        if (data.error) {
                            location.reload();
                        } else {
                            pagewrap.html(data);
                            $('#dialogue-table').html(total_passage);
                        }
                    }
                });
            }
        }
    });

    $(document).ready(function() {
        var urlstring = "/main/chapter/" + '{{ chapter.id }}' + "/exercise_d" + '{{ exercise.id }}' + "/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            if (totalq > 0) {
                dialogue();
            }
        })
    });
</script>

{% endblock %}