{% extends 'kairozu.html' %}
{% block title %}Kairozu Expression Review{% endblock %}

{% load static %}
{% block content %}

<div id="allwrap">
    <div class="fc-basic">

        <div id='vocabholder'>
            <div id='vfield'>
                <div id='literal_note' class='vocab-note text-align-center'></div>
                <div id='expression_english' class='vocab-challenge text-align-center'></div>

                <div class='vocab-promptc text-align-center'>
                    <span id='hint_block' class='ls5'>&nbsp;</span>
                    <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                        <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                    </a>
                </div>

                <form id='expressionquizform' action='' method='post' class='abox'>{% csrf_token %}
                    <input id='id_expressionattempt' type='text' name='expression_attempt' autocapitalize='none' autocorrect='off' autofocus />
                    <input id='eactual' type='hidden' name='expression_actual' value='' />
                    <input id='ecode' type='hidden' name='expression_code' value='A' />
                    <input id='eid' type='hidden' name='expressionrecord_id' value='' />
                    <input type='submit' value='&#8680;' />
                </form>
                <div id='literal_one' class='lit-c'></div>
            </div>  <!-- /#vfield -->
        </div>  <!-- /#vocabholder -->

    </div>

    <div class="fc-basic">
        <div class="reference-link smaller">
            <a id="reflink" href="">View Expression List</a>
        </div>

        <div id="expression-example" style="display: none;">
            <i class="fa fa-info-circle green-words" aria-hidden="true"></i>&nbsp;&nbsp;<span id="prompt-text" class="grey-words smaller"></span>
        </div>

        <div id="katakana-tips" style="display: none;">
            <i class="fa fa-star red-words" aria-hidden="true"></i>&nbsp;&nbsp;<span class="grey-words smaller">This expression uses katakana characters (press shift when typing).</span>
        </div>
    </div>
</div>

<div class="s-100"></div>

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var elevel = 2;
    var expressioncode = 'A';
    var input = document.getElementById('id_expressionattempt');
    wanakana.bind(input);

    function expressionNext(data) {
        if (data['id'] != null) {
            $('#literal_note').html('&nbsp;' + data['express']['note'] + '&nbsp;');
            $('#expression_english').html(data['express']['english']);
            $('#eactual').val(data['express']['kana_clean']);
            $('#eid').val(data['id']);
            if (data['express']['literal'].trim()) {
                $('#literal_one').html('<div class="white-words litcontextbox upper">literal</div>' + data['express']['literal'] + '&nbsp;');
            } else {
                $('#literal_one').html('&nbsp;');
            }
            $("#reflink").attr("href", '/main/chapter/' + data['express']['chapter'] + '/expressionlist/');
            switch(elevel) {
                case 2:
                    $('#hint_block').html(data['express']['kana_all_blank']); break;
                case 1:
                    $('#hint_block').html(data['express']['kana_alt_blank']); break;
                default:
                    $('#hint_block').html(data['express']['kana']); break;
            }
            $('#expressionquizform').removeClass('abox_g abox_r');
            if (data['express']['katakana'] == true) {
                $('#katakana-tips').show();
            } else {
                $('#katakana-tips').hide();
            }
            if (data['express']['prompt']) {
                $('#expression-example').show();
                $('#prompt-text').html('Example: ' + data['express']['prompt']);
            } else {
                $('#expression-example').hide();
            }
        } else {
            $.get("{% url 'main:reviewexpressioncurrent' %}").done(function (data) {
                $('#allwrap').html(data);
            });            
        }
    }
    $('#expressionquizform').submit(function(event) {
        event.preventDefault();
        var clean_attempt = $('#id_expressionattempt').val().replace(/[　。、？！「」'",.?!\s]/g, "");
        if (clean_attempt == $('#eactual').val()) {
            $('#expressionquizform').attr('class', 'abox abox_g');
            $('#bug-button').hide();
            if (elevel == 2) {
                expressioncode = 'C';
            } else {
                elevel = 2;
                expressioncode = 'N';
            }
            $('#hint_block').attr('class', 'ls5');
        } else {
            $('#expressionquizform').attr('class', 'abox_red abox_r');
            $('#bug-button').show();
            if (elevel == 2) {
                expressioncode = 'I';
            } else {
                expressioncode = 'A';
            }
            if (elevel > 0) { elevel--; }
            $('#hint_block').attr('class', 'ls5r');
        }
        $('#ecode').val(expressioncode);
        var form_data = $('#expressionquizform').serialize();
        $.post("{% url 'main:reviewexpressioncheck' %}", form_data).done(function(data) {
            $('#expressionquizform')[0].reset();
            expressionNext(data);
        });
    });

    $(document).ready(function() {
        $.get("{% url 'main:reviewexpressiongrab' %}").done(function (data) {
            expressionNext(data);
        });
    });


    $('#bug-button').click(function() {
        $('#form-modal-body').load('/news/newissue/', function () {
            modal.style.display = "block";
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });
</script>

{% endblock %}
