{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Expressions{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

<div id="wrapper">
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">

        <h1>{{ chapter.title }} Expressions</h1>
        {% if user.profile.currentexpression > chapter.id %}
            <p class="raleway">Congrats! You've finished the expressions for this chapter, but the <a href="{% url 'main:expressionquiz' chapter.id %}">Expression Quiz</a> interface is always available if you want more practice.</p>
        {% else %}
            <p class="raleway">This is a list of the expressions used throughout the {{ chapter.title }} material. Complete the <a href="{% url 'main:expressionquiz' chapter.id %}">Expression Quiz</a> to unlock the grammar lessons.</p>
        {% endif %}
        <p class="raleway smaller">Expressions marked with <i class="fa fa-star red-words" aria-hidden="true"></i> involve the <a href="{% url 'sandbox:japanesekana' %}">katakana character set</a>; these words are often foreign in origin or onomatopoeic. Hold down shift when entering text to switch from hiragana to katakana.</p>
        <div class="s-5"></div>
        <div class="table-responsive">
            <table class="vocablist table">
                <thead>
                    <tr><th>English・英語</th><th>Kana・仮名</th><th>Kanji・漢字</th><th>カ</th><th>Note</th></tr>
                </thead>
                <tbody>
                    {% for phrase in object_list %}
                        <tr>
                            <td>{{ phrase.english }}</td>
                            <td>{{ phrase.kana }}</td>
                            <td>{{ phrase.kanji }}</td>
                            <td>
                                {% if phrase.katakana %}
                                    <i class="fa fa-star red-words" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ phrase.note }}
                                <br />
                                {% if phrase.prompt %}
                                    <span class="smaller grey-words raleway">Example: {{ phrase.prompt }}</span>
                                {% endif %}
                                &nbsp;
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="s-100"></div>
    </div>
</div>  <!-- /#wrapper -->

{% endblock %}
