<!-- page-content-wrapper -->
<div id='page-content-wrapper'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12'>
                <div id='vocabholder'>

                    <div id='vocabfield'>

                        <h1>おめでとう～！　You're caught up with Expression Reviews!</h1>
                        {% include 'main/reviewcurrent.html' %}
                        
                        <h3>Preview your upcoming expression reviews～</h3>
                        <div class="table-responsive">
                            <table class="vocablist">
                                <thead>
                                    <tr>
                                        <th>English ・英語</th>
                                        <th>Kana ・仮名</th>
                                        <th>Next Review</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for express in object_list %}
                                        <tr>
                                            <td>{{ express.express.english }}</td>
                                            <td>{{ express.express.kana }}</td>
                                            <td>{{ express.next_review|naturaltime }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>  <!-- /#vocabfield -->

                </div>  <!-- /#vocabholder -->
            </div>  <!-- /.col-lg-12 -->
        </div>  <!-- /.row -->
    </div>  <!-- /.container-fluid -->
</div>  <!-- /#page-content-wrapper -->
