<div class="s-5"></div>
<div class="table-responsive">
    <table class="exprlist">
        <thead>
            <tr>
                <th>English・英語&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Japanese・日本語</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for phrase in object_list %}
                <tr>
                    <td>
                        {{ phrase.english }}
                        {% if phrase.katakana %}
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-star-o red-words" aria-hidden="true"></i>{{ phrase.kana }}</li>
                                {% if phrase.kanji %}
                                    <li><i class="fa fa-li fa-star red-words" aria-hidden="true"></i>{{ phrase.kanji }}</li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-circle-o mdgrey-words" aria-hidden="true"></i>{{ phrase.kana }}</li>
                                {% if phrase.kanji %}
                                    <li><i class="fa fa-li fa-circle mdgrey-words" aria-hidden="true"></i>{{ phrase.kanji }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </td>
                    <td class="min300">
                        {% if phrase.context %}
                            <div>{{ phrase.context }}</div>
                        {% endif %}
                        {% if phrase.example %}
                            <div class="smaller grey-words raleway">Example: {{ phrase.example }}</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="s-100"></div>