{% extends 'kairozu.html' %}
{% block title %}Kairozu Expression Review{% endblock %}

{% load static %}
{% block content %}

<div id='island'></div>

<div id="allwrap">
    <!-- page-content-wrapper -->
    <div id='page-content-wrapper'>
	    <div class="container container-kairozu">
            <div class='row'>
                <div class='col-lg-12'>

					<div id='vocabholder'>
                        <div id='vocabfield'>
                            <div id='literal_one' class='vocab-note text-align-center'></div>
                            <div id='expression_english' class='vocab-challenge text-align-center'></div>

                            <div class='vocab-prompt-container text-align-center'>
                                <span id='hint_block' class='letterspacing5r'>&nbsp;</span>
                                <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                                    <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                                </a>
                            </div>

                            <form id='expressionquizform' action='' method='post' class='answer_box'>{% csrf_token %}
                                <input id='id_expressionattempt' type='text' name='expression_attempt' autofocus />
                                <input id='eactual' type='hidden' name='expression_actual' value='' />
                                <input id='ecode' type='hidden' name='expression_code' value='A' />
                                <input id='eid' type='hidden' name='expressionrecord_id' value='' />
                                <input type='submit' value='&#8680;' />
                            </form>
                        </div>  <!-- /#vocabfield -->
                    </div>  <!-- /#vocabholder -->

                </div>  <!-- /.col-lg-12 -->
            </div>  <!-- /.row -->

            <div class="reference-link smaller">
                <a id="reflink" href="">View Expression List</a>
            </div>

            <div id="expression-example" style="display: none;">
                <i class="fa fa-info-circle green-words" aria-hidden="true"></i>&nbsp;&nbsp;<span id="prompt-text" class="grey-words smaller"></span>
            </div>

            <div id="katakana-tips" style="display: none;">
                <i class="fa fa-star red-words" aria-hidden="true"></i>&nbsp;&nbsp;<span class="grey-words smaller">This expression uses katakana characters (press shift when typing).</span>
            </div>

        </div>  <!-- /.container-fluid -->
    </div>  <!-- /#page-content-wrapper -->
</div>
<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var elevel = 3;
    var expressioncode = 'A';
    var input = document.getElementById('id_expressionattempt');
    wanakana.bind(input);

    function expressionNext(data) {
        if (data['id'] != null) {
            $('#literal_one').html('&nbsp;' + data['express']['note'] + '&nbsp;');
            $('#expression_english').html(data['express']['english']);
            $('#eactual').val(data['express']['kana_clean']);
            $('#eid').val(data['id']);
            $("#reflink").attr("href", '/main/chapter/' + data['express']['chapter'] + '/expressionlist/');
            switch(elevel) {
                case 3:
                    $('#hint_block').html('&nbsp;'); break;
                case 2:
                    $('#hint_block').html(data['express']['kana_all_blank']); break;
                case 1:
                    $('#hint_block').html(data['express']['kana_alt_blank']); break;
                default:
                    $('#hint_block').html(data['express']['kana']); break;
            }
            $('#expressionquizform').removeClass('answer_box_g answer_box_r');
            if (data['express']['katakana'] == true) {
                $('#katakana-tips').show();
            } else {
                $('#katakana-tips').hide();
            }
            if (data['express']['prompt']) {
                $('#expression-example').show();
                $('#prompt-text').html('Example: ' + data['express']['prompt']);
            } else {
                $('#expression-example').hide();
            }
        } else {
            $.get("{% url 'main:reviewexpressioncurrent' %}").done(function (data) {
                $('#allwrap').html(data);
            });            
        }
    }
    $('#expressionquizform').submit(function(event) {
        event.preventDefault();
        var clean_attempt = $('#id_expressionattempt').val().replace(/[　。、？！「」\'\",.?!\s]/g, "");
        if (clean_attempt == $('#eactual').val()) {
            $('#expressionquizform').attr('class', 'answer_box answer_box_g');
            $('#bug-button').hide();
            if (elevel == 3) {
                expressioncode = 'C';
            } else {
                elevel = 3;
                expressioncode = 'N';
            }
        } else {
            $('#expressionquizform').attr('class', 'answer_box_red answer_box_r');
            $('#bug-button').show();
            if (elevel == 3) {
                expressioncode = 'I';
            } else {
                expressioncode = 'A';
            }
            if (elevel > 0) { elevel--; }
        }
        $('#ecode').val(expressioncode);
        var form_data = $('#expressionquizform').serialize();
        $.post("{% url 'main:reviewexpressioncheck' %}", form_data).done(function(data) {
            $('#expressionquizform')[0].reset();
            expressionNext(data);
        });
    });

    $(document).ready(function() {
        $.get("{% url 'main:reviewexpressiongrab' %}").done(function (data) {
            expressionNext(data);
        });
    });


    $('#bug-button').click(function() {
        $('#form-modal-body').load('/news/newissue/', function () {
            $('#form-modal').modal('toggle');
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });
</script>

{% endblock %}
