{% extends 'kairozu.html' %}
{% block title %}Kairozu Batch Flashcards{% endblock %}

{% load static %}
{% block content %}

<div id="allwrap">
    <div class="fc-general-col">
        <h1>Import Flashcards via CSV</h1>

        <p>
        Your CSV file should have no header row, and should have one vocabulary word per row, with data in the following order: <br />
        <div class="table-responsive">
            <table class="importTable">
            <tr class="bold">
                <td>
                    English,
                </td>
                <td>
                    Kana,
                </td>
                <td>
                    Kanji,
                </td>
                <td>
                    Strict?,
                </td>
                <td>
                    Literal,
                </td>
                <td>
                    Context,
                </td>
                <td>
                    Notes
                </td>
            </tr>
            <tr class="smaller">
                <td>
                    English flashcard prompt
                </td>
                <td>
                    hiragana or katakana reading
                </td>
                <td>
                    kanji version
                </td>
                <td>
                    True to preserve word order checking in your response, or False
                </td>
                <td>
                    literal reading or interpretation of the word or sentence
                </td>
                <td>
                    additional contextual information for the flashcard
                </td>
                <td>
                    any notes you may have
                </td>
            </tr>
        </table>
        </div>
        <div class="tinyred">
            If you include commas in any field, make sure to enclose the whole field in quotes!
        </div>
        <h3>Examples:</h3>
            My name is Amber,わたし　の　なまえ　は　アンバー　です。,私　の　名前　は　アンバー　です。,True,"as for my name, Amber is",,
            <div class="s-5"></div>
            green,みどり,緑,True,,,
            <div class="s-5"></div>
            (I'm) home!,ただいま,只今,True,safely now,said when arriving home,usually written in kana
            <div class="s-5"></div>
            The dog is black.,いぬ　は　くろい　です。,犬　は　黒い　です。,True,"as for dog, (it) is black",uses i-adjective for color,this is a simple sentence
        </p>
        <form action="{% url 'main:flashcardbatch' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Save new flashcards to set:</h3>
            <select id="desiredSet" name="desiredSet">
                {% for set in availsets %}
                    <option value="{{ set.id }}">{{ set.name }}</option>
                {% endfor %}
            </select>
            <div class="s-30"></div>
            <p>
            <input class="selectfile" type="file" name="csv_file" />
            <input class="btn btn-success" type="submit" value="Upload" />
            </p>
        </form>
    </div>
</div>

<div class="s-20"></div>
<h3><a href="{% url 'main:flashcardsetlist' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Flashcard Sets</a></h3>
<div class="s-50"></div>
{% endblock %}