{% extends 'kairozu.html' %}
{% block title %}Kairozu Flashcard Boxes{% endblock %}

{% load static %}
{% block content %}

<div id="allwrap">
    <div class="fc-general-col">
        <h1>Flashcard Sets</h1>
        <div class="s-5"></div>
        <ul class="fa-ul">
            <li><a href="{% url 'main:flashcardsetcreate' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> New Flashcard Set</a></li>
            <li><a href="{% url 'main:flashcardbatch' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> Import Flashcards via CSV</a></li>
            <li><a href="{% url 'main:flashcardlist' %}"> <i class="fa-li fa fa-star" aria-hidden="true"></i>View All Flashcards</a></li>
        </ul>
        <div class="s-5"></div>
        <div class="table-responsive">
            <table class="vocablist">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of Cards</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fset in object_list %}
                    <tr>
                        <td><a href="{% url 'main:flashcardsetdetail' fset.slug %}">{{ fset.name }}</a></td>
                        <td>{{ fset.flashcard_set.count }}</td>
                        <td>{{ fset.description }}</td>
                        {% if fset.name == "default" %}
                            <td><span class="ltgrey-words">Edit</span> / <span class="ltgrey-words">Delete</span></td>
                        {% else %}
                            <td><a href="{% url 'main:flashcardsetupdate' fset.slug %}">Edit</a> / <a href="{% url 'main:flashcardsetdelete' fset.slug %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="s-50"></div>
{% endblock %}

