<div class="s-10"></div>
<li><a href="{% url 'main:flashcardbatch' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> Import Flashcards via CSV File</a></li>
<li><a href="{% url 'main:flashcardfromvocab' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> Import Flashcards from Vocabulary Lists</a></li>
<li><a href="{% url 'main:flashcardfromquiz' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> Import Flashcards from Lesson Quizzes</a></li>
<div class="s-10"></div>
<li><a href="{% url 'main:flashcarddeletebyset' %}"><i class="fa-li fa fa-star" aria-hidden="true"></i> Delete Flashcards by Set</a></li>
<div class="s-10"></div>