{% extends 'kairozu.html' %}
{% block title %}Kairozu Delete Flashcard{% endblock %}

{% load static %}
{% block content %}

<div id="allwrap">
    <div class="fc-general-col">
        <h3>Are you sure you want to delete the flashcard for "{{ object.english }}"?</h3>
        <form method="post">{% csrf_token %}
            <input class="btn btn-default" type="submit" value="DELETE" />
        </form>
    </div>
</div>

<div class="s-20"></div>
<h3><a href="{% url 'main:flashcardsetlist' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Flashcards</a></h3>
{% endblock %}