{% extends 'kairozu.html' %}
{% block title %}Kairozu Update Flashcard{% endblock %}

{% load static %}
{% block content %}

<div id="allwrap">
    <div class="fc-general-col">
        <h1>Edit Flashcard</h1>
        <form method="post">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input class="btn btn-success" type="submit" value="UPDATE" />
        </form>
    </div>
</div>

<a href="{% url 'main:flashcard' %}">Return to Flashcard List</a>

{% endblock %}