{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} Grammar Note{% endblock %}

{% load static %}
{% block content %}

<div class="fc-basic">

    {% if grammarnote %}
        <h1 class="lessonhead">{{ grammarnote.title }}</h1>
        <div id="gnote">
            {{ grammarnote.notetext|safe }}
        </div>
    {% else %}
        <h3>There are no grammar notes associated with this lesson.</h3>
    {% endif %}

    <div class="s-20"></div>
    <h4><a href="{% url 'main:lesson' lesson.id %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Lesson "{{ lesson.title }}"</a></h4>

</div>
<div class="s-100"></div>

{% endblock %}