{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }}{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load kairozu_point from kairozu_tables %}
{% load kairozu_table2 from kairozu_tables %}
{% load kairozu_table4 from kairozu_tables  %}
{% load static %}

{% block content %}

<div id="wrapper">
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">
        {% if lesson %}
            <div class="center-block text-align-center">
                <h1 class="lessonhead">{{ lesson.f_english|safe }}</h1>
                <h1 class="lessonhead">{{ lesson.f_hiragana|safe }}</h1>
            </div>

            <div id="gex">
                {% for x in pieces %}
                    {% if x.shape is 0 %}
                        {{ x.f_text|safe }}
                    {% elif x.shape is 1 %}
                        <p>{{ x.f_text|safe }}</p>
                    {% elif x.shape is 2 %}
                        {% kairozu_table2 x %}
                    {% elif x.shape is 4 %}
                        {% kairozu_table4 x %}
                    {% endif %}
                {% endfor %}

                {% if lesson.point_active %}
                    <div class="s-15"></div>
                    {% kairozu_point lesson %}
                {% endif %}

                <div class="fc-general-row">
                    {% for example in lesson.examples.all %}
                        <div class="fc-flex-30">
                            <div class="gexample dashed-grey-2">
                                {{ example.f_english|safe }}<br />
                                {{ example.f_hiragana|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="fc-general-row-rev">
                    <div class="fc-flex-40 order2">
                        <div id="more-info">
                            <ul>
                                {% for moreinfo in lesson.moreinfos.all %}
                                    <li>{{ moreinfo.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% if user.profile.currentpractice > lesson.id %}
                        <div class="fc-flex-20 order1">
                            <div class="center-table">
                                <a id="qlink" href="{% url 'main:sentencequiz' lesson.id %}">
                                    <div id="quizbg">
                                        <img class="bottom" src="{% static 'img/quiz-orange.svg' %}" />
                                        <img class="top" src="{% static 'img/quiz-red.svg' %}" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% if user.profile.currentlesson >= lesson.id or lesson.id == 1 %}
                        <div class="fc-flex-20 order1">
                            <div class="center-table">
                                <a id="qlink" href="{% url 'main:practicequiz' lesson.id %}">
                                    <div id="practbg">
                                        <img class="bottom" src="{% static 'img/practice-orange.svg' %}" />
                                        <img class="top" src="{% static 'img/practice-red.svg' %}" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>No lesson content is available.</p>
        {% endif %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->


{% endblock %}
