{% extends 'kairozu.html' %}
{% block title %}Kairozu Index{% endblock %}
{% load static %}

{% block content %}

<div class="s-20"></div>
<div class="fc-center text-align-center">
    <div class="width-75 fs1-2 raleway smaller hi-texts">
        A solid grasp on <a href="https://en.wikipedia.org/wiki/Hiragana">hiragana</a> and <a href="https://en.wikipedia.org/wiki/Katakana">katakana</a> is <span class="underline">necessary before attempting any of the material on this site</span>! There are many internet resources available for studying the Japanese syllabaries, a few of them are listed here: <a href="{% url 'sandbox:japanesekana' %}">Japanese Kana</a>.<br /><br />
        Within a chapter, the left sidebar is a linear guide to the vocabulary and grammar sections. Each chapter has ~100 new vocabulary that will be used throughout the grammar sections; it's important to learn these <span class="bold">first</span>. Once you've read the grammar notes, start the practice exercises; these are pairs of computer-generated English sentences which you translate to Japanese. Finally, complete the クイズ to test yourself on what you've learned in each lesson.
    </div>
</div>

<div class="fc-wrap pad-left-40">
    {% for chapter in object_list %}
        {% if chapter.status == 'H' %}
        {% elif chapter.status != 'A' %}
            <a class="chlink" href="{% url 'main:interface' chapter.id %}">
                <div class="chapterbox">
                    <img class="bottom" src="{% static 'img/blossom-orange.svg' %}" />
                    <img class="top" src="{% static 'img/blossom-red.svg' %}" />
                    <h1 class="dashtitle">{{ chapter.title }}
                    {% if chapter.status == 'B' %}<span class="betatag red-words bold">[BETA]</span>{% endif %}</h1>
                    <h4 class="dashsubtitle">{{ chapter.subtitle }}</h4>
                </div>
            </a>
        {% else %}
            <span>
                <div class="chapterbox-dim">
                    <img src="{% static 'img/blossom-grey.svg' %}" />
                    <h1 class="dashtitle-dim">{{ chapter.title }}
                    {% if chapter.status == 'B' %}<span class="betatag ltgrey-words bold">[BETA]</span>{% endif %}</h1>
                    <h4 class="dashsubtitle-dim">{{ chapter.subtitle }}</h4>
                </div>
            </span>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
