{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} Practice{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

{% include 'main/practiceq_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src="{% static 'js/wanakana.js' %}"></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    var input_b = document.getElementById('attempt_b');
    wanakana.bind(input);
    wanakana.bind(input_b);

    var quiz = $('#quiz'),
        context = $('#context'),
        context_b = $('#context_b'),
        english = $('#english'),
        english_b = $('#english_b'),
        hint = $('#hint'),
        hint_b = $('#hint_b'),
        attempt = $('#attempt'),
        attempt_b = $('#attempt_b'),
        pagewrap = $('#wrapper'),
        literal = $('#literal'),
        literal_b = $('#literal_b'),
        submit = $('#ksubmit'),
        bug = $('#bug-button');

    var qdata = '',
        q = 0,
        pcode = 'AD',
        totalq = 0,
        level = 0;

    function practice() {
        english.html(qdata[q]['pone_english']);
        english_b.html(qdata[q]['ptwo_english']);
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['pone_literal'] + '&#8203;');
        literal_b.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['ptwo_literal'] + '&#8203;');
        context.html(qdata[q]['pone_context'] + '&#8203;');
        context_b.html(qdata[q]['ptwo_context'] + '&#8203;');
        {% if user.profile and user.profile.preferkanji %}
            switch(pcode) {
                case 'BC':
                    hint.html(qdata[q]['pone_kanji_all'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kanji_all'] + '&#8203;');
                    break;
                case 'OC':
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kanji_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_alt'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kanji_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_f'] + '&#8203;');
                    } break;
                case 'TC':
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kanji_alt'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_f'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kanji_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_f'] + '&#8203;');
                    } break;
                default:
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kanji_alt'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_alt'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kanji_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kanji_f'] + '&#8203;');
                    } break;
            }
        {% else %}
            switch(pcode) {
                case 'BC':
                    hint.html(qdata[q]['pone_kana_all'] + '&#8203;');
                    hint_b.html(qdata[q]['ptwo_kana_all'] + '&#8203;');
                    break;
                case 'OC':
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_alt'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                    } break;
                case 'TC':
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kana_alt'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                    } break;
                default:
                    if (level === 1) {
                        hint.html(qdata[q]['pone_kana_alt'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_alt'] + '&#8203;');
                    } else {
                        hint.html(qdata[q]['pone_kana_f'] + '&#8203;');
                        hint_b.html(qdata[q]['ptwo_kana_f'] + '&#8203;');
                    } break;
            }
        {% endif %}
    }

    function processPractice(status) {
        switch(status) {
            case 1:
                bug.hide();
                pcode = 'BC';
                if (level === 2) { q++; } else { level = 2; }
                attempt.removeClass("kbox1_red");
                attempt_b.removeClass("kbox2_red");
                submit.removeClass("ksub_red");

                attempt.addClass("kbox1_g").prop("disabled", false).val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt.removeClass("kbox1_g").focus(); });
                attempt_b.addClass("kbox2_g").prop("disabled", false).val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt_b.removeClass("kbox2_g"); });
                submit.addClass("ksub_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { submit.removeClass("ksub_g"); });

                hint.attr('class', 'ls5');
                hint_b.attr('class', 'ls5');
                break;

            case 2:
                bug.show();
                pcode = 'OC';
                if (level > 0) { level--; }
                attempt.removeClass("kbox1_red");

                attempt.addClass("kbox1_g").prop("disabled", true).one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt.removeClass("kbox1_g"); });
                attempt_b.addClass("kbox2_red kbox2_r").val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt_b.removeClass("kbox2_r").focus(); });
                submit.addClass("ksub_red ksub_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { submit.removeClass("ksub_r"); });

                hint.attr('class', 'ls5g');
                hint_b.attr('class', 'ls5r');
                break;

            case 3:
                bug.show();
                pcode = 'TC';
                if (level > 0) { level--; }
                attempt.removeClass("kbox2_red");
                submit.removeClass("ksub_red");

                attempt.addClass("kbox1_red kbox1_r").val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt.removeClass("kbox1_r").focus(); });
                attempt_b.addClass("kbox2_g").prop("disabled", true).one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt_b.removeClass("kbox2_g"); });
                submit.addClass("ksub_g").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { submit.removeClass("ksub_g"); });

                hint.attr('class', 'ls5r');
                hint_b.attr('class', 'ls5g');
                break;

            default:
                bug.show();
                pcode = 'NC';
                if (level > 0) { level--; }

                attempt.addClass("kbox1_red kbox1_r").val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt.removeClass("kbox1_r").focus(); });
                attempt_b.addClass("kbox2_red kbox2_r").val('').one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { attempt_b.removeClass("kbox2_r"); });
                submit.addClass("ksub_red ksub_r").one(
                    "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                    function() { submit.removeClass("ksub_r"); });

                hint.attr('class', 'ls5r');
                hint_b.attr('class', 'ls5r');
                break;
        }
        if (q < totalq) {
            practice();
        } else {
            $('#practiceholder').html('<div class=\'text-align-center vocab-challenge\'><i class=\'fa fa-refresh fa-4x fa-spin orange-words\' aria-hidden=\'true\'></i></div>');
            $.ajax({
                type: "POST",
                url: "{% url 'main:practicefinish' lesson.id %}",
                data: {q: q, totalq: totalq},
                success: function (data) {
                    if (data.error) {
                        location.reload();
                    } else {
                        pagewrap.html(data);
                    }
                }
            });
        }
    }

    quiz.submit(function(event) {
        event.preventDefault();
        if ((attempt.val() !== '') && (attempt_b.val() !== '')) {
            var clean = cleanInput(attempt.val()),
                clean_b = cleanInput(attempt_b.val()),
                actual_kanji = qdata[q]['pone_kanji_clean'],
                actual_b_kanji = qdata[q]['ptwo_kanji_clean'],
                actual = qdata[q]['pone_kana_clean'],
                actual_b = qdata[q]['ptwo_kana_clean'];
            if ('{{ user.profile.strictmode }}' === 'True' || (qdata[q]['strict'])) {
                if (((clean === actual) || (clean ===actual_kanji)) && ((clean_b === actual_b) || (clean_b === actual_b_kanji))) {
                    processPractice(1);
                } else if ((clean === actual) || (clean === actual_kanji)) {
                    processPractice(2);
                } else if ((clean_b === actual_b) || (clean_b === actual_b_kanji)) {
                    processPractice(3);
                } else {
                    processPractice(4);
                }
            } else {
                actual = actual.split("");
                actual_b = actual_b.split("");
                actual_kanji = actual_kanji.split("");
                actual_b_kanji = actual_b_kanji.split("");
                clean = clean.split("");
                clean_b = clean_b.split("");
                if ((wanakana.compare(clean, actual) || wanakana.compare(clean, actual_kanji)) && (wanakana.compare(clean_b, actual_b) || wanakana.compare(clean_b, actual_b_kanji))) {
                    processPractice(1);
                } else if (wanakana.compare(clean, actual) || wanakana.compare(clean, actual_kanji)) {
                    processPractice(2);
                } else if (wanakana.compare(clean_b, actual_b) || wanakana.compare(clean_b, actual_b_kanji)) {
                    processPractice(3);
                } else {
                    processPractice(4);
                }
            }
        }
    });

    $(document).ready(function() {
        var urlstring = "/main/lesson/" + '{{ lesson.id }}' + "/practicequiz/grab/";
        $.get(urlstring).done(function (data) {
            qdata = data;
            totalq = qdata.length;
            if (totalq > 0) {
                practice();
            }
        });
    });
</script>

{% endblock %}
