{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} Practice{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

{% include 'main/practicequiz_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src="{% static 'js/wanakana.js' %}"></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var plevel = 0;
    var pindex = 0;
    var pcode = 'AD';
    var input = document.getElementById('id_pone_attempt');
    var input2 = document.getElementById('id_ptwo_attempt');
    wanakana.bind(input);
    wanakana.bind(input2);

    function practiceNext(data) {
        if (data['vieworder'] != null) {
            $('#practice_eng_one').html(data['pone_english']);
            $('#practice_eng_two').html(data['ptwo_english']);
            $('#poneact').val(data['pone_kana_clean']);
            $('#ptwoact').val(data['ptwo_kana_clean']);
            switch(pcode) {
                case 'BC':
                    $('#hint_one').html(data['pone_kana_all'] + '&#8203;');
                    $('#hint_two').html(data['ptwo_kana_all'] + '&#8203;');
                    break;
                case 'OC':
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana_alt'] + '&#8203;');
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana'] + '&#8203;');
                    }
                    break;
                case 'TC':
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana_alt'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana'] + '&#8203;');
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana'] + '&#8203;');
                    }
                    break;
                default:
                    if (plevel == 1) {
                        $('#hint_one').html(data['pone_kana_alt'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana_alt'] + '&#8203;');
                    } else {
                        $('#hint_one').html(data['pone_kana'] + '&#8203;');
                        $('#hint_two').html(data['ptwo_kana'] + '&#8203;');
                    }
                    break;
            }
            if (data['pone_literal'].trim()) {
                $('#literal_one').html('<div class="white-words litcontextbox upper">literal</div>' + data['pone_literal'] + '&#8203;');
            } else {
                $('#literal_one').html('&#8203;');
            }
            if (data['ptwo_literal'].trim()) {
                $('#literal_two').html('<div class="white-words litcontextbox upper">literal</div>' + data['ptwo_literal'] + '&#8203;');
            } else {
                $('#literal_two').html('&#8203;');
            }
            $('#context_one').html(data['pone_context'] + '&#8203;');
            $('#context_two').html(data['ptwo_context'] + '&#8203;');
            $('#id_pone_attempt').removeClass('kbox1_g kbox1_r');
            $('#id_ptwo_attempt').removeClass('kbox2_g kbox2_r');
            $('#ksubmit').removeClass('ksub_r ksub_g');
        } else {
            $.get("{% url 'main:practicesuccess' lesson.id %}").done(function (data) {
                $('#wrapper').html(data);
            });
        }
    }

    $('#practicequizform').submit(function(event) {
        event.preventDefault();
        var pone_clean_att = $('#id_pone_attempt').val().replace(/[　｡。、？！「」'",.?!\s]/g, "");
        var ptwo_clean_att = $('#id_ptwo_attempt').val().replace(/[　｡。、？！「」'",.?!\s]/g, "");
        if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
            pcode = 'BC';
            $('#bug-button').hide();
            if (plevel == 2) {
                pindex++;
            } else {
                plevel = 2;
            }
            $('#id_pone_attempt').attr('class', 'kbox1 kbox1_g').prop("disabled", false).val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2 kbox2_g').prop("disabled", false).val('');
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $('#hint_one').attr('class', 'ls5');
            $('#hint_two').attr('class', 'ls5');
        } else if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att != $('#ptwoact').val())) {
            pcode = 'OC';
            $('#bug-button').show();
            if (plevel > 0) {
                plevel--;
            }
            $('#id_pone_attempt').attr('class', 'kbox1 kbox1_g').prop("disabled", true);
            $('#id_ptwo_attempt').attr('class', 'kbox2_red kbox2_r').val('').focus();
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $('#hint_one').attr('class', 'ls5g');
            $('#hint_two').attr('class', 'ls5r');
        } else if ((pone_clean_att != $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
            pcode = 'TC';
            $('#bug-button').show();
            if (plevel > 0) { plevel --; }
            $('#id_pone_attempt').attr('class', 'kbox1_red kbox1_r').val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2 kbox2_g').prop("disabled", true);
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $('#hint_one').attr('class', 'ls5r');
            $('#hint_two').attr('class', 'ls5g');
        } else {
            pcode = 'NC';
            $('#bug-button').show();
            if (plevel > 0) { plevel --; }
            $('#id_pone_attempt').attr('class', 'kbox1_red kbox1_r').val('').focus();
            $('#id_ptwo_attempt').attr('class', 'kbox2_red kbox2_r').val('');
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $('#hint_one').attr('class', 'ls5r');
            $('#hint_two').attr('class', 'ls5r');
        }
        $('#pindex').val(pindex);
        var form_data = $('#practicequizform').serialize();
        $.post("{% url 'main:practicecheck' lesson.id %}", form_data).done(function(data) {
            practiceNext(data);
        });
    });

    $(document).ready(function() {
        var urlstring = "/main/lesson/" + '{{ lesson.id }}' + "/practicequiz/grab/0";
        $.get(urlstring).done(function (data) {
            practiceNext(data);
            $('#id_pone_attempt').focus();
        });
    });

    $('#bug-button').click(function() {
        $('#form-modal-body').load('/news/newissue/', function () {
            modal.style.display = "block";
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });

</script>

{% endblock %}
