{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} Practice{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

{% include 'main/practicequiz_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src="{% static 'js/wanakana.js' %}"></script>
<script type='text/javascript' src='{% static 'js/kairozu-util.js' %}'></script>

<script type='text/javascript'>
    var plevel = 0,
        pindex = 0,
        pcode = 'AD';
    var $id_pone_attempt = $('#id_pone_attempt'),
        $id_ptwo_attempt = $('#id_ptwo_attempt');
    var input = document.getElementById('id_pone_attempt');
    var input2 = document.getElementById('id_ptwo_attempt');
    wanakana.bind(input);
    wanakana.bind(input2);

    function processPractice(attempt) {
        if (attempt == 1) {
            pcode = 'BC';
            $('#bug-button').hide();
            if (plevel == 2) { pindex++; } else { plevel = 2; }
            $id_pone_attempt.attr('class', 'kbox1 kbox1_g').prop("disabled", false).val('').focus();
            $id_ptwo_attempt.attr('class', 'kbox2 kbox2_g').prop("disabled", false).val('');
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $hint_one.attr('class', 'ls5');
            $hint_two.attr('class', 'ls5');
        } else if (attempt == 2) {
            pcode = 'OC';
            $('#bug-button').show();
            if (plevel > 0) { plevel--; }
            $id_pone_attempt.attr('class', 'kbox1 kbox1_g').prop("disabled", true);
            $id_ptwo_attempt.attr('class', 'kbox2_red kbox2_r').val('').focus();
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $hint_one.attr('class', 'ls5g');
            $hint_two.attr('class', 'ls5r');
        } else if (attempt == 3) {
            pcode = 'TC';
            $('#bug-button').show();
            if (plevel > 0) { plevel --; }
            $id_pone_attempt.attr('class', 'kbox1_red kbox1_r').val('').focus();
            $id_ptwo_attempt.attr('class', 'kbox2 kbox2_g').prop("disabled", true);
            $('#ksubmit').attr('class', 'ksub ksub_g');
            $hint_one.attr('class', 'ls5r');
            $hint_two.attr('class', 'ls5g');
        } else {
            pcode = 'NC';
            $('#bug-button').show();
            if (plevel > 0) { plevel --; }
            $id_pone_attempt.attr('class', 'kbox1_red kbox1_r').val('').focus();
            $id_ptwo_attempt.attr('class', 'kbox2_red kbox2_r').val('');
            $('#ksubmit').attr('class', 'ksub_red ksub_r');
            $hint_one.attr('class', 'ls5r');
            $hint_two.attr('class', 'ls5r');
        }
        $('#pindex').val(pindex);
        var form_data = $('#practicequizform').serialize();
        $.post("{% url 'main:practicecheck' lesson.id %}", form_data).done(function(data) {
            practiceNext(data);
        });
    }

    $('#practicequizform').submit(function(event) {
        event.preventDefault();
        var pone_clean_att = cleanInput($id_pone_attempt.val());
        var ptwo_clean_att = cleanInput($id_ptwo_attempt.val());
        if ($('#pstrict').val() == '1') {
            if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
                processPractice(1);
            } else if ((pone_clean_att == $('#poneact').val()) && (ptwo_clean_att != $('#ptwoact').val())) {
                processPractice(2);
            } else if ((pone_clean_att != $('#poneact').val()) && (ptwo_clean_att == $('#ptwoact').val())) {
                processPractice(3);
            } else {
                processPractice(4);
            }
        } else {
            pone_clean_att = pone_clean_att.split("");
            ptwo_clean_att = ptwo_clean_att.split("");
            var pone_act_split = $('#poneact').val().split("");
            var ptwo_act_split = $('#ptwoact').val().split("");
            if ((wanakana.compare(pone_clean_att, pone_act_split)) && (wanakana.compare(ptwo_clean_att, ptwo_act_split))) {
                processPractice(1);
            } else if (wanakana.compare(pone_clean_att, pone_act_split)) {
                processPractice(2);
            } else if (wanakana.compare(ptwo_clean_att, ptwo_act_split)) {
                processPractice(3);
            } else {
                processPractice(4);
            }
        }
    });

    $(document).ready(function() {
        var urlstring = "/main/lesson/" + '{{ lesson.id }}' + "/practicequiz/grab/0";
        $.get(urlstring).done(function (data) {
            practiceNext(data);
            $id_pone_attempt.focus();
        });
    });
</script>

{% endblock %}
