<div id='wrapper'>
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">
        <div id='practiceholder'>
            <div id='pfield'>
                <div id='context' class='context-container'></div>
                <div id='english' class='practice-grammar'></div>

                <div class='promptc'>
                    <span id='hint' class='ls5'>&#8203;</span>
                </div>
                <div class="s-15"></div>
                <div id="answer">
                    <form id='quiz' action='' method='post'>{% csrf_token %}
                        <fieldset class>
                            <input id='attempt' type='text' class='kbox1' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
                        </fieldset>
                        <div class="s-5"></div>
                        <div id='literal' class='lit-c'></div>

                        <div class="s-40"></div>
                        <div id='context_b' class='context-container'></div>
                        <div id='english_b' class='practice-grammar'></div>

                        <div class='promptc'>
                            <span id='hint_b' class='ls5'>&#8203;</span>
                            <div class="s-15"></div>
                            <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                                <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
                            </a>
                        </div>
                        <fieldset class>
                            <input id='attempt_b' type='text' class='kbox2' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' />
                            <button id='ksubmit'><i class="fa fa-chevron-right"></i></button>
                        </fieldset>
                    </form>
                </div>
                <div class="s-5"></div>
                <div id='literal_b' class='lit-c'></div>
            </div>  <!-- /#pfield -->
        </div>  <!-- /#practiceholder -->
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->