{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} クイズ{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

{% include 'main/sentencequiz_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var slevel = 3;
    var sentencecode = 'A';
    var input = document.getElementById('id_sentenceattempt');
    wanakana.bind(input);

    function sentenceNext(data) {
        if (data['id'] != null) {
            $('#sentence_eng').html(data['sentence']['english']);
            $('#sentencequizform #sactual').val(data['sentence']['kana_clean']);
            $('#sentencequizform #sid').val(data['id']);
            if (data['sentence']['literal'].trim()) {
                $('#literal_one').html('<div class="white-words litcontextbox upper">literal</div>' + data['sentence']['literal'] + '&nbsp;');
            } else {
                $('#literal_one').html('&nbsp;');
            }
            $('#context_one').html(data['sentence']['context'] + '&nbsp;');
            switch (slevel) {
                case 3:
                    if (data['sentence']['disamb_location'] != 0) {
                        $('#sentence_hint').html(data['sentence']['kana_all_blank']);
                        $('#sentence_hint').addClass('ls5y');
                    } else {
                        $('#sentence_hint').html('&nbsp;');
                    } break;
                case 2:
                    $('#sentence_hint').html(data['sentence']['kana_all_blank']);
                    $('#sentence_hint').removeClass('ls5y');
                    break;
                case 1:
                    $('#sentence_hint').html(data['sentence']['kana_alt_blank']); break;
                default:
                    $('#sentence_hint').html(data['sentence']['kana']); break;
            }
            $('#sentencequizform').removeClass('abox_g abox_r');
        } else {
            $.get("{% url 'main:sentencesuccess' lesson.id %}").done(function (data) {
                $('#wrapper').html(data);
            });
        }
    }

    $('#sentencequizform').submit(function(event) {
        event.preventDefault();
        var clean_attempt = $('#id_sentenceattempt').val().replace(/[　｡。、？！「」'",.?!\s]/g, "");
        if (clean_attempt == $('#sactual').val()) {
            $('#bug-button').hide();
            $('#sentencequizform').attr('class', 'abox abox_g');
            if (slevel == 3) {
                sentencecode = 'C';
            } else {
                slevel = 3;
                sentencecode = 'N';
            }
        } else {
            $('#bug-button').show();
            $('#sentencequizform').attr('class', 'abox_red abox_r');
            if (slevel == 3) {
                sentencecode = 'I';
            } else {
                sentencecode = 'A';
            }
            if (slevel > 0) { slevel--; }
        }
        $('#scode').val(sentencecode);
        var form_data = $('#sentencequizform').serialize();
        $.post("{% url 'main:sentencecheck' lesson.id %}", form_data).done(function(data) {
            $('#sentencequizform')[0].reset();
            sentenceNext(data);
        });
    });

    $(document).ready(function() {
        $.get("{% url 'main:sentencegrab' lesson.id %}").done(function (data) {
            sentenceNext(data);
        });
    });

    $('#bug-button').click(function() {
        $('#form-modal-body').load('/news/newissue/', function () {
            modal.style.display = "block";
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });
</script>

{% endblock %}
