{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }}・{{ lesson.id }} クイズ{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

{% include 'main/sentencequiz_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/kairozu-util.js' %}'></script>

<script type='text/javascript'>
    var slevel = 3,
        sentencecode = 'A';
    var $sentencequizform = $('#sentencequizform');
    var input = document.getElementById('id_sentenceattempt');
    wanakana.bind(input);

    $sentencequizform.submit(function(event) {
        event.preventDefault();
        var clean_attempt = cleanInput($('#id_sentenceattempt').val());
        if (clean_attempt == $('#sactual').val()) {
            $('#bug-button').hide();
            $sentencequizform.attr('class', 'abox abox_g');
            if (slevel == 3) {
                sentencecode = 'C';
            } else {
                slevel = 3;
                sentencecode = 'N';
            }
        } else {
            $('#bug-button').show();
            $sentencequizform.attr('class', 'abox_red abox_r');
            if (slevel == 3) { sentencecode = 'I'; } else { sentencecode = 'A'; }
            if (slevel > 0) { slevel--; }
        }
        $('#scode').val(sentencecode);
        var form_data = $sentencequizform.serialize();
        $.post("{% url 'main:sentencecheck' lesson.id %}", form_data).done(function(data) {
            $sentencequizform[0].reset();
            sentenceNext(data, 'squiz');
        });
    });

    $(document).ready(function() {
        $.get("{% url 'main:sentencegrab' lesson.id %}").done(function (data) {
            sentenceNext(data, 'squiz');
        });
    });
</script>

{% endblock %}
