<div id='isl2'></div>

<div id="allwrap">
    <!-- page-content-wrapper -->
    <div id='page-content-wrapper'>
	    <div class="container container-kairozu">
            <div class='row'>
                <div class='col-lg-12'>

                    {% include 'main/sentence_base.html' %}

                </div>  <!-- /.col-lg-12 -->
            </div>  <!-- /.row -->

            <div class="reference-link smaller">
                <a id="reflink" href="">View Lesson</a>
            </div>

        </div>  <!-- /.container /.container-kairozu -->
    </div>  <!-- /#page-content-wrapper -->
</div>