<div id='isl2'></div>

<div id="allwrap">
    <div class="container container-kairozu">
        <div class="headsquish"></div>
        <div class='row faded-white-div'>
            <div class='col-lg-12'>

                {% include 'main/sentence_base.html' %}

            </div>  <!-- /.col-lg-12 -->
        </div>  <!-- /.row -->
        <div class='row faded-white-div'>
            <div class='col-lg-12'>
                <div class="reference-link smaller">
                    <a id="reflink" href="">View Lesson</a>
                </div>
                <div class="s-30"></div>
            </div>
        </div>
        <div class="s-100"></div>
    </div>  <!-- /.container /.container-kairozu -->
</div>