{% extends 'kairozu.html' %}
{% block title %}Kairozu Sentence Review{% endblock %}

{% load static %}
{% block content %}

{% include 'main/sentenceq_review_base.html' %}

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var input = document.getElementById('attempt');
    wanakana.bind(input);

    var english = $('#english'),
        literal = $('#literal'),
        context = $('#context'),
        hint = $('#hint'),
        quiz = $('#quiz'),
        attempt = $('#attempt'),
        pagewrap = $('#allwrap'),
        reflink = $("#reflink"),
        savestat = $('#savenow'),
        bug = $('#bug-button');

    var qdata = [],
        qcount = 0,
        q = 0,
        totalq = 0,
        level = 3,
        repeat = 0;

    function sentence() {
        context.html('&#8203;' + qdata[q]['sentence']['context'] + '&#8203;');
        literal.html('<div class="white-words litcontextbox upper">literal</div>' + qdata[q]['sentence']['literal'] + '&#8203;');
        english.html(qdata[q]['sentence']['english']);
        reflink.attr("href", '/main/lesson/' + qdata[q]['sentence']['lesson'] + '/');
        {% if user.profile.preferkanji %}
            switch(level) {
                case 3:
                    if (qdata[q]['sentence']['disamb_location'] != 0) {
                        hint.html(qdata[q]['sentence']['kanji_all_blank']);
                        hint.addClass('ls5y');
                    } else {
                        hint.html('&#8203;');
                    } break;
                case 2:
                    hint.html(qdata[q]['sentence']['kanji_all_blank']);
                    hint.removeClass('ls5y');
                    break;
                case 1:
                    hint.html(qdata[q]['sentence']['kanji_alt_blank']); break;
                default:
                    hint.html(qdata[q]['sentence']['f_kanji']); break;
            }
        {% else %}
            switch(level) {
                case 3:
                    if (qdata[q]['sentence']['disamb_location'] != 0) {
                        hint.html(qdata[q]['sentence']['kana_all_blank']);
                        hint.addClass('ls5y');
                    } else {
                        hint.html('&#8203;');
                    } break;
                case 2:
                    hint.html(qdata[q]['sentence']['kana_all_blank']);
                    hint.removeClass('ls5y');
                    break;
                case 1:
                    hint.html(qdata[q]['sentence']['kana_alt_blank']); break;
                default:
                    hint.html(qdata[q]['sentence']['f_kana']); break;
            }
        {% endif %}
    }

    function getq() {
        $.get("{% url 'main:reviewsentencegrab' %}").done(function (data) {
            qdata = data;
            totalq = qdata.length;
            q = 0;
            if (totalq > 0) {
                sentence();
            } else {
                $('#extra').hide();
                $('#sentenceholder').html('<div class=\'text-align-center vocab-challenge\'><i class=\'fa fa-refresh fa-3x fa-spin orange-words\' aria-hidden=\'true\'></i></div>');
                $.get("{% url 'main:reviewsentencecurrent' %}").done(function (data) {
                    pagewrap.html(data);
                });
            }
        });
    }

    function saveq() {
        savestat.html('<i class=\'fa fa-save fa-spin orange-words\' aria-hidden=\'true\'></i>');
        if (q < totalq) {
            sentence();
        } else {
            literal.html('&#8203;');
            hint.html('&#8203;');
            context.html('&#8203;');
            english.html('<div class=\'text-align-center vocab-challenge\'><i class=\'fa fa-refresh fa-3x fa-spin orange-words\' aria-hidden=\'true\'></i></div>');
        }
        $.ajax({
            type: "POST",
            url: "{% url 'main:reviewsentencesave' %}",
            dataType: 'json',
            data: {qdata: JSON.stringify(qdata)},
            success: function (data) {
                if (data.error) {
                    location.reload();
                } else {
                    qcount = 0;
                    savestat.html('<i class=\'fa fa-save green-words\' aria-hidden=\'true\'></i>');
                     if (q >= totalq) {
                        getq();
                    }
                }
            }
        });
    }

    function processQuiz(attempt) {
        if (attempt === 1) {
            bug.hide();
            quiz.removeClass("abox_red");
            quiz.addClass("abox_g").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { quiz.removeClass("abox_g"); });
            qdata[q]['last_attempt'] = addTime(0);
            if (level === 3) {
                if (repeat) {
                    qdata[q]['next_review'] = addTime(1);
                    repeat = 0;
                } else {
                    qdata[q]['score'] = qdata[q]['score'] + 1;
                    qdata[q]['next_review'] = addTime(qdata[q]['score']);
                }
                q++;
                qcount++;
            } else {
                level = 3;
                repeat = 1;
            }
        } else {
            bug.show();
            quiz.addClass("abox_red abox_r").one(
                "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function() { quiz.removeClass("abox_r"); });
            qdata[q]['score'] = 0;
            if (level > 0) { level--; }
        }
        savestat.html('<a href=\'#\' onclick=\'saveq()\'><i class=\'fa fa-save\' aria-hidden=\'true\'></i></a>');
        quiz[0].reset();
        if (((q < totalq) && (qcount > 9)) || (q >= totalq)) {
            saveq();
        } else {
            sentence();
        }
    }

    quiz.submit(function(event) {
        event.preventDefault();
        if (attempt.val() !== '') {
            var clean = cleanInput(attempt.val()),
                actual_kanji = qdata[q]['sentence']['kanji_clean'],
                actual = qdata[q]['sentence']['kana_clean'];
            if ('{{ user.profile.strictmode }}' === 'True' || (qdata[q]['sentence']['strict'])) {
                if (clean === actual || clean === actual_kanji) {
                    processQuiz(1);
                } else {
                    processQuiz(0);
                }
            } else {
                actual = actual.split("");
                actual_kanji = actual_kanji.split("");
                clean = clean.split("");
                if (wanakana.compare(clean, actual) || wanakana.compare(clean, actual_kanji)) {
                    processQuiz(1);
                } else {
                    processQuiz(0);
                }
            }
        }
    });

    $(document).ready(function() { getq(); });
</script>

{% endblock %}
