{% extends 'kairozu.html' %}
{% block title %}Kairozu Sentence Analysis{% endblock %}

{% load static %}

{% block content %}

<!--#page-content-wrapper-->
<div id="page-content-wrapper">
	<div class="container-fluid">

        <table width="100%">

            <tr>
                <td colspan="2" class="text-align-center">
                    <h2 class="opensans">
                        {% if lesson %}
                            {% if last != 0 %}
                                <a class="smaller" href="{% url 'main:sa_lesson' last %}"><< Last</a>
                            {% else %}
                                <span class="smaller"><< Last</span>
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'main:interface' chapter.id %}">Chapter {{ chapter.id }}</a>, <a href="{% url 'main:lesson' lesson.id %}">Lesson {{ lesson.id }}</a> Analysis (<a href="/admin/main/sentence/?lesson__id__exact={{ lesson.id }}">{{ object_list.count }}</a>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="smaller" href="{% url 'main:sa_lesson' next %}">Next >></a>
                        {% else %}
                            {% if last != 0 %}
                                <a class="smaller" href="{% url 'main:sa_chapter' last %}"><< Last</a>
                            {% else %}
                                <span class="smaller"><< Last</span>
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'main:interface' chapter.id %}">Chapter {{ chapter.id }}</a> ALL Sentence Analysis ({{ object_list.count }})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="smaller" href="{% url 'main:sa_chapter' next %}">Next >></a>
                        {% endif %}
                    </h2>
                    <div class="spacer-20"></div>
                </td>
            </tr>

            <tr>
                <td style="vertical-align: top;" width="60%">
                    <table>
                        {% for sentence in object_list %}
                            <tr>
                                <td>
                                    <a name="{{ forloop.counter }}"></a><span class="bold">{{ forloop.counter }}&nbsp;</span>
                                </td>
                                <td class="raleway" style="padding: 2px;">{{ sentence.english }}&nbsp;</td>
                                <td>
                                    {% for tag in sentence.s_tags %}
                                        {{ tag }}&nbsp;
                                    {% endfor %}&nbsp;
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>{{ sentence.kprocess }}&nbsp;</td>
                                <td>
                                    {% for posid in sentence.posids %}
                                        {{ posid }}&nbsp;
                                    {% endfor %}&nbsp;
                                </td>
                                <td>
                                    {% for posname in sentence.jpcab %}
                                        <a href="http://jisho.org/search/{{ posname }}">{{ posname }}</a>&nbsp;
                                    {% endfor %}&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>

                <td style="vertical-align: top;" width="40%">
                    <table>
                        {% for sentence in object_list %}
                            {% if forloop.last %}
                                {% if sentence.missingvocab %}
                                    <tr>
                                        <td class="larger">Vocab Surplus</td>
                                    </tr>
                                    <tr>
                                        <td class="raleway">
                                            {% for word in sentence.missingvocab %}
                                                {{ word }},
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                {% endif %}
                                {% if sentence.missingwords %}
                                    <tr>
                                        <td class="larger">Unused <a href="{% url 'main:vocablist' chapter.id %}">Chapter {{ chapter.id }} Vocabulary</a></td>
                                    </tr>
                                    <tr>
                                        <td class="raleway">
                                            {% for word in sentence.missingwords %}
                                                {{ word }},
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="larger">Most Frequently Used Words</td>
                                </tr>
                                <tr>
                                    <td class="raleway">{{ sentence.fullcount2|safe }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>

            </tr>

        </table>

        <div class="spacer-100"></div>




    </div>  <!--/.container .container-fluid-->
</div>  <!--/#page-content-wrapper-->

{% endblock %}
