<div id='wrapper'>
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">
        {% include 'main/sentenceq_base_inner.html' %}
    </div>

    <div id='extra' class="fc-general-col">
        {% if user.profile.currentlesson > lesson.id %}
            <div id="finished-quiz">
                <i class="fa fa-star green-words" aria-hidden="true"></i><span class="grey-words smaller"> You've successfully completed this quiz; sentences will loop for as long as you'd like to practice.</span>
            </div>
        {% endif %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->