<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="{% url 'main:interface' chapter.id %}">{{ chapter.title }}</a></li>
        <div class="s-5"></div>
        <li class="bold">
            {% if user.profile.currentchapter >= chapter.id %}
                <a href="{% url 'main:vocablist' chapter.id %}">{{ chapter.title }} VOCABULARY</a>
            {% else %}
                {{ chapter.title }} VOCABULARY
            {% endif %}
        </li>

		<li>
            {% if user.profile.currentchapter >= chapter.id %}
                <a href="{% url 'main:vocabquiz' chapter.id %}">
                    <span class="pad-left-15">Vocabulary Quiz</span>
                    <div class="progress-status">
                        {% if user.profile.currentvocab > chapter.id %}
                            <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                        {% else %}
                            <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <span class="pad-left-15">Vocabulary Quiz</span>
                <div class="progress-status">
                    <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            {% endif %}
		</li>

        <div class="s-15"></div>
        <li class="bold">
			{% if user.profile.currentvocab > chapter.id %}
				<a href="{% url 'main:expressionlist' chapter.id %}">{{ chapter.title }} EXPRESSIONS</a>
			{% else %}
				{{ chapter.title }} EXPRESSIONS
			{% endif %}
        </li>

        <li>
			{% if user.profile.currentvocab > chapter.id %}
                <a href="{% url 'main:expressionquiz' chapter.id %}">
                    <span class="pad-left-15">Expression Quiz</span>
                    <div class="progress-status">
                        {% if user.profile.currentexpression > chapter.id %}
                            <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                        {% else %}
                            <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                        {% endif %}
                    </div>
                </a>
			{% else %}
                <span class="pad-left-15">Expression Quiz</span>
                <div class="progress-status">
                    <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
			{% endif %}
        </li>

        <div class="s-15"></div>
		<li class="bold">
			{% if user.profile.currentexpression > chapter.id %}
				<a href="{% url 'main:summary' chapter.id %}">{{ chapter.title }} GRAMMAR</a>
			{% else %}
				{{ chapter.title }} GRAMMAR
			{% endif %}
		</li>
	
        {% for lesson in chapter.lesson_set.all %}
			<li>
				{% if user.profile.currentlesson >= lesson.id and user.profile.currentexpression > chapter.id %}
                    <a href="{% url 'main:lesson' lesson.id %}"><span class="pad-left-15">{{ lesson.title }}</span>
                        <div class="progress-status">
                            {% if user.profile.currentlesson > lesson.id %}
                                <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% else %}
                                <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% endif %}
                        </div>
                    </a>
				{% else %}
                    <span class="pad-left-15">{{ lesson.title }}</span>
                    <div class="progress-status">
                        <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
				{% endif %}
			</li>
		{% endfor %}

        <div class="s-15"></div>
        <li class="bold">
			{% if user.profile.currentstory > chapter.id %}
				<a href="{% url 'main:exercises' chapter.id %}">{{ chapter.title }} EXERCISES</a>
			{% else %}
				{{ chapter.title }} EXERCISES
			{% endif %}
		</li>

        {% for exercisesb in chapter.exercise_set.all %}
			<li>
                {% if user.profile.currentstory > chapter.id and user.profile.currentexercise >= exercisesb.exercise_order %}
                    {% if exercisesb.exercise_type == 'passage' %}
                        <a href="{% url 'main:exercisepassage' chapter.id exercisesb.id %}"><span class="pad-left-15"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>　{{ exercisesb.exercise_word }}</span>
                            <div class="progress-status">
                                {% if user.profile.currentexercise > exercisesb.exercise_order %}
                                    <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                                {% elif user.profile.attemptexercise == exercisesb.exercise_order %}
                                    <span class="red-words normal"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                                {% endif %}
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'main:exercisedialogue' chapter.id exercisesb.id %}"><span class="pad-left-15"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>　{{ exercisesb.exercise_word }}</span>
                            <div class="progress-status">
                                {% if user.profile.currentexercise > exercisesb.exercise_order %}
                                    <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                                {% elif user.profile.attemptexercise == exercisesb.exercise_order %}
                                    <span class="red-words normal"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% else %}
                    {% if exercisesb.exercise_type == 'passage' %}
                        <span class="pad-left-15"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>　{{ exercisesb.exercise_word }}</span>
                        <div class="progress-status">
                            {% if user.profile.currentexercise > exercisesb.exercise_order %}
                                <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% elif user.profile.attemptexercise == exercisesb.exercise_order %}
                                <span class="red-words normal"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                            {% else %}
                                <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% endif %}
                        </div>
                    {% else %}
                        <span class="pad-left-15"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>　{{ exercisesb.exercise_word }}</span>
                        <div class="progress-status">
                            {% if user.profile.currentexercise > exercisesb.exercise_order %}
                                <span class="green-words normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% elif user.profile.attemptexercise == exercisesb.exercise_order %}
                                <span class="red-words normal"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                            {% else %}
                                <span class="normal"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
			</li>
		{% endfor %}

        {% if user.profile.currentchapter > chapter.id %}
            <li><br /></li>
            <li class="bold">
                <span class="green-words">{{ chapter.title }}　は　おわりました！</span>
                <a href="{% url 'main:interface' user.profile.currentchapter %}">第 {{ user.profile.currentchapter }} 章　に　いきましょう〜</a>
            </li>
        {% endif %}

		<br /><br /><br /><br /><br />
		
	</ul>	<!-- /.sidebar-nav -->
</div>	<!-- /#sidebar-wrapper -->
