<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="{% url 'main:interface' chapter.id %}">{{ chapter.title }}</a></li>
        <div class="s-5"></div>
        <li class="bold">
            <a href="{% url 'main:vocablist' chapter.id %}">{{ chapter.title }} VOCABULARY</a>
        </li>
		<li>
            <a href="{% url 'main:vocabquiz' chapter.id %}"><span class="pad-left-15">Vocabulary Quiz</span></a>
		</li>

        <div class="s-15"></div>
		<li class="bold">
            <a href="{% url 'main:summary' chapter.id %}">{{ chapter.title }} GRAMMAR</a>
		</li>
	
        {% for lesson in chapter.lesson_set.all %}
			<li>
                <a href="{% url 'main:lesson' lesson.id %}"><span class="pad-left-15">{{ lesson.title }}</span></a>
			</li>
		{% endfor %}

        <div class="s-15"></div>

        <li class="bold">
            <span class="green-words">{{ chapter.title }}　は　おわりました！</span>
        </li>

		<br /><br /><br /><br />
		
	</ul>	<!-- /.sidebar-nav -->
</div>	<!-- /#sidebar-wrapper -->
