{% include 'main/sidebar.html' %}

<!-- page-content-wrapper -->
<div id='page-content-wrapper'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12'>
                <div id='vocabholder'>
                    <div id='vocabfield'>
                        <h1>おめでとう～！</h1>
                        <h2>You've finished the {{ which_success }}</h2>
                        {% include 'main/successnext.html' %}
                    </div>  <!-- /#vocabfield -->
                </div>  <!-- /#vocabholder -->
            </div>  <!-- /.col-lg-12 -->
        </div>  <!-- /.row -->
    </div>  <!-- /.container-fluid -->
</div>  <!-- /#page-content-wrapper -->