{% load kairozu_filters %}

<div class="s-5"></div>
<h3>つぎ　は？</h3>
    <h4>You're currently working on <a href="{% url 'main:interface' chapter.id %}">{{ chapter.title }}</a>.</h4>

<div class="s-5"></div>
<ul>
    <li>Need more work with hiragana and/or katakana? <a href="{% url 'sandbox:japanesekana' %}">Japanese Kana</a> has resources to help.</li>
    <li>Other useful tools for studying Japanese can be found in the <a href="{% url 'sandbox:main' %}">Kairozu Sandbox</a>.</li>
    <li>The <a href="{% url 'news:main' %}">Kairozu News</a> page has site updates and bug progress reports.</li>
</ul>