{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Grammar{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load kairozu_summary from kairozu_tables %}

{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
<div id="wrapper">
{% include 'main/sidebar.html' %}
    <div class="fc-general-col">
        <h1>{{ chapter.title }} Grammar Summary</h1>
        <div class="s-20"></div>
        <div class="table-responsive">
            <div class="ht-summary">
                <table class="generaltable">
                    {% for lesson in object_list %}
                        <tr>
                            <td><span class="bold">{{ lesson.title }}</span></td>
                            {% if user.profile.currentexpression > chapter.id and user.profile.currentlesson >= lesson.id %}
                                <td><a href="{% url 'main:lesson' lesson.id %}">{{ lesson.overview }}</a></td>
                            {% else %}
                                <td class="grey-words">{{ lesson.overview }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="s-30"></div>

        {% for lesson in object_list %}
            {% if lesson.point_active %}
                <div class="fc-general-col">
                    <h2 class="lessonhead margin-top-0">{{ lesson.f_english|safe }}</h2>
                    <h2 class="lessonhead margin-top-0 mono">{{ lesson.f_hiragana|safe }}</h2>
                    <h4 class="raleway">{{ lesson.overview }}</h4>

                    <div class="s-10"></div>

                    {% if lesson.examples %}
                        <ul class="fa-ul">
                            {% for example in lesson.examples.all %}
                                <li class="mono">
                                    <i class="fa-li fa fa-arrow-right mdgrey-words" aria-hidden="true"></i>
                                    {{ example.f_english|safe }}<br />
                                    {{ example.f_hiragana|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="s-20"></div>

                    {% kairozu_summary lesson %}

                    {% if not forloop.last %}
                        <div class="s-30"></div>
                        <div class="border-bottom-grey-dashed"></div>
                        <div class="s-40"></div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="s-100"></div>
</div>  <!-- /#wrapper -->

{% endblock %}
