{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Vocab Quiz{% endblock %}
{% block sidecollapse %}<div id="sidecollapse"><a id="menu-toggle" href="#" class="btn-menu toggle"><span class="glyphicon glyphicon-list"></span></a></div>{% endblock %}

{% load static %}
{% block content %}

<div id='island'></div>

<!-- wrapper -->
<div id='wrapper'>
{% include 'main/sidebar.html' %}

    <!-- page-content-wrapper -->
    <div id='page-content-wrapper'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-lg-12'>

                    {% include 'main/vocab_base.html' %}

                </div>  <!-- /.col-lg-12 -->
            </div>  <!-- /.row -->
            {% if user.profile.currentvocab > chapter.id %}
                <div id="finished-quiz">
                    <i class="fa fa-star green-words" aria-hidden="true"></i><span class="grey-words smaller"> You've successfully completed this quiz; words will loop for as long as you'd like to practice.</span>
                </div>
            {% endif %}
            <div id="katakana-tips" style="display: none;">
                <i class="fa fa-star red-words" aria-hidden="true"></i><span class="grey-words smaller"> This vocabulary uses katakana characters (press shift when typing).</span>
            </div>
        </div>  <!-- /.container-fluid -->
    </div>  <!-- /#page-content-wrapper -->

</div>  <!-- /#wrapper -->

<!-- wanakana, menu toggle, and get/post mechanics -->
<script type='text/javascript' src='{% static 'js/wanakana.js' %}'></script>
<script type='text/javascript' src='{% static 'js/cookiemonster.js' %}'></script>

<script type='text/javascript'>
    var vlevel = 3;
    var vocabcode = 'A';
    var input = document.getElementById('id_vocabattempt');
    wanakana.bind(input);

    function vocabNext(data) {
        if (data['id'] != null) {
            $('#literal_one').html('&nbsp;' + data['vocab']['note'] + '&nbsp;');
            $('#vocab_english').html(data['vocab']['english']);
            $('#vocabquizform #vactual').val(data['vocab']['kana_clean']);
            $('#vocabquizform #vid').val(data['id']);
            switch(vlevel) {
                case 3:
                    $('#hint_block').html('&nbsp;'); break;
                case 2:
                    $('#hint_block').html(data['vocab']['kana_all_blank']); break;
                case 1:
                    $('#hint_block').html(data['vocab']['kana_alt_blank']); break;
                default:
                    $('#hint_block').html(data['vocab']['kana']); break;
            }
            $('#vocabquizform').removeClass('answer_box_g answer_box_r');
            if (data['vocab']['katakana'] == true) {
                $('#katakana-tips').show();
            } else {
                $('#katakana-tips').hide();
            }
        } else {
            $.get("{% url 'main:vocabsuccess' chapter.id %}").done(function (data) {
                $('#wrapper').html(data);
            });            
        }
    }
    $('#vocabquizform').submit(function(event) {
        event.preventDefault();
        var clean_attempt = $('#id_vocabattempt').val().replace(/[　。、？！「」\'\",.?!\s]/g, "");
        if (clean_attempt == $('#vactual').val()) {
            $('#bug-button').hide();
            $('#vocabquizform').attr('class', 'answer_box answer_box_g');
            if (vlevel == 3) {
                vocabcode = 'C';
            } else {
                vlevel = 3;
                vocabcode = 'N';
            }
        } else {
            $('#bug-button').show();
            $('#vocabquizform').attr('class', 'answer_box_red answer_box_r');
            if (vlevel == 3) {
                vocabcode = 'I';
            } else {
                vocabcode = 'A';
            }
            if (vlevel > 0) { vlevel--; }
        }
        $('#vocabquizform #vcode').val(vocabcode);
        var form_data = $('#vocabquizform').serialize();
        $.post("{% url 'main:vocabcheck' chapter.id %}", form_data).done(function(data) {
            $('#vocabquizform')[0].reset();
            vocabNext(data);
        });
    });

    $(document).ready(function() {
        $.get("{% url 'main:vocabgrab' chapter.id %}").done(function (data) {
            vocabNext(data);
        });
    });

    $('#bug-button').click(function() {
        $('#form-modal-body').load('/news/newissue/', function () {
            $('#form-modal').modal('toggle');
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });
</script>

{% endblock %}
