{% extends 'kairozu.html' %}
{% block title %}Kairozu {{ chapter.title }} Vocabulary{% endblock %}
{% block sidecollapse %}
    {% include 'main/sidecollapse.html' %}
{% endblock %}

{% load static %}
{% block content %}

    <div id="wrapper">
        {% include 'main/sidebar.html' %}
        <div class="fc-general-col">
            <h1>{{ chapter.title }} Vocabulary</h1>

            {% if user.profile.currentvocab > chapter.id %}
                <p class="raleway">Congrats! You've finished the vocabulary for this chapter, but the <a href="{% url 'main:vocabquiz' chapter.id %}">Vocabulary Quiz</a> interface is always available if you want more practice.</p>
            {% else %}
                <p class="raleway">This is a list of the vocabulary used in the {{ chapter.title }} sentences. Complete the <a href="{% url 'main:vocabquiz' chapter.id %}">Vocabulary Quiz</a> to unlock the expressions for this chapter.</p>
            {% endif %}

            <span class="smaller bold raleway">Guide to Vocabulary List Symbols</span>
            <ul class="thin-list raleway">
                <li class="smaller"><i class="fa fa-star red-words" aria-hidden="true"></i> words use the <a href="{% url 'sandbox:japanesekana' %}">katakana character set</a>; these words are often foreign in origin or onomatopoeic. Hold shift when entering text to switch to katakana.</li>
                <li class="smaller"><span class="green-words partofspeech">い</span>, <span class="partofspeech blue-words">な</span>, and <span class="partofspeech orange-words">の</span> indicate adjective type: い-adjectives, な-adjectives, and の-adjectives respectively.</li>
                <li class="smaller">Verbs labeled with <span class="partofspeech purple-words">V1</span> are ichidan, class 1, or る-verbs. Most verbs that end in 〜いる and 〜える are ichidan verbs.</li>
                <li class="smaller">Verbs labeled with <span class="partofspeech orange-words">V5</span> are godan, class 5, or う-verbs. Verbs that do not end in 〜いる and 〜える (as well as a few that do) are godan verbs.</li>
                <li class="smaller"><i class="fa fa-exclamation-triangle ltgrey-words" aria-hidden="true"></i> indicates an irregular verb: くる, する, and verbs that end in 〜する.</li>
            </ul>

            {% include 'main/vocablist_base.html' %}

        </div>  <!-- /.fc-general-col -->
    </div>  <!-- /#wrapper -->

{% endblock %}
