<div id='vocabholder'>
    <div id='vfield'>
        <div id='literal_one' class='vocab-note text-align-center'></div>
        <div id='vocab_english' class='vocab-challenge text-align-center'></div>

        <div class='vocab-promptc text-align-center wordsp0-5'>
            <span id='hint_block' class='ls5r'>&nbsp;</span>
            <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
            </a>
        </div>

        <form id='vocabquizform' action='' method='post' class='abox'>{% csrf_token %}
            <input id='id_vocabattempt' type='text' name='vocab_attempt' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
            <input id='vactual' type='hidden' name='vocab_actual' value='' />
            <input id='vcode' type='hidden' name='vocab_code' value='A' />
            <input id='vid' type='hidden' name='vocabrecord_id' value='' />
            <input type='submit' value='&#8680;' />
        </form>
    </div>  <!-- /#vfield -->
</div>  <!-- /#vocabholder -->