<div id='vocabholder'>
    <div id='vfield'>

        <div id='context' class='vocab-note text-align-center'></div>
        <div id='english' class='vocab-challenge text-align-center'></div>

        <div class='vocab-promptc text-align-center'>
            <span id='hint' class='ls5r'>&#8203;</span>
            <a id="bug-button" href="#" tabindex="-1" style="display: none;">
                <i id="report-issue" class="fa fa-bug red-words" aria-hidden="true"><span class="raleway">&nbsp;Error?</span></i>
            </a>
        </div>

        <form id='quiz' action='' method='post' class='abox'>{% csrf_token %}
            <input id='attempt' type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' autofocus />
            <input type='submit' value='&#8680;' />
        </form>

    </div>  <!-- /#vfield -->
</div>  <!-- /#vocabholder -->