{% extends 'kairozu.html' %}
{% block title %}Kairozu Activation Invalid{% endblock %}
{% load static %}

{% block content %}



<div class="fc">
    <div class="fc-flex-50">
        <img alt="かい" id="welcomekoi" src="{% static 'img/welcome_koi.png' %}" />
    </div>
    <div class="fc-flex-50">
        <div class="s-10"></div>
        <h1>Oh no!</h1>
        <div class="s-10"></div>
        <h2>The confirmation link was invalid, possibly because it has already been used.</h2>
        <div class="s-10"></div>
        <h3>Having trouble with registration? Oh dear. Fish emergency! Please let kairozu@kairozu.com know.</h3>
    </div>
</div>

{% endblock %}